Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Fix LanguageSwitcher: Remove translation key that doesn't exist
  apps/web/src/components/shared/LanguageSwitcher.tsx
Owners: @frontend-team

Fix DownloadIcon: Replace with Download from lucide-react
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Fix null reference error: Add null checks for result.lc_number
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Fix null reference errors: Add null checks for candidate.lc_number in duplicate components
  apps/web/src/components/bank/DuplicateCandidatesPanel.tsx
  apps/web/src/components/bank/MergeModal.tsx
Owners: @frontend-team

Fix MergeModal: Use null instead of non-null assertion for candidate prop
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Fix SelectItem empty string values: Replace empty strings with 'none'/'all' values
  apps/web/src/pages/bank/BulkJobs.tsx
Owners: @frontend-team

Fix FilterBar SelectItem: Replace empty string with 'all' value for queue filter
  apps/web/src/components/shared/FilterBar.tsx
Owners: @frontend-team

Fix BankUsersPage import: Add missing import statement
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

feat(backend): Add security headers middleware and sanitize audit logs
  apps/api/app/middleware/audit_middleware.py
  apps/api/app/middleware/security_headers.py
  apps/api/app/models/api_tokens_webhooks.py
  apps/api/app/routers/bank.py
  apps/api/app/routers/bank_ai.py
  apps/api/app/routers/bank_evidence.py
  apps/api/app/routers/bank_orgs.py
  apps/api/app/routers/bank_webhooks.py
  apps/api/app/routers/bank_workflow.py
  apps/api/app/routers/validate.py
  apps/api/app/schemas/bank_orgs.py
  apps/api/app/services/webhook_service.py
  apps/api/main.py
  apps/api/migrations/versions/20250127_add_org_indexes.py
  apps/api/migrations/versions/20250127_add_webhook_hardening.py
  apps/api/migrations/versions/20250127_backfill_org_id.py
Owners: @backend-team, @security-team

docs: Add Bank Dashboard launch audit - remaining items
  docs/BANK_LAUNCH_AUDIT.md
Owners: @documentation-team

docs: Add Bank Dashboard launch test scripts
  docs/BANK_LAUNCH_TESTS.md
Owners: @documentation-team

test: Add org isolation test setup and verification scripts
  apps/api/scripts/setup_org_isolation_test.py
  apps/api/scripts/verify_org_isolation.py
Owners: @backend-team, @security-team

docs: Add Bank Dashboard launch test execution guide
  docs/BANK_LAUNCH_TEST_EXECUTION.md
Owners: @documentation-team

fix: Add org filtering to saved views list endpoint
  apps/api/app/routers/bank_saved_views.py
  apps/api/scripts/verify_org_isolation_code.py
Owners: @backend-team, @security-team

test: Add automated critical flows and browser compatibility tests
  apps/api/scripts/check_browser_compatibility.py
Owners: @backend-team, @security-team

test: Complete automated test suite - all tests passing
  docs/BANK_LAUNCH_TEST_RESULTS.md
Owners: @documentation-team

docs: Add practical test guide - orgs are optional
  docs/BANK_LAUNCH_TESTS.md
  docs/BANK_LAUNCH_TESTS_SIMPLE.md
Owners: @documentation-team

docs: Add explanation of 'All Organizations' feature
  docs/UNDERSTANDING_ORG_FEATURE.md
Owners: @documentation-team

docs: Add comprehensive guide for creating orgs and test data
  apps/api/scripts/setup_org_isolation_test.py
  docs/HOW_TO_CREATE_ORGS.md
Owners: @backend-team, @security-team, @documentation-team

feat: Add UI for bank org management + apply all migrations to Supabase
  apps/api/app/routers/bank_orgs.py
  apps/web/src/api/bank.ts
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/bank/BankOrgsPage.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: Update feature flags and improve 429 quota responses
  apps/api/app/routers/bank_ai.py
  apps/web/src/config/importerFeatureFlags.ts
Owners: @backend-team, @security-team, @frontend-team, @devops-team

docs: Add Importer + Exporter Launch Go/No-Go assessment
  docs/LAUNCH_GO_NOGO_IMPORTER_EXPORTER.md
Owners: @documentation-team

fix: Update OrgSwitcher component to handle empty organization states
  apps/web/src/components/bank/OrgSwitcher.tsx
Owners: @frontend-team

fix: Enable real API call for Exporter LC upload
  apps/api/app/routers/validate.py
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Add Exporter LC upload diagnostic checklist
  docs/EXPORTER_UPLOAD_DIAGNOSTIC.md
Owners: @documentation-team

fix: Handle UTF-8 decoding errors in form data parsing
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

docs: Add comprehensive setup guide for production deployment
  docs/SETUP_GUIDE.md
Owners: @documentation-team

docs: Add comprehensive Render production environment variables guide
  docs/RENDER_PRODUCTION_ENV.md
Owners: @documentation-team

fix: Resolve circular import in model files
  apps/api/app/models/api_tokens_webhooks.py
  apps/api/app/models/bank_orgs.py
  apps/api/app/models/duplicate_detection.py
Owners: @backend-team, @security-team

fix: Complete refund_payment function with missing return and except blocks
  apps/api/app/routers/billing.py
Owners: @backend-team, @security-team

fix: Add missing stripe package to requirements.txt
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: Rename WebhookDelivery to PartnerWebhookDelivery in admin.py
  apps/api/app/models/admin.py
Owners: @backend-team, @security-team

fix: Import UsageAction directly in models/__init__.py
  apps/api/app/models/__init__.py
Owners: @backend-team, @security-team

fix: Correct import path for UsageAction in models/__init__.py
  apps/api/app/models/__init__.py
Owners: @backend-team, @security-team

feat: Add DeepSeek OCR configuration and integration
  apps/api/app/config.py
  apps/api/app/models/__init__.py
  apps/api/app/ocr/deepseek_ocr.py
  apps/api/app/ocr/factory.py
  apps/api/env.example
  docs/DEEPSEEK_OCR_QUICKSTART.md
  docs/DEEPSEEK_OCR_SETUP.md
Owners: @backend-team, @security-team, @documentation-team

fix: Add missing User import in bank.py router
  apps/api/app/routers/bank.py
Owners: @backend-team, @security-team

fix: Add missing ValidationSession import in bank.py router
  apps/api/app/routers/bank.py
Owners: @backend-team, @security-team

fix: Import Form for bulk upload endpoint
  apps/api/app/routers/bank.py
Owners: @backend-team, @security-team

fix: Import Any in text_guard
  apps/api/app/services/text_guard.py
Owners: @backend-team, @security-team

fix: add pass to per-LC interval guard
  apps/api/app/services/ai_usage_tracker.py
Owners: @backend-team, @security-team
