Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

feat(extraction): checkpoint exporter launch lane hardening
  apps/api/app/ocr/google_documentai.py
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/doc_types.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/notification_service.py
  apps/api/scripts/day1_smoke_gate.py
  apps/api/scripts/day2_batch_runner.py
  apps/api/scripts/iso10_diagnostic_runner.py
  apps/api/tools/generate_mixed_exporter_batch_01.py
  docs/EXTRACTION_CORE_V1_PROMPT_FOR_GPT54.md
Owners: @backend-team, @security-team, @documentation-team

feat(extraction): add registry-backed canonical normalization
  apps/api/app/reference_data/ports.py
  apps/api/app/services/extraction/launch_pipeline.py
Owners: @backend-team, @security-team

fix(validate): preserve raw eligibility and tighten critical field surfacing
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(reference-data): export registry accessors for startup imports
  apps/api/app/reference_data/__init__.py
Owners: @backend-team, @security-team

fix(smoke): scope field diagnostics to unresolved criticals
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

feat(extraction): separate extraction model routing from validation layers
  apps/api/app/config.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/llm_provider.py
Owners: @backend-team, @security-team

fix(smoke): filter field status and hints to unresolved criticals
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

feat(validate): add side-by-side validation contract v1
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): add arbitration policy signals to validation contract
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): add escalation scaffolding to arbitration contract
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): invoke L2/L3 arbitration on escalation triggers
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): classify veto and escalation rule categories
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): improve validation evidence quality surfaces
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): surface domain risk summaries in arbitration evidence
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): add semantic reason grouping to evidence
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): clarify decision basis in evidence semantics
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(smoke): prefer semantically plausible source hints
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

feat(validate): carry bank action evidence into rules contract
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): preserve compact rule evidence items in contract
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore: verify git pipeline tracking
  README.md
Owners: @documentation-team

chore: remove git pipeline test marker
  README.md
Owners: @documentation-team

fix(web-auth): unify auth API base resolution
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

fix(exporter-ui): show truthful doc labels and warning reasons
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(exporter-upload): preserve detected document tags on submit
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(validation-taxonomy): preserve canonical beneficiary and inspection subtypes
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/doc_types.py
  apps/api/app/services/crossdoc.py
Owners: @backend-team, @security-team

fix(extraction): normalize LC structures and stabilize OCR fallback review semantics
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(exporter-overview): count warning documents and expose review reasons
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(exporter-docs): surface field diagnostics in document details
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(validate): promote generic uploads from OCR content
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(validate): rescue LC from strong OCR markers
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(validate): promote supporting docs into known trade types
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validate): add lc intake mode for gated uploads
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(web): gate supporting uploads behind lc intake
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(results): preserve canonical document types in response shaping
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/utilities.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(validate): preserve lc anchor and prefer explicit doc titles
  apps/api/app/routers/validate.py
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(validate): add lc-context doc typing and duplicate lc handling
  apps/api/app/routers/validate.py
  apps/api/app/services/crossdoc.py
Owners: @backend-team, @security-team

fix(results): normalize sanctions confidence and clarify lc labels
  apps/api/app/services/sanctions_lcopilot.py
  apps/web/src/components/sanctions/SanctionsAlert.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(results): explain warnings and clean 47A formatting
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/utils.ts
Owners: @frontend-team

feat(results): add required-doc checklist and action engine
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(results): bind checklist to lc document requirements
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team
