Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix(exporter): broaden MT700 issue-date extraction paths
  apps/web/src/__tests__/resultCorrections.test.ts
  apps/web/src/lib/exporter/resultCorrections.ts
Owners: @frontend-team

fix(exporter): recover inverted legacy issue dates in LC snapshot
  apps/web/src/__tests__/resultCorrections.test.ts
  apps/web/src/lib/exporter/resultCorrections.ts
Owners: @frontend-team

fix(api): canonicalize LC issue date in structured builder
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix(amendments): add per-card format selection clarity and isolation
  apps/web/src/pages/exporter/results/AmendmentCard.tsx
  apps/web/src/pages/exporter/results/__tests__/AmendmentCard.test.tsx
Owners: @frontend-team

feat(rules): add AML/TBML domain and rulebook options for rules upload
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

fix(exporter): gate manifest submit on blocked decisions + sync customs section
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/lib/__tests__/exporterSections.test.ts
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(api): upgrade sqlalchemy/alembic for Python 3.13 compatibility
  apps/api/requirements.txt
Owners: @backend-team, @security-team

chore(api): pin Render python runtime to 3.12.8 via runtime.txt
  apps/api/runtime.txt
Owners: @backend-team, @security-team

fix(render): pin python 3.12.8 for trdrhub-api
  render.yaml
  runtime.txt
Owners: @admin-team

fix(api): bump sqlalchemy for Python 3.13 startup compatibility
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix(csrf): allow cross-site csrf cookie for separate frontend/api domains
  apps/api/app/middleware/csrf.py
Owners: @backend-team, @security-team

fix(api): enforce secure csrf cookie and exempt csrf endpoint from rate limit
  apps/api/app/routers/auth.py
  apps/api/main.py
Owners: @backend-team, @security-team

fix(rulesets): flush archive before activating new ruleset to avoid unique-index race
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

Update active ruleset uniqueness by rulebook
  apps/api/alembic/versions/20260303_update_ruleset_active_unique_rulebook.py
  apps/api/app/routers/rules_admin.py
  apps/api/app/services/rules_service.py
  apps/api/tests/test_ruleset_rulebook_uniqueness.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team

ux(rules-upload): guide AML users to unique rulebook lanes and auto-fill rulebook version
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

feat(rules-upload): add 7 dedicated AML-TBML rulebook lanes
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

Enforce deterministic LC rule gating
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/deterministic_gate.py
  apps/api/app/services/validator_verdict_builder.py
  apps/api/tests/validation_deterministic_gate_test.py
Owners: @backend-team, @security-team, @qa-team

Add L3 findings to validation summaries
  apps/api/app/routers/validate.py
  apps/api/tests/validation_arbitration_phase2_test.py
Owners: @backend-team, @security-team, @qa-team

fix(validate): avoid pre-build structured_result crash when DB rules fail
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(validate): fail-safe trace/l3 summary block to prevent 500
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

debug(validate): expose traceback tail in dev 500 responses
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(validate): coerce lc_type_confidence to float before comparisons
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(option-e): coerce lc_type_confidence before numeric threshold checks
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

hotfix(validate): force classic pre-TBML behavior and disable overlay verification
  apps/api/app/config.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore(api): trigger render deploy after rollback
  apps/api/.render-trigger
Owners: @backend-team, @security-team

fix(validate): coerce lc_type_confidence in legacy rollback path
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(option-e): coerce lc_type_confidence before threshold compare
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix(option-e): tolerate string issue counts
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

Stabilize LCopilot verdict mapping and soft timeout handling
  apps/web/src/api/sessions.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/hooks/use-versions.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

hotfix(validate): fail-open on issue card/document summary build errors
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

hotfix(option-e): coerce lc_type_confidence before <= comparison
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

chore(validation): coerce ai payload types for arbitration
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/arbitration.py
Owners: @backend-team, @security-team

hotfix(guardrails): stop CSRF/guardrails retry storm and make checks one-shot
  apps/web/src/api/client.ts
  apps/web/src/api/exporter.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

hotfix(web): hard-disable guardrails query and throttle csrf retries
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

hotfix(web): hard-disable guardrails API call at exporter client
  apps/web/src/api/exporter.ts
Owners: @frontend-team

Revert "hotfix(guardrails): stop CSRF/guardrails retry storm and make checks one-shot"
  apps/web/src/api/client.ts
  apps/web/src/api/exporter.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Revert "hotfix(web): hard-disable guardrails query and throttle csrf retries"
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Revert "hotfix(web): hard-disable guardrails API call at exporter client"
  apps/web/src/api/exporter.ts
Owners: @frontend-team

fix(ocr): enable textract fallback and tighten extraction success semantics
  apps/api/app/ocr/factory.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(ocr): persist provider/confidence trace per document and session
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
