Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

docs: Update LC Builder gap analysis - Phase 2 complete
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @documentation-team

feat(lc-builder): Phase 3 - Bank-grade features
  apps/api/app/routers/lc_builder.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderLayout.tsx
  apps/web/src/pages/tools/lc-builder/LCTemplatesPage.tsx
  apps/web/src/pages/tools/lc-builder/VersionHistoryPage.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Update LC Builder gap analysis - Phase 3 progress
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @documentation-team

feat(lc-builder): Phase 3 complete - LCopilot integration, amendments
  apps/api/app/routers/lc_builder.py
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Update LC Builder gap analysis - Phase 3 complete, 43 API endpoints
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @documentation-team

feat(lc-builder): Complete Phase 3 - Email notifications & Approval workflow
  apps/api/app/routers/lc_builder.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderLayout.tsx
  apps/web/src/pages/tools/lc-builder/LCWorkflowPage.tsx
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

fix: Fix TypeScript errors in LC Builder pages
  apps/web/src/pages/tools/lc-builder/ApplicantProfilesPage.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderLayout.tsx
Owners: @frontend-team

feat(lc-builder): Phase 4 - Team collaboration, sharing, comments, notifications
  apps/api/app/models/lc_builder.py
  apps/api/app/routers/lc_builder.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderLayout.tsx
  apps/web/src/pages/tools/lc-builder/SharedWithMePage.tsx
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

feat(hs-code): Add HS Code Finder tool - AI classification, duty calculator
  apps/api/app/models/hs_code.py
  apps/api/app/routers/hs_code.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/pages/tools/hs-code/HSCodeDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(hs-code): Enhance HS Code Finder tool with new features and improvements
  docs/GAP_ANALYSIS_HS_CODE_FINDER.md
Owners: @documentation-team

fix(app): Resolve duplicate HistoryPage identifier by aliasing tracking import
  apps/web/src/App.tsx
Owners: @frontend-team

fix(api): Add get_optional_user function to security module for HS Code endpoints
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

fix(api): Rename HSCode to HSCodeTariff to avoid table name conflict with commodities.py
  apps/api/app/models/hs_code.py
  apps/api/app/routers/hs_code.py
Owners: @backend-team, @security-team

feat(hs-code): Phase 1 - Real data architecture and sidebar layout
  apps/api/alembic/versions/20251206_hs_code_finder_tables.py
  apps/api/app/models/hs_code.py
  apps/api/app/routers/hs_code.py
  apps/api/app/services/hs_classification.py
  apps/api/scripts/import_hts_data.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/hs-code/HSCodeBulk.tsx
  apps/web/src/pages/tools/hs-code/HSCodeClassify.tsx
  apps/web/src/pages/tools/hs-code/HSCodeCompliance.tsx
  apps/web/src/pages/tools/hs-code/HSCodeDuty.tsx
  apps/web/src/pages/tools/hs-code/HSCodeFTA.tsx
  apps/web/src/pages/tools/hs-code/HSCodeFavorites.tsx
  apps/web/src/pages/tools/hs-code/HSCodeHelp.tsx
  apps/web/src/pages/tools/hs-code/HSCodeHistory.tsx
  apps/web/src/pages/tools/hs-code/HSCodeLayout.tsx
  apps/web/src/pages/tools/hs-code/HSCodeOverview.tsx
  apps/web/src/pages/tools/hs-code/HSCodeROO.tsx
  apps/web/src/pages/tools/hs-code/HSCodeSearch.tsx
  apps/web/src/pages/tools/hs-code/HSCodeSettings.tsx
  apps/web/src/pages/tools/hs-code/index.ts
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

docs: Update HS Code Finder gap analysis - Phase 1 complete
  docs/GAP_ANALYSIS_HS_CODE_FINDER.md
Owners: @documentation-team

fix: SelectItem empty value and migration down_revision
  apps/api/alembic/versions/20251206_hs_code_finder_tables.py
  apps/web/src/pages/tools/hs-code/HSCodeClassify.tsx
  apps/web/src/pages/tools/hs-code/HSCodeDashboard.tsx
  apps/web/src/pages/tools/hs-code/HSCodeDuty.tsx
Owners: @backend-team, @database-team, @dba-team, @frontend-team

fix: Add if_not_exists to migration index creation for idempotency
  apps/api/alembic/versions/20251206_hs_code_finder_tables.py
Owners: @backend-team, @database-team, @dba-team

feat(hs-code): Add Phase 2 features - bulk classification, PDF export, rulings, comparison, alerts
  apps/api/alembic/versions/20251206_rate_alerts_table.py
  apps/api/app/models/hs_code.py
  apps/api/app/routers/hs_code.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/hs-code/HSCodeAlerts.tsx
  apps/web/src/pages/tools/hs-code/HSCodeBulk.tsx
  apps/web/src/pages/tools/hs-code/HSCodeCompare.tsx
  apps/web/src/pages/tools/hs-code/HSCodeLayout.tsx
  apps/web/src/pages/tools/hs-code/HSCodeRulings.tsx
  apps/web/src/pages/tools/hs-code/index.ts
  docs/GAP_ANALYSIS_HS_CODE_FINDER.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team, @documentation-team

feat(hs-code): Add Phase 3 - USMCA/RCEP ROO engine, team collaboration
  apps/api/alembic/versions/20251206_phase3_roo_teams.py
  apps/api/app/models/hs_code.py
  apps/api/app/routers/hs_code.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/hs-code/HSCodeLayout.tsx
  apps/web/src/pages/tools/hs-code/HSCodeTeams.tsx
  apps/web/src/pages/tools/hs-code/HSCodeUSMCA.tsx
  apps/web/src/pages/tools/hs-code/index.ts
  docs/GAP_ANALYSIS_HS_CODE_FINDER.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team, @documentation-team

feat(hs-code): Add Phase 4 Compliance Suite - Export controls, Section 301, AD/CVD, Quotas
  apps/api/alembic/versions/20251206_phase4_compliance.py
  apps/api/app/models/hs_code.py
  apps/api/app/routers/hs_code.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/hs-code/HSCodeADCVD.tsx
  apps/web/src/pages/tools/hs-code/HSCodeComplianceDashboard.tsx
  apps/web/src/pages/tools/hs-code/HSCodeExportControls.tsx
  apps/web/src/pages/tools/hs-code/HSCodeLayout.tsx
  apps/web/src/pages/tools/hs-code/HSCodeQuotas.tsx
  apps/web/src/pages/tools/hs-code/HSCodeSection301.tsx
  apps/web/src/pages/tools/hs-code/index.ts
  docs/GAP_ANALYSIS_HS_CODE_FINDER.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team, @documentation-team

feat(sanctions): Add Sanctions Screener Phase 1 - Backend implementation
  apps/api/alembic/versions/20251206_sanctions_tables.py
  apps/api/app/models/sanctions.py
  apps/api/app/routers/sanctions.py
  apps/api/app/services/sanctions_screening.py
  apps/api/main.py
  apps/web/src/components/sections/tools-section.tsx
  docs/GAP_ANALYSIS_SANCTIONS_SCREENER.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team, @documentation-team

fix(migrations): Correct Phase 4 migration down_revision to phase3_roo_teams_001
  apps/api/alembic/versions/20251206_phase4_compliance.py
Owners: @backend-team, @database-team, @dba-team

feat(sanctions): Add Sanctions Screener Phase 2 - Frontend Dashboard
  apps/web/src/App.tsx
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
  apps/web/src/pages/tools/sanctions/SanctionsCertificates.tsx
  apps/web/src/pages/tools/sanctions/SanctionsHelp.tsx
  apps/web/src/pages/tools/sanctions/SanctionsHistory.tsx
  apps/web/src/pages/tools/sanctions/SanctionsLayout.tsx
  apps/web/src/pages/tools/sanctions/SanctionsOverview.tsx
  apps/web/src/pages/tools/sanctions/SanctionsScreenGoods.tsx
  apps/web/src/pages/tools/sanctions/SanctionsScreenParty.tsx
  apps/web/src/pages/tools/sanctions/SanctionsScreenVessel.tsx
  apps/web/src/pages/tools/sanctions/SanctionsSettings.tsx
  apps/web/src/pages/tools/sanctions/SanctionsWatchlist.tsx
  apps/web/src/pages/tools/sanctions/index.ts
  docs/GAP_ANALYSIS_SANCTIONS_SCREENER.md
Owners: @frontend-team, @documentation-team

feat(sanctions): Add Phase 3 Production Polish - Batch, List Sync, API Access
  apps/api/app/routers/sanctions.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/sanctions/SanctionsAPIAccess.tsx
  apps/web/src/pages/tools/sanctions/SanctionsBatchUpload.tsx
  apps/web/src/pages/tools/sanctions/SanctionsLayout.tsx
  apps/web/src/pages/tools/sanctions/index.ts
  docs/GAP_ANALYSIS_SANCTIONS_SCREENER.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

feat(sanctions): Add Phase 4 LCopilot Integration - Auto-screen LC parties
  apps/api/app/routers/validate.py
  apps/api/app/services/sanctions_lcopilot.py
  apps/web/src/components/sanctions/SanctionsAlert.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
  docs/GAP_ANALYSIS_SANCTIONS_SCREENER.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

fix: Update tool statuses and navigation consistency
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/tools/HSCodeFinderLanding.tsx
Owners: @frontend-team

refactor(ui): Standardize all tool dashboards to use DashboardLayout pattern
  apps/web/src/components/tools/DocGeneratorSidebar.tsx
  apps/web/src/components/tools/HSCodeSidebar.tsx
  apps/web/src/components/tools/PriceVerifySidebar.tsx
  apps/web/src/components/tools/SanctionsSidebar.tsx
  apps/web/src/components/tools/TrackingSidebar.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorLayout.tsx
  apps/web/src/pages/tools/hs-code/HSCodeLayout.tsx
  apps/web/src/pages/tools/price-verify/PriceVerifyDashboard.tsx
  apps/web/src/pages/tools/sanctions/SanctionsLayout.tsx
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(sanctions): Correct ScreeningMatch import to PartyMatch
  apps/api/app/services/sanctions_lcopilot.py
Owners: @backend-team, @security-team

fix(hub): Fix role/permissions display and tool visibility - Show all 7 tools in HubLayout sidebar - Fix ALL_TOOLS array - Fix role badge defaults - Add auth state to landing page header
  apps/web/src/components/layout/trdr-header.tsx
  apps/web/src/hooks/use-user-role.ts
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

feat(ai): Add multi-model ensemble extraction for LC documents - GeminiProvider + parallel extraction + field voting + calibrated confidence
  apps/api/app/routers/health.py
  apps/api/app/services/extraction/ai_lc_extractor.py
  apps/api/app/services/extraction/ensemble_extractor.py
  apps/api/app/services/llm_provider.py
  apps/api/requirements.txt
  docs/SPRINT_1_LCOPILOT_SHIP_CORE.md
Owners: @backend-team, @security-team, @documentation-team

feat(v2): LCopilot V2 Pipeline - Foundation
  apps/api/app/v2/__init__.py
  apps/api/app/v2/core/__init__.py
  apps/api/app/v2/core/config.py
  apps/api/app/v2/core/types.py
  apps/api/app/v2/extraction/__init__.py
  apps/api/app/v2/extraction/intake.py
  apps/api/app/v2/extraction/smart_extractor.py
  apps/api/app/v2/preprocessing/__init__.py
  apps/api/app/v2/preprocessing/pipeline.py
  apps/api/app/v2/routers/__init__.py
  apps/api/app/v2/routers/validate.py
  apps/api/app/v2/validation/__init__.py
  apps/api/app/v2/validation/citations.py
  apps/api/app/v2/validation/engine.py
  apps/api/app/v2/validation/verdict.py
  apps/api/main.py
  apps/web/src/components/v2/IssueCardV2.tsx
  apps/web/src/components/v2/ValidationResultsV2.tsx
  apps/web/src/components/v2/VerdictBannerV2.tsx
  apps/web/src/components/v2/index.ts
  apps/web/src/config/features-v2.ts
  apps/web/src/hooks/use-lcopilot-v2.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/lcopilot-v2.ts
Owners: @backend-team, @security-team, @frontend-team, @devops-team, @admin-team

fix(v2): Remove unused ExtractedFields import causing ImportError
  apps/api/app/v2/extraction/smart_extractor.py
Owners: @backend-team, @security-team

fix(v2): Exempt V2 API from CSRF (uses Bearer token auth)
  apps/api/main.py
Owners: @backend-team, @security-team

fix(v2): Correct CSRF exemption path to /v2
  apps/api/main.py
Owners: @backend-team, @security-team

fix(v2): Correct amendment_generator import path and usage
  apps/api/app/v2/routers/validate.py
Owners: @backend-team, @security-team

chore(v2): Force redeploy with corrected import
  apps/api/app/v2/routers/validate.py
Owners: @backend-team, @security-team

fix(v2): Wire OCR pipeline, rule engine, and crossdoc validation
  apps/api/app/v2/preprocessing/pipeline.py
  apps/api/app/v2/validation/engine.py
Owners: @backend-team, @security-team

fix(rules): Handle UUID ruleset_id in rule_loader category determination
  apps/api/app/rules/external/rule_loader.py
Owners: @backend-team, @security-team

feat(v2): Wire V2 pipeline to frontend with feature flag
  apps/web/src/components/exporter/ValidationResultsWrapper.tsx
  apps/web/src/config/features-v2.ts
  apps/web/src/hooks/use-lcopilot-v2.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team, @devops-team, @security-team

fix(features): Remove JSX return type annotation causing build error
  apps/web/src/config/features-v2.ts
Owners: @frontend-team, @devops-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
