Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix: add EventSeverity import to collaboration_service
  apps/api/app/services/collaboration_service.py
Owners: @backend-team, @security-team

fix: add missing app.core.auth and app.core.exceptions modules
  apps/api/app/core/auth.py
  apps/api/app/core/exceptions.py
Owners: @backend-team, @security-team

fix: add audit_service singleton with log_event convenience method
  apps/api/app/services/audit_service.py
Owners: @backend-team, @security-team

fix: add db parameter to all audit_service.log_event calls
  apps/api/app/services/bulk_processor.py
  apps/api/app/services/collaboration_service.py
  apps/api/app/services/workflow_service.py
Owners: @backend-team, @security-team

fix: add db parameter to last audit_service.log_event call in workflow_service
  apps/api/app/services/workflow_service.py
Owners: @backend-team, @security-team

fix: add missing app.metrics module with workflow_metrics
  apps/api/app/metrics/__init__.py
  apps/api/app/metrics/workflow_metrics.py
Owners: @backend-team, @security-team

feat: add database audit endpoint for Exporter Dashboard
  apps/api/app/routers/admin.py
  apps/api/app/routers/admin/db_audit.py
  apps/api/audit_exporter_db.py
Owners: @backend-team, @security-team

fix: correct import paths for db_audit router
  apps/api/app/routers/admin.py
  apps/api/app/routers/admin/db_audit.py
Owners: @backend-team, @security-team

refactor: remove mock data fallbacks from billing and API hooks, ensuring proper error handling
  apps/api/app/routers/auth.py
  apps/api/comprehensive_import_check.py
  apps/web/src/api/bank.ts
  apps/web/src/api/billing.ts
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/hooks/use-versions.ts
Owners: @backend-team, @security-team, @frontend-team

fix: remove all mock data fallbacks, fix CSRF token endpoint, fix LC versions API paths
  apps/api/app/routers/lc_versions.py
Owners: @backend-team, @security-team

Fix CSP to allow avatar.vercel.sh images
  apps/api/app/middleware/security_headers.py
Owners: @backend-team, @security-team

Fix Redis fallback for CSRF middleware and remove unused mock data
  apps/api/app/middleware/csrf.py
  apps/web/src/hooks/use-versions.ts
Owners: @backend-team, @security-team, @frontend-team

Fix audit metadata alias and CSRF SameSite handling
  apps/api/app/routers/auth.py
  apps/api/app/services/audit_service.py
Owners: @backend-team, @security-team

Add API token fallback support and test user creation script
  apps/api/scripts/create_test_user.py
  apps/web/src/api/client.ts
Owners: @backend-team, @security-team, @frontend-team

Temporarily exempt auth endpoints from audit logging
  apps/api/app/middleware/audit_middleware.py
Owners: @backend-team, @security-team

Update main.py to exclude auth endpoints from audit logging
  apps/api/main.py
Owners: @backend-team, @security-team

Add test-auth.html helper page for API token management
  apps/web/public/test-auth.html
Owners: @frontend-team

Update subproject commit to indicate a dirty state
  apps/api/scripts/create_test_users_supabase.py
  apps/api/scripts/update_user_passwords.py
Owners: @backend-team, @security-team

Fix CSP to allow via.placeholder.com images and add user creation scripts
  apps/api/app/middleware/security_headers.py
Owners: @backend-team, @security-team

Add script to fix user password hashes to bcrypt_sha256 format
  apps/api/scripts/fix_user_passwords.py
Owners: @backend-team, @security-team

Add fallback to standard bcrypt for password verification (supports SQL-created users)
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

Remove unnecessary test-auth.html helper page - users can login normally
  apps/web/public/test-auth.html
Owners: @frontend-team

Fix exporter login to use real API instead of mock auth
  apps/web/src/lib/exporter/auth.tsx
Owners: @frontend-team

Fix linter errors: Add type ignore comments for optional imports
  apps/api/main.py
  apps/api/requirements.txt
Owners: @backend-team, @security-team

Fix SQLAlchemy relationship ambiguity in AIAssistEvent
  apps/api/app/services/llm_assist.py
Owners: @backend-team, @security-team

Add temporary endpoint to fix password hashes
  apps/api/app/routers/auth.py
  apps/api/scripts/fix_exporter_password.py
Owners: @backend-team, @security-team

Exempt /auth/fix-password from CSRF and audit middleware
  apps/api/main.py
Owners: @backend-team, @security-team

Fix /auth/fix-password endpoint to accept JSON body
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

Update subproject commit to indicate dirty state
  apps/api/scripts/generate_hash.py
  apps/api/scripts/generate_hash_standalone.py
Owners: @backend-team, @security-team

Enhance bcrypt_sha256 password hashing function
  apps/api/scripts/generate_hash_standalone.py
Owners: @backend-team, @security-team

Make auth optional for validation endpoint - demo mode
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Fix quota and usage recording for demo mode
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Skip usage recording for demo user
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Add demo mode for dashboard access without login
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/exporter/ExporterLogin.tsx
Owners: @frontend-team

Exempt /api/validate from CSRF and audit middleware for demo mode
  apps/api/main.py
Owners: @backend-team, @security-team

Fix 500 error in validation endpoint - Fix quota.to_dict() error for demo users - Add better error handling when rulesets not found
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

Add error handling and logging for ruleset upload/publish - Better error messages if database commit fails - Log successful operations for debugging - Rollback on errors to prevent partial saves
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

Fix import: Remove unused uuid module import
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Fix bcrypt_sha256 initialization error: Add fallback to standard bcrypt when passlib backend initialization fails
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

Fix: Make LC endpoints support demo mode and fix CSP for avatar.vercel.sh wildcard
  apps/api/app/middleware/security_headers.py
  apps/api/app/routers/lc_versions.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
