Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

chore: update axios client timeout settings to use constants for default and long request timeouts, and adjust request interceptor for long request paths
  apps/web/src/api/client.ts
Owners: @frontend-team

chore: update vercel configuration to simplify build and output paths, and change API URL to production endpoint
  apps/web/.gitignore
  apps/web/vercel.json
Owners: @frontend-team

refactor: improve rule activation logic in validator by introducing a dedicated function for activating rules based on LC context, enhancing clarity and maintainability
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat: add normalization functions for LC payload structures to improve data handling and validation in the API
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: enhance document validation by adding a document readiness map and improving rule matching logic, including detailed drop statistics for better insights
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat: enhance document requirement inference by adding extraction of requested documents and fallback logic for missing entries in the validator
  apps/api/app/services/validator.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: enhance document validation by adding user type extraction and conditional JSON rules evaluation, along with improved logging for validation outcomes
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: add extracted documents snapshot to validation results and enhance data handling in the exporter results page
  apps/api/app/routers/validate.py
  apps/web/src/__tests__/fixtures/lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

chore: mark subproject commit as dirty to indicate uncommitted changes
  apps/api/scripts/import_rules.py
Owners: @backend-team, @security-team

feat: integrate rules table with governance features, including bulk sync, import summary, and enhanced admin UI for rules management
  CHANGELOG.md
  apps/api/alembic/versions/20251220_add_rules_audit_table.py
  apps/api/alembic/versions/20251220_add_rules_table_extensions.py
  apps/api/app/config.py
  apps/api/app/metrics/rules_metrics.py
  apps/api/app/models/rule_record.py
  apps/api/app/models/rules_audit.py
  apps/api/app/routers/rules_admin.py
  apps/api/app/schemas/rules.py
  apps/api/app/schemas/ruleset.py
  apps/api/app/services/rules_audit.py
  apps/api/app/services/rules_importer.py
  apps/api/app/services/rules_storage.py
  apps/api/main.py
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/lib/admin/services/api/apiAdminService.ts
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/lib/admin/types.ts
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/rules/Governance.tsx
  apps/web/src/pages/admin/sections/rules/Upload.tsx
  apps/web/src/pages/admin/sections/rules/__tests__/Governance.test.tsx
  docs/rules-feature-completion-plan.md
  docs/runbooks/rules-sync-runbook.md
  infra/sql/rules_rls.sql
  scripts/import_rules.py
  scripts/sync_rulesets.py
Owners: @admin-team, @documentation-team, @backend-team, @database-team, @dba-team, @security-team, @frontend-team

refactor: rename metadata field to rule_metadata in RuleRecord model and update related serialization logic
  apps/api/app/models/rule_record.py
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

fix: correct syntax error in rules_metrics.py docstring and resolve metadata field conflict in RuleRecord model
  apps/api/app/metrics/rules_metrics.py
Owners: @backend-team, @security-team

fix: add missing Any import in rules_admin.py
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

refactor: update validation logic to utilize DB-backed rules and improve error handling in document validation
  apps/api/app/routers/validate.py
  apps/api/app/services/rules_service.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

fix: move RulesImportSummaryModel before RulesetUploadResponse to resolve forward reference issue
  apps/api/app/schemas/ruleset.py
Owners: @backend-team, @security-team

feat: enhance rules importer to track skipped existing rules and improve import summary reporting
  apps/api/app/services/rules_importer.py
  apps/api/migrations/versions/20251222_add_unique_ruleset_rule.py
Owners: @backend-team, @security-team

chore: remove obsolete migration scripts for rules audit and unique constraint on ruleset_rule
  apps/api/alembic/versions/20251220_add_rules_audit_table.py
  apps/api/alembic/versions/20251222_add_unique_ruleset_rule.py
  apps/api/alembic/versions/20251223_create_rules_audit_table.py
Owners: @backend-team, @database-team, @dba-team

fix: update RuleAudit model to set server default for UUID and ensure non-nullable ID
  apps/api/app/models/rules_audit.py
Owners: @backend-team, @security-team

feat: enhance Upload component to include ruleset fetching, improved file validation, and error handling for uploads
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

refactor: remove legacy RulHub sync functionality and update rule model references to reflect database-driven architecture
  apps/api/app/jobs/rulhub_sync_job.py
  apps/api/app/models/rule_record.py
  apps/api/app/services/rulhub_client.py
  apps/api/main.py
Owners: @backend-team, @security-team

refactor: update RulesService to use DB-backed adapter, enhance error handling, and improve documentation
  apps/api/app/services/rules_service.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat: add DB-backed RulesServiceDBAdapter for active rules retrieval and enhance ExporterResults display with table format
  apps/api/app/services/rules_service.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

chore: mark subproject commit as dirty to indicate uncommitted changes
  apps/api/scripts/audit_rules_integrity.py
Owners: @backend-team, @security-team

chore: clean up output formatting in audit_rules_integrity.py and streamline print statements
  apps/api/scripts/audit_rules_integrity.py
Owners: @backend-team, @security-team

chore: mark subproject commit as dirty to reflect uncommitted changes
  apps/api/scripts/clean_rulesets.py
  apps/api/scripts/verify_rulesets_clean.py
Owners: @backend-team, @security-team

feat: add audit-rules target to Makefile and implement full integrity audit in audit_rules_integrity.py
  Makefile
  apps/api/scripts/README_RULESET_AUDIT.md
  apps/api/scripts/audit_rules_integrity.py
  apps/api/scripts/recheck_rules.py
Owners: @admin-team, @documentation-team, @backend-team, @security-team

feat: implement filename auto-detection for rulebook and ruleset versions in Upload component
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

feat: enhance upload functionality with auto-detection of metadata from filenames and cache clearing after upload
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

fix: increase page_size limit in list_rulesets to allow up to 2000 entries
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

refactor: simplify file name validation logic in Upload component
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

refactor: update list_rulesets to support new DB-backed system with improved filtering and pagination
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

chore: mark subproject commit as dirty to indicate uncommitted changes
  apps/api/scripts/rewrite_rulesets_strict.py
  apps/api/scripts/validate_rewritten_rulesets.py
Owners: @backend-team, @security-team

fix: set json_pipeline to True in validate_doc function for consistent behavior
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: integrate new LC extraction method with fallback to legacy extractor in validate_doc function
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: add endpoint to download customs pack and enhance LC extraction with structured document parsing
  apps/api/app/routers/validate.py
  apps/api/app/services/customs/customs_pack.py
  apps/api/app/services/extraction/docs_46a_parser.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: enhance LCExtractor to parse additional conditions from 47A and update data structure for UI
  apps/api/app/services/extraction/clauses_47a_parser.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: enhance LC data processing by extracting HS codes from invoice and packing list texts
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/hs_code_extractor.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: compute customs risk score in validate_doc function by integrating risk assessment logic
  apps/api/app/routers/validate.py
  apps/api/app/services/risk/customs_risk.py
Owners: @backend-team, @security-team

feat: enhance LCExtractor to support SWIFT MT700 format parsing with fallback to regex extraction
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/parsers/swift_mt700.py
Owners: @backend-team, @security-team

feat: enhance validate_doc function to normalize LC data extraction and compute customs risk with improved scoring logic
  apps/api/app/routers/validate.py
  apps/api/app/services/customs/customs_pack.py
  apps/api/app/services/extraction/clauses_47a_parser.py
  apps/api/app/services/extraction/docs_46a_parser.py
  apps/api/app/services/extraction/hs_code_extractor.py
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/parsers/swift_mt700.py
  apps/api/app/services/risk/customs_risk.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
