Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

chore(ui): Add comment to Index page to trigger rebuild
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

style(ui): Refine Index page styling with updated colors, improved layout, and enhanced typography for better visual consistency
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

style(ui): Update Index page gradient color for improved visual appeal
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

style(ui): Update Index page text colors for improved readability and visual consistency
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

style(ui): Enhance ProblemsSection styling with z-index adjustment for improved visual hierarchy
  apps/web/src/components/sections/problems-section.tsx
Owners: @frontend-team

update lcopilot landing page how it works section to match landing page card style
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

add grid background to all sections in lcopilot landing page
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

add background blobs and border lines to all sections in lcopilot landing page
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

add grid background and decorative elements to all sections in Index.tsx
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

update lcopilot how it works cards to match system critical section style and remove connector lines
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

update Index.tsx how it works cards to match system critical style and remove connector lines
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

create brand guidelines doc and link in design system upgrade
  DESIGN_SYSTEM_UPGRADE.md
  docs/BRAND_GUIDELINES.md
Owners: @documentation-team

update Index.tsx cta buttons to link to login
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

update TRDRHeader and TRDRHeroSection links to point to login and register pages
  apps/web/src/components/layout/trdr-header.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

refactor register page bank cta card to match brand guidelines
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

update tool card links to point to landing pages instead of dashboards
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/pages/ToolsPage.tsx
Owners: @frontend-team

refactor all tool landing pages to match system critical brand style
  apps/web/src/pages/tools/BankFeeComparatorLanding.tsx
  apps/web/src/pages/tools/ContainerTrackerLanding.tsx
  apps/web/src/pages/tools/CounterpartyRiskLanding.tsx
  apps/web/src/pages/tools/CustomsMateLanding.tsx
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
  apps/web/src/pages/tools/DualUseCheckerLanding.tsx
  apps/web/src/pages/tools/DutyCalculatorLanding.tsx
  apps/web/src/pages/tools/HSCodeFinderLanding.tsx
  apps/web/src/pages/tools/InsuranceQuoteLanding.tsx
  apps/web/src/pages/tools/LCBuilderLanding.tsx
  apps/web/src/pages/tools/PriceVerifyLanding.tsx
  apps/web/src/pages/tools/RouteOptimizerLanding.tsx
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
  apps/web/src/pages/tools/TradeAnalyticsLanding.tsx
  apps/web/src/pages/tools/TradeFinanceLanding.tsx
Owners: @frontend-team

refactor doc generator landing page to match system critical brand style
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
Owners: @frontend-team

add section title to doc generator landing page and fix cross icon
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
Owners: @frontend-team

fix doc generator landing page section order and styles
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
Owners: @frontend-team

update doc generator landing page cta buttons from waitlist to live dashboard
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
Owners: @frontend-team

refactor doc generator dashboard to use system critical design system
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
Owners: @frontend-team

update doc generator sidebar to match system critical brand style
  apps/web/src/components/tools/DocGeneratorSidebar.tsx
Owners: @frontend-team

fix doc generator dashboard padding and background to match system critical style
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
Owners: @frontend-team

fix doc generator dashboard button spacing and import dialog styling
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
  apps/web/src/pages/tools/doc-generator/ImportFromLCopilot.tsx
Owners: @frontend-team

fix doc generator sidebar tabs styling and fonts to match system critical design
  apps/web/src/components/tools/DocGeneratorSidebar.tsx
Owners: @frontend-team

fix import from lcopilot dialog colors to match system critical style
  apps/web/src/pages/tools/doc-generator/ImportFromLCopilot.tsx
Owners: @frontend-team

fix doc generator wizard styling issues
  apps/web/src/pages/tools/doc-generator/CreateDocumentWizard.tsx
Owners: @frontend-team

fix doc generator wizard button colors to match system critical style
  apps/web/src/pages/tools/doc-generator/CreateDocumentWizard.tsx
Owners: @frontend-team

day1: remove unverified claims and add private beta trust framing
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/partners-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
  apps/web/src/pages/PricingPage.tsx
  apps/web/src/pages/TechnologyPage.tsx
  apps/web/src/pages/legal/SecurityPage.tsx
Owners: @frontend-team

fix: resolve web build breaks in faq/solution and doc wizard
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/pages/tools/doc-generator/CreateDocumentWizard.tsx
Owners: @frontend-team

day2: add OCR confidence threshold fallback and explicit extraction errors
  apps/api/app/config.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: allow demo credentials path on exporter login and improve error messaging
  apps/web/src/pages/exporter/ExporterLogin.tsx
Owners: @frontend-team

fix: allow Google Fonts and Unsplash in CSP for web app
  vercel.json
Owners: @admin-team

fix: fallback to Supabase user profile when /auth/me returns 401
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

fix: decode JWT locally when /auth/me 401 to keep dashboard login functional
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

fix: prevent forced logout redirect on soft 401 auth/onboarding endpoints
  apps/web/src/api/client.ts
Owners: @frontend-team

fix: allow login continuation when session exists despite profile endpoint failures
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

fix: force redirect to exporter dashboard after successful login
  apps/web/src/pages/exporter/ExporterLogin.tsx
Owners: @frontend-team

auth: enforce supabase-only provider config and derive issuer/jwks from SUPABASE_URL
  apps/api/app/config.py
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
