Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Phase A2 (frontend slice): re-papering recipient page + flag
  SESSION_RESUME.md
  apps/web/src/App.tsx
  apps/web/src/lib/lcopilot/featureFlags.ts
  apps/web/src/pages/lcopilot/RepaperRecipient.tsx
Owners: @documentation-team, @frontend-team

Phase A2 (option B): persist findings as Discrepancy rows
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/crossdoc.py
  apps/api/app/services/finding_persistence.py
  apps/api/tests/test_finding_persistence.py
Owners: @backend-team, @security-team, @qa-team

Phase A2 (frontend slice): wire discrepancy actions into FindingsTab
  apps/web/src/components/discrepancy/CommentThread.tsx
  apps/web/src/components/discrepancy/DiscrepancyActions.tsx
  apps/web/src/components/discrepancy/RepaperModal.tsx
  apps/web/src/components/lcopilot/results/tabs/FindingsTab.tsx
  apps/web/src/lib/lcopilot/discrepancyApi.ts
Owners: @frontend-team

docs: SESSION_RESUME stamp at e4943f06 — Phase A2 fully shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A2 closure: repaper invitation email + auto re-validation hook
  apps/api/app/routers/discrepancy_workflow.py
  apps/api/app/services/email.py
  apps/api/app/services/repaper_revalidate.py
  apps/api/tests/test_repaper_email_and_revalidate.py
Owners: @backend-team, @security-team, @qa-team

docs: SESSION_RESUME stamp at e29cdd88 — A2 closure shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A3 (part 1): in-app notifications backend + 2 wired triggers
  apps/api/alembic/versions/20260428_add_user_notifications.py
  apps/api/app/models/user_notifications.py
  apps/api/app/routers/user_notifications.py
  apps/api/app/services/finding_persistence.py
  apps/api/app/services/repaper_revalidate.py
  apps/api/app/services/user_notifications.py
  apps/api/main.py
  apps/api/tests/test_finding_persistence.py
  apps/api/tests/test_repaper_email_and_revalidate.py
  apps/api/tests/test_user_notifications.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team

Phase A3 (part 2 — frontend bell): notification dropdown in header
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/notifications/NotificationBell.tsx
  apps/web/src/lib/lcopilot/featureFlags.ts
  apps/web/src/lib/lcopilot/notificationsApi.ts
Owners: @frontend-team

docs: SESSION_RESUME stamp at 6e128fcb — A3 part 1+2 shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A3 (part 3): wire 4 remaining notification triggers
  apps/api/app/routers/discrepancy_workflow.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/services/bulk_validate_processor.py
  apps/api/app/services/lc_lifecycle.py
Owners: @backend-team, @security-team

Phase A3 (part 4): notification settings page + first-session coachmark
  apps/web/src/App.tsx
  apps/web/src/components/handhold/FirstSessionCoachmark.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/settings/NotificationSettings.tsx
Owners: @frontend-team

docs: SESSION_RESUME stamp at 066547bf — A3 shipped (sample-LC deferred)
  SESSION_RESUME.md
Owners: @documentation-team

Phase A3 (part 5): Try a sample LC — fixtures + endpoint + button
  .gitignore
  apps/api/app/fixtures/sample_lc/Bill_of_Lading.pdf
  apps/api/app/fixtures/sample_lc/Certificate_of_Origin.pdf
  apps/api/app/fixtures/sample_lc/Inspection_Certificate.pdf
  apps/api/app/fixtures/sample_lc/Insurance_Certificate.pdf
  apps/api/app/fixtures/sample_lc/Invoice.pdf
  apps/api/app/fixtures/sample_lc/LC.pdf
  apps/api/app/fixtures/sample_lc/Packing_List.pdf
  apps/api/app/routers/handhold.py
  apps/api/main.py
  apps/web/src/components/handhold/TrySampleLCButton.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @admin-team, @backend-team, @security-team, @frontend-team

docs: SESSION_RESUME stamp at 0b1131f5 — A3 fully shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A4 (part 1 — backend): tier-aware quota + bulk pre-check
  apps/api/app/routers/bulk_validate.py
  apps/api/app/routers/entitlements.py
  apps/api/app/services/entitlements.py
  apps/api/main.py
  apps/api/tests/test_entitlements_tier.py
Owners: @backend-team, @security-team, @qa-team

Phase A4 (part 2 — frontend): quota strip on dashboards
  apps/web/src/components/entitlements/QuotaStrip.tsx
  apps/web/src/lib/lcopilot/entitlementsApi.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Phase A4 (part 3): per-tier seat enforcement on member invites
  apps/api/app/routers/members.py
Owners: @backend-team, @security-team

docs: SESSION_RESUME stamp at 0a7698a1 — A4 shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A5 (part 1 — backend): supplier + foreign-buyer rosters + portfolio
  apps/api/alembic/versions/20260429_add_agency_suppliers_buyers.py
  apps/api/app/models.py
  apps/api/app/models/agency.py
  apps/api/app/routers/agency.py
  apps/api/main.py
  apps/api/tests/test_agency.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team

Phase A5 (part 2 — frontend): rebuilt agency dashboard
  apps/web/src/lib/lcopilot/agencyApi.ts
  apps/web/src/lib/lcopilot/featureFlags.ts
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @frontend-team

docs: SESSION_RESUME stamp at f2556084 — A5 shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A6 (slice 1): single-supplier validation attribution
  apps/api/app/routers/validation/session_setup.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

Phase A6 (slice 2): bulk inbox — folder upload + supplier matching
  apps/api/app/routers/bulk_validate.py
  apps/api/app/services/bulk_validate_processor.py
  apps/web/src/components/agency/BulkInbox.tsx
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: SESSION_RESUME stamp at 1c6cd925 — A6 slices 1+2 shipped
  SESSION_RESUME.md
Owners: @documentation-team

Phase A6 (slice 3): bulk job list + recent jobs panel + drill-in
  apps/api/app/routers/bulk_validate.py
  apps/web/src/components/agency/BulkInbox.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: SESSION_RESUME stamp at ea4a84a2 — A6 shipped (action bar deferred to A11)
  SESSION_RESUME.md
Owners: @documentation-team

Phase A7 (slice 1): re-papering coordination view
  apps/api/app/routers/agency.py
  apps/web/src/components/agency/RepaperingPanel.tsx
  apps/web/src/lib/lcopilot/agencyApi.ts
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

Phase A7 (slice 2): foreign buyer detail with linked suppliers
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @frontend-team

Phase A7 (slice 3): per-supplier + per-buyer reports — JSON + PDF
  apps/api/app/routers/agency.py
  apps/api/app/services/agency_reports.py
  apps/web/src/components/agency/ReportsPanel.tsx
  apps/web/src/lib/lcopilot/agencyApi.ts
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: SESSION_RESUME stamp at 3b6546bb — A7 shipped, A1-A7 cleared
  SESSION_RESUME.md
Owners: @documentation-team

Phases A8+A9: services persona — clients + time + invoices
  apps/api/alembic/versions/20260430_add_services_clients_time.py
  apps/api/app/models.py
  apps/api/app/models/services.py
  apps/api/app/routers/services_persona.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/lib/lcopilot/featureFlags.ts
  apps/web/src/lib/lcopilot/servicesApi.ts
  apps/web/src/pages/lcopilot/ServicesDashboard.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

Phase A10: enterprise tier — group overview + audit log + RBAC
  apps/api/app/routers/discrepancy_workflow.py
  apps/api/app/routers/enterprise.py
  apps/api/app/services/rbac.py
  apps/api/main.py
  apps/api/tests/test_agency.py
  apps/api/tests/test_bulk_validate.py
  apps/api/tests/test_discrepancy_workflow.py
  apps/api/tests/test_finding_persistence.py
  apps/api/tests/test_lc_lifecycle.py
  apps/api/tests/test_repaper_email_and_revalidate.py
  apps/api/tests/test_user_notifications.py
  apps/web/src/App.tsx
  apps/web/src/lib/lcopilot/enterpriseApi.ts
  apps/web/src/pages/lcopilot/EnterpriseAuditLog.tsx
  apps/web/src/pages/lcopilot/EnterpriseGroupOverview.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Phases A11 + A12: bulk-inbox sidebar links + status + search
  apps/api/app/routers/platform_status.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/search/GlobalSearchBar.tsx
  apps/web/src/pages/StatusPage.tsx
Owners: @backend-team, @security-team, @frontend-team

Phase A13 + launch-prep deliverables: smoke matrix + checklist
  SESSION_RESUME.md
  docs/LAUNCH_CHECKLIST_2026_07_25.md
  scripts/smoke_matrix.py
Owners: @documentation-team, @admin-team

fix: wrap raw-string SELECT 1 with text() for SQLAlchemy 2.0
  apps/api/app/routers/analytics.py
  apps/api/app/routers/platform_status.py
  apps/api/middleware/performance_monitoring.py
Owners: @backend-team, @security-team

chore: track scripts/smoke_importer.sh
  scripts/smoke_importer.sh
Owners: @admin-team

feat(smoke): multi-persona JWT support in smoke_matrix.py
  scripts/smoke_matrix.py
Owners: @admin-team

chore(smoke): CORRIDOR env override on smoke_importer.sh
  scripts/smoke_importer.sh
Owners: @admin-team

fix(corpus): single-line per-field rendering — unbreaks vision-LLM extraction
  scripts/importer_corpus/render.py
Owners: @admin-team

chore(corpus): regenerate 36 PDFs with fixed renderer
  apps/web/tests/fixtures/importer-corpus/BD-CN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Packing_List.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Packing_List.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Packing_List.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Packing_List.pdf
Owners: @frontend-team, @qa-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
