Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Add date-fns library for date manipulation and update Vercel configuration for build commands and output directory structure.
  apps/web/package.json
  apps/web/vercel.json
  package-lock.json
Owners: @frontend-team, @security-team, @admin-team

Add Phase 1 security fixes: sanitize, csv, constants utilities
  apps/web/src/lib/constants.ts
  apps/web/src/lib/csv.ts
  apps/web/src/lib/sanitize.ts
Owners: @frontend-team

feat: implement professional design system with dark/light theme
  VERCEL_DEPLOYMENT_TROUBLESHOOTING.md
Owners: @documentation-team

fix: convert legacy routes to rewrites in vercel.json
  vercel.json
Owners: @admin-team

fix: add missing csrf.ts file and fix vercel.json routes conflict
  apps/web/src/lib/csrf.ts
Owners: @frontend-team

fix: add missing function name for getClientDashboard in bank.ts
  apps/web/src/api/bank.ts
Owners: @frontend-team

fix: mark trdrhub-suite as dirty to indicate uncommitted changes
  VERCEL_STATUS_CHECK.md
Owners: @documentation-team

fix: add missing file-validation.ts file
  apps/web/src/lib/file-validation.ts
Owners: @frontend-team

fix: add trdrhub-api.onrender.com to CSP connect-src
  vercel.json
Owners: @admin-team

chore: force CSS rebuild to bust CDN cache
  apps/web/src/index.css
Owners: @frontend-team

chore: add cache-busting comment to force CSS rebuild
  apps/web/src/index.css
Owners: @frontend-team

chore: force CSS hash change by modifying foreground value
  apps/web/src/index.css
Owners: @frontend-team

chore: force clean build and clear Vercel cache
  apps/web/vite.config.ts
Owners: @frontend-team

chore: add data attribute to AppShell to verify rendering
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

chore: mark trdrhub-suite as dirty to indicate uncommitted changes
  apps/web/src/index.css
Owners: @frontend-team

feat: update Exporter and Importer dashboards to use AppShell and new design system
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ImporterDashboard.tsx
Owners: @frontend-team

chore: add comment to utils.ts to force rebuild and fix cn error
  apps/web/src/lib/utils.ts
Owners: @frontend-team

fix: use relative import for cn utility to fix bundling issue
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

fix: add default export to utils.ts to ensure cn is properly bundled
  apps/web/src/components/layout/AppShell.tsx
  apps/web/src/lib/utils.ts
Owners: @frontend-team

fix: add runtime check for cn utility in AppShell
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

fix: add fallback cn function in AppShell to prevent runtime errors
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

fix: improve fallback cn function to handle all input types
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

fix: inline cn function directly in AppShell to eliminate import dependency
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

fix: remove require() and use pure inline cn function
  apps/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

fix: inline cn function in Separator component to fix bundling issue
  apps/web/src/components/ui/separator.tsx
Owners: @frontend-team

fix: inline cn function in Button and DropdownMenu components
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
Owners: @frontend-team

fix(bank): inline cn in core UI components (Card, Tabs, Badge) used by BankDashboard
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/tabs.tsx
Owners: @frontend-team

fix(bank): allow access to BankDashboard in development mode for testing
  apps/web/src/pages/BankDashboard.tsx
Owners: @frontend-team

fix(bank): temporarily allow all users to access BankDashboard for UI testing
  apps/web/src/pages/BankDashboard.tsx
Owners: @frontend-team

fix(bank): inline cn in Table, Checkbox, Input, Label, Select components used by BankDashboard
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/table.tsx
Owners: @frontend-team

fix(bank): inline cn in AdvancedFilters component
  apps/web/src/components/bank/AdvancedFilters.tsx
Owners: @frontend-team

fix(bank): inline cn in Slider, Popover, Command components used by AdvancedFilters
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/components/ui/slider.tsx
Owners: @frontend-team

fix(bank): inline cn in Dialog component used by Command
  apps/web/src/components/ui/dialog.tsx
Owners: @frontend-team

fix: inline cn helper across shared UI components
  apps/web/src/components/analytics/AnalyticsNav.tsx
  apps/web/src/components/analytics/DateRangePicker.tsx
  apps/web/src/components/analytics/EmptyState.tsx
  apps/web/src/components/analytics/ErrorState.tsx
  apps/web/src/components/analytics/KpiCard.tsx
  apps/web/src/components/analytics/RoleBadge.tsx
  apps/web/src/components/ui/accordion.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/breadcrumb.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/carousel.tsx
  apps/web/src/components/ui/chart.tsx
  apps/web/src/components/ui/context-menu.tsx
  apps/web/src/components/ui/drawer.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/hover-card.tsx
  apps/web/src/components/ui/input-otp.tsx
  apps/web/src/components/ui/menubar.tsx
  apps/web/src/components/ui/navigation-menu.tsx
  apps/web/src/components/ui/pagination.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/radio-group.tsx
  apps/web/src/components/ui/resizable.tsx
  apps/web/src/components/ui/scroll-area.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/status-badge.tsx
  apps/web/src/components/ui/switch.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/components/ui/toast.tsx
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/components/ui/tooltip.tsx
Owners: @frontend-team

fix: inline cn helper in remaining analytics/billing UI components
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/components/admin/KPICard.tsx
  apps/web/src/components/analytics/charts/ChartArea.tsx
  apps/web/src/components/analytics/charts/ChartBar.tsx
  apps/web/src/components/analytics/charts/ChartLine.tsx
  apps/web/src/components/billing/AlertBanner.tsx
  apps/web/src/components/billing/BillingNav.tsx
  apps/web/src/components/billing/InvoicesTable.tsx
  apps/web/src/components/billing/PlanCard.tsx
  apps/web/src/components/billing/QuotaMeter.tsx
  apps/web/src/components/billing/UpgradeModal.tsx
  apps/web/src/components/billing/UsageSummaryCard.tsx
  apps/web/src/components/billing/UsageTable.tsx
  apps/web/src/components/billing/admin/CompanyTable.tsx
  apps/web/src/components/billing/admin/DelinquentPanel.tsx
Owners: @frontend-team, @billing-team, @financial-team

fix(bank): inline cn helper in BulkLCUpload
  apps/web/src/components/bank/BulkLCUpload.tsx
Owners: @frontend-team

fix(bank): derive clientSuggestions safely in BulkLCUpload
  apps/web/src/components/bank/BulkLCUpload.tsx
Owners: @frontend-team

feat(bank): add v2 sidebar layout with dashboard-01 pattern
  apps/web/src/App.tsx
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  package-lock.json
  package.json
Owners: @frontend-team, @admin-team

fix(layout): correct ThemeToggle import name in DashboardLayout
  apps/web/src/components/layout/DashboardLayout.tsx
Owners: @frontend-team

fix(bank): import useNavigate in ResultsTable
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
