Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Handle MT700 raw tags without leading colons
  apps/api/app/routers/validation/lc_dates.py
  apps/api/tests/mt700_timeline_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Detect MT700 tags without leading colons
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/smart_lc_extractor.py
  apps/api/tests/mt700_timeline_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Fix validation module imports for deploy
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Add helper function for field override response construction and update tests for JSON serialization
  apps/api/app/routers/jobs_public.py
  apps/api/tests/field_override_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Accept filename aliases in field overrides
  apps/api/app/routers/jobs_public.py
  apps/api/tests/field_override_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Add fact_graph_v1 support across validation and extraction modules
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/__init__.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/invoice_facts.py
  apps/api/app/services/facts/models.py
  apps/api/app/services/facts/normalization.py
  apps/api/tests/fact_graph_invoice_continuity_test.py
  apps/api/tests/invoice_facts_test.py
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @admin-team

Implement resolution queue and document fact graph materialization in validation pipeline
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_refresh.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/invoice_facts.py
  apps/api/app/services/resolution/__init__.py
  apps/api/app/services/resolution/models.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/session_refresh_continuity_test.py
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @admin-team

Add invoice fact graph integration to validation execution
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/document_facts.py
  apps/api/tests/invoice_validation_context_test.py
  apps/api/tests/validation_execution_invoice_facts_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Integrate fact resolution handling into validation pipeline
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_refresh.py
  apps/api/tests/fact_resolution_contract_continuity_test.py
  apps/api/tests/session_refresh_continuity_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Integrate bill of lading fact resolution handling into validation pipeline
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/bl_facts.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/bl_facts_test.py
  apps/api/tests/bl_validation_context_test.py
  apps/api/tests/fact_graph_bl_continuity_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/validation_execution_bl_facts_continuity_test.py
  apps/api/tests/validation_execution_invoice_facts_continuity_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Add packing list support to validation pipeline and document processing
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/packing_list_facts.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/fact_graph_packing_list_continuity_test.py
  apps/api/tests/fact_resolution_contract_continuity_test.py
  apps/api/tests/packing_list_facts_test.py
  apps/api/tests/packing_list_validation_context_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/validation_execution_packing_list_facts_continuity_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Enhance validation pipeline with support for regulatory, insurance, and inspection document types
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/review_policy.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/coo_facts.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/inspection_facts.py
  apps/api/app/services/facts/insurance_facts.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/coo_facts_test.py
  apps/api/tests/coo_validation_context_test.py
  apps/api/tests/fact_graph_coo_continuity_test.py
  apps/api/tests/fact_graph_inspection_continuity_test.py
  apps/api/tests/fact_graph_insurance_continuity_test.py
  apps/api/tests/inspection_facts_test.py
  apps/api/tests/inspection_validation_context_test.py
  apps/api/tests/insurance_facts_test.py
  apps/api/tests/insurance_validation_context_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/validation_execution_coo_facts_continuity_test.py
  apps/api/tests/validation_execution_inspection_facts_continuity_test.py
  apps/api/tests/validation_execution_insurance_facts_continuity_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Enhance validation pipeline with support for additional document types
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/review_policy.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/bl_facts.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/supporting_facts.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/bl_facts_test.py
  apps/api/tests/bl_validation_context_test.py
  apps/api/tests/fact_graph_supporting_document_continuity_test.py
  apps/api/tests/invoice_facts_test.py
  apps/api/tests/invoice_validation_context_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/supporting_facts_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Enhance validation pipeline with support for letter of credit document types
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/lc_facts.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/fact_graph_lc_continuity_test.py
  apps/api/tests/fact_resolution_contract_continuity_test.py
  apps/api/tests/lc_facts_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/test_iso_runtime_shape.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Integrate letter of credit support into validation execution pipeline
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/__init__.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/lc_facts.py
  apps/api/tests/lc_validation_context_test.py
  apps/api/tests/validation_execution_lc_facts_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance validation pipeline with resolution queue integration
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_refresh.py
  apps/api/tests/fact_resolution_contract_continuity_test.py
  apps/api/tests/session_refresh_continuity_test.py
  apps/web/src/__tests__/apiContractOrder.test.ts
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Refactor validation pipeline to prioritize fact-backed queue counts
  apps/api/app/routers/validation/response_shaping.py
  apps/api/tests/extraction_resolution_continuity_test.py
  apps/web/src/__tests__/pendingReviewRoute.test.ts
  apps/web/src/components/lcopilot/LcopilotBetaRoute.tsx
  apps/web/src/lib/exporter/pendingReviewRoute.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/tmp_live_login_check.png
  apps/web/tmp_live_results_check.png
  apps/web/tmp_live_results_seeded_auth.png
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Enhance API client with production fallback and session handling improvements
  apps/web/src/__tests__/apiClientAuth.test.ts
  apps/web/src/__tests__/useAuthBootstrap.test.tsx
  apps/web/src/api/client.ts
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Add user resolvable fields and enhance fact resolution logic in queue builder
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Implement login redirect URL builder and enhance login flow
  apps/web/src/__tests__/apiClientAuth.test.ts
  apps/web/src/__tests__/loginRedirect.test.tsx
  apps/web/src/api/client.ts
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Enhance resolution queue logic with transport subtype handling and user resolvable fields
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Refactor _canonicalize_launch_doc_type to return normalized document types
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/tests/fact_graph_supporting_document_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance document type handling with additional transport and shipping aliases
  apps/api/app/routers/validation/doc_types.py
  apps/api/app/routers/validation/utilities.py
  apps/api/tests/document_type_resolution_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Refactor document extraction logic to handle legacy review reasons and improve fact resolution integration
  apps/api/app/routers/validation/response_shaping.py
  apps/api/tests/extraction_resolution_continuity_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Refactor document validation and extraction logic to enhance fact resolution handling
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/session_refresh.py
  apps/api/tests/extraction_resolution_continuity_test.py
  apps/api/tests/session_refresh_continuity_test.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Refactor audit logging in job field override to use a dedicated session
  apps/api/app/routers/jobs_public.py
Owners: @backend-team, @security-team

Enhance requirements graph integration in document validation and extraction
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_refresh.py
  apps/api/app/services/requirements/__init__.py
  apps/api/app/services/requirements/lc_requirements.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/extraction_resolution_continuity_test.py
  apps/api/tests/fact_graph_lc_continuity_test.py
  apps/api/tests/fact_resolution_contract_continuity_test.py
  apps/api/tests/lc_requirements_graph_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  apps/api/tests/session_refresh_continuity_test.py
  docs/architecture/extraction-validation-decision-record.md
  docs/architecture/index.md
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @documentation-team, @admin-team

Integrate requirements graph handling in LC validation and extraction processes
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/lc_intake.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/validator.py
  apps/api/tests/lc_baseline_requirements_graph_test.py
  apps/api/tests/lc_validation_context_test.py
  apps/api/tests/lc_workflow_live_route_test.py
  apps/api/tests/mt700_required_docs_continuity_test.py
  apps/api/tests/validation_execution_lc_facts_continuity_test.py
  apps/api/tests/validator_requirements_graph_continuity_test.py
  apps/api/tests/validator_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance handling of requirements graph in validation processes
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/services/crossdoc.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_requirements_graph_test.py
  apps/api/tests/document_set_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance LC baseline construction by integrating requirements graph conditions
  apps/api/app/routers/validate.py
  apps/api/tests/lc_baseline_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance LC validation by integrating requirements graph parsing
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/tests/ai_validation_requirements_graph_continuity_test.py
  apps/api/tests/ai_validator_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Refactor validation pipeline to streamline context handling and enhance requirements graph integration
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_47a_requirements_graph_continuity_test.py
  apps/api/tests/crossdoc_47a_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance requirements graph integration by adding condition requirements handling
  apps/api/app/services/requirements/lc_requirements.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_47a_requirements_graph_continuity_test.py
  apps/api/tests/crossdoc_47a_requirements_graph_test.py
  apps/api/tests/lc_requirements_graph_test.py
  apps/api/tests/requirements_graph_contract_continuity_test.py
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @admin-team

Enhance LC requirements handling by integrating transport field detection and document quantity requirements
  apps/api/app/services/requirements/lc_requirements.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/tests/ai_validator_requirements_graph_test.py
  apps/api/tests/lc_requirements_graph_test.py
  apps/api/tests/requirements_graph_contract_continuity_test.py
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @admin-team

Enhance LC validation by integrating structured requirements graph handling
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
  apps/api/tests/lc_baseline_requirements_graph_test.py
  apps/api/tests/ucp600_ruleset_requirements_graph_paths_test.py
  apps/api/tests/validator_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance insurance requirement handling in LC validation process
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/app/services/validator.py
  apps/api/tests/crossdoc_exact_wording_requirements_graph_test.py
  apps/api/tests/ucp600_ruleset_requirements_graph_paths_test.py
  apps/api/tests/validator_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Add inspection and beneficiary certificate handling in validation process
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/app/services/validation/issue_engine.py
  apps/api/app/services/validation/pipeline.py
  apps/api/tests/crossdoc_exact_wording_requirements_graph_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Enhance validation process by integrating requirement readiness handling
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/tests/presentation_contract_continuity_test.py
  apps/api/tests/requirements_graph_contract_continuity_test.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/components/exporter/HowToFixSection.tsx
  apps/web/src/lib/exporter/overviewTruth.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Implement contract readiness evidence handling in ExporterResults
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Enhance LC taxonomy and requirement extraction logic
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/tests/lc_requirements_graph_test.py
  apps/api/tests/lc_taxonomy_test.py
Owners: @backend-team, @security-team, @qa-team
