Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix(admin): export V2 sections and drop legacy stubs
  apps/web/src/pages/admin/sections/audit/Approvals.tsx
  apps/web/src/pages/admin/sections/audit/Compliance.tsx
  apps/web/src/pages/admin/sections/audit/Logs.tsx
  apps/web/src/pages/admin/sections/billing/Adjustments.tsx
  apps/web/src/pages/admin/sections/billing/Disputes.tsx
  apps/web/src/pages/admin/sections/billing/Plans.tsx
  apps/web/src/pages/admin/sections/compliance/LegalHolds.tsx
  apps/web/src/pages/admin/sections/compliance/Residency.tsx
  apps/web/src/pages/admin/sections/compliance/Retention.tsx
  apps/web/src/pages/admin/sections/llm/Budgets.tsx
  apps/web/src/pages/admin/sections/llm/Evaluations.tsx
  apps/web/src/pages/admin/sections/llm/Prompts.tsx
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  apps/web/src/pages/admin/sections/ops/Jobs.tsx
  apps/web/src/pages/admin/sections/ops/Monitoring.tsx
  apps/web/src/pages/admin/sections/partners/Connectors.tsx
  apps/web/src/pages/admin/sections/partners/Registry.tsx
  apps/web/src/pages/admin/sections/partners/Webhooks.tsx
  apps/web/src/pages/admin/sections/security/Access.tsx
  apps/web/src/pages/admin/sections/security/Sessions.tsx
  apps/web/src/pages/admin/sections/security/Users.tsx
  apps/web/src/pages/admin/sections/system/FeatureFlags.tsx
  apps/web/src/pages/admin/sections/system/Releases.tsx
  apps/web/src/pages/admin/sections/system/Settings.tsx
Owners: @frontend-team

chore(admin): resolve services path for vercel
  apps/web/src/pages/admin/sections/AdminOverview.tsx
  apps/web/src/pages/admin/sections/audit/Approvals.tsx
  apps/web/src/pages/admin/sections/audit/Compliance.tsx
  apps/web/src/pages/admin/sections/audit/Logs.tsx
  apps/web/src/pages/admin/sections/billing/Adjustments.tsx
  apps/web/src/pages/admin/sections/billing/Disputes.tsx
  apps/web/src/pages/admin/sections/billing/Plans.tsx
  apps/web/src/pages/admin/sections/compliance/LegalHolds.tsx
  apps/web/src/pages/admin/sections/compliance/Residency.tsx
  apps/web/src/pages/admin/sections/compliance/Retention.tsx
  apps/web/src/pages/admin/sections/llm/Budgets.tsx
  apps/web/src/pages/admin/sections/llm/Evaluations.tsx
  apps/web/src/pages/admin/sections/llm/Prompts.tsx
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  apps/web/src/pages/admin/sections/ops/Jobs.tsx
  apps/web/src/pages/admin/sections/ops/Monitoring.tsx
  apps/web/src/pages/admin/sections/partners/Connectors.tsx
  apps/web/src/pages/admin/sections/partners/Registry.tsx
  apps/web/src/pages/admin/sections/partners/Webhooks.tsx
  apps/web/src/pages/admin/sections/security/Access.tsx
  apps/web/src/pages/admin/sections/security/Sessions.tsx
  apps/web/src/pages/admin/sections/security/Users.tsx
  apps/web/src/pages/admin/sections/system/FeatureFlags.tsx
  apps/web/src/pages/admin/sections/system/Releases.tsx
  apps/web/src/pages/admin/sections/system/Settings.tsx
Owners: @frontend-team

fix(admin): add explicit extensions to vite resolve config
  apps/web/src/pages/admin/sections/AdminOverview.tsx
  apps/web/src/pages/admin/sections/audit/Approvals.tsx
  apps/web/src/pages/admin/sections/audit/Compliance.tsx
  apps/web/src/pages/admin/sections/audit/Logs.tsx
  apps/web/src/pages/admin/sections/billing/Adjustments.tsx
  apps/web/src/pages/admin/sections/billing/Disputes.tsx
  apps/web/src/pages/admin/sections/billing/Plans.tsx
  apps/web/src/pages/admin/sections/compliance/LegalHolds.tsx
  apps/web/src/pages/admin/sections/compliance/Residency.tsx
  apps/web/src/pages/admin/sections/compliance/Retention.tsx
  apps/web/src/pages/admin/sections/llm/Budgets.tsx
  apps/web/src/pages/admin/sections/llm/Evaluations.tsx
  apps/web/src/pages/admin/sections/llm/Prompts.tsx
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  apps/web/src/pages/admin/sections/ops/Jobs.tsx
  apps/web/src/pages/admin/sections/ops/Monitoring.tsx
  apps/web/src/pages/admin/sections/partners/Connectors.tsx
  apps/web/src/pages/admin/sections/partners/Registry.tsx
  apps/web/src/pages/admin/sections/partners/Webhooks.tsx
  apps/web/src/pages/admin/sections/security/Access.tsx
  apps/web/src/pages/admin/sections/security/Sessions.tsx
  apps/web/src/pages/admin/sections/security/Users.tsx
  apps/web/src/pages/admin/sections/system/FeatureFlags.tsx
  apps/web/src/pages/admin/sections/system/Releases.tsx
  apps/web/src/pages/admin/sections/system/Settings.tsx
  apps/web/vite.config.ts
Owners: @frontend-team

fix(admin): add services.ts barrel export to resolve Vite directory import issue
  apps/web/src/lib/admin/services.ts
Owners: @frontend-team

fix(admin): commit admin lib modules
  .gitignore
  apps/web/src/lib/admin/permissions.ts
  apps/web/src/lib/admin/services/index.ts
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/lib/admin/types.ts
  apps/web/src/lib/admin/useAdminAudit.ts
  apps/web/src/lib/chart-theme.ts
  apps/web/src/lib/throttle.ts
Owners: @admin-team, @frontend-team

fix(admin): restore billing editing and budget ui
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/lib/admin/types.ts
  apps/web/src/pages/admin/sections/billing/Plans.tsx
  apps/web/src/pages/admin/sections/llm/Budgets.tsx
Owners: @frontend-team

fix(admin): avoid structuredClone failure for dashboard metrics
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
Owners: @frontend-team

fix(admin): harden jobs and alerts mocks
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
Owners: @frontend-team

feat(admin): provide fallback data for ops jobs and alerts
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  apps/web/src/pages/admin/sections/ops/Jobs.tsx
Owners: @frontend-team

fix(admin): stabilize ops tabs error fallback
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  apps/web/src/pages/admin/sections/ops/Jobs.tsx
Owners: @frontend-team

fix(admin): avoid redundant search param updates
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  apps/web/src/pages/admin/sections/ops/Jobs.tsx
Owners: @frontend-team

fix(admin): stabilize audit logs fallback handling
  apps/web/src/pages/admin/sections/audit/Logs.tsx
Owners: @frontend-team

fix(admin): stabilize security tabs with fallback data
  apps/web/src/pages/admin/sections/security/Access.tsx
  apps/web/src/pages/admin/sections/security/Sessions.tsx
  apps/web/src/pages/admin/sections/security/Users.tsx
Owners: @frontend-team

fix(admin): stabilize billing adjustments and disputes
  apps/web/src/pages/admin/sections/billing/Adjustments.tsx
  apps/web/src/pages/admin/sections/billing/Disputes.tsx
Owners: @frontend-team

fix(admin): stabilize releases tab with fallback data
  apps/web/src/pages/admin/sections/system/Releases.tsx
Owners: @frontend-team

feat(admin): refresh user menu and sidebar profile
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/components/layout/UserMenu.tsx
Owners: @frontend-team

feat(admin): Add Billing Overview with revenue KPIs and charts
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/lib/admin/types.ts
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/billing/Overview.tsx
Owners: @frontend-team

feat(admin): Phase 2 billing integration - aggregator, recognition, and tax engines
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/lib/admin/services/billingIntegration.ts
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/lib/billing/aggregator.ts
  apps/web/src/lib/billing/fx.ts
  apps/web/src/lib/billing/providers/BillingProvider.ts
  apps/web/src/lib/billing/providers/sslcommerzProvider.ts
  apps/web/src/lib/billing/providers/stripeProvider.ts
  apps/web/src/lib/billing/recognition.ts
  apps/web/src/lib/billing/tax.ts
  apps/web/src/lib/billing/types.ts
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/billing/InvoicesPayments.tsx
  apps/web/src/pages/admin/sections/billing/Recognition.tsx
  apps/web/src/pages/admin/sections/billing/Taxes.tsx
Owners: @frontend-team

fix(admin): Update Billing Overview KPI card navigation
  apps/web/src/pages/admin/sections/billing/Overview.tsx
Owners: @frontend-team

feat(admin): Enhance Billing Plans page with proper UI
  apps/web/src/pages/admin/sections/billing/Plans.tsx
Owners: @frontend-team

feat: Add Rules Management feature to Admin Console
  apps/api/alembic/versions/20250115_add_rulesets_and_audit_tables.py
  apps/api/app/models.py
  apps/api/app/models/ruleset.py
  apps/api/app/routers/rules_admin.py
  apps/api/app/schemas/ruleset.py
  apps/api/app/services/rules_storage.py
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/lib/admin/types.ts
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/rules/List.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

feat: Add Rules Upload page and fix List page icon prop
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/rules/List.tsx
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

feat: Add Company Profile feature for SME dashboards
  apps/api/alembic/versions/20250120_add_company_profile.py
  apps/api/app/models.py
  apps/api/app/models/company_profile.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/company_profile.py
  apps/api/app/schemas/company_profile.py
  apps/api/main.py
  apps/web/src/lib/company-profile/service.ts
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix: Replace invalid FileTemplate icon with FileText from lucide-react
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @frontend-team

fix: Add templates section to allowed sections in ExporterDashboardV2
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

fix: Correct StatusBadge status values in DataRetention component
  apps/web/src/pages/settings/DataRetention.tsx
Owners: @frontend-team

fix: Correct StatusBadge status values in Bank Dashboard components
  apps/web/src/pages/bank/Approvals.tsx
  apps/web/src/pages/bank/Discrepancies.tsx
  apps/web/src/pages/bank/QueueOperations.tsx
Owners: @frontend-team

fix: Add state management for activeTab in BankDashboardV2
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

fix: Replace empty string values in SelectItem components in QueueOperations
  apps/web/src/pages/bank/QueueOperations.tsx
Owners: @frontend-team

fix: Preserve tab parameter in QueueOperationsView URL updates
  apps/web/src/pages/bank/QueueOperations.tsx
Owners: @frontend-team

fix: Add Settings and Help tabs to Bank Dashboard V2
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

feat: Add Dashboard tab as default for Bank Dashboard V2
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

fix: Add missing Bell icon import for DashboardOverview
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

fix: Add mock data fallback for getClientStats API endpoint
  apps/web/src/api/bank.ts
Owners: @frontend-team

fix: Add mock data fallback for getClientDashboard API endpoint
  apps/web/src/api/bank.ts
Owners: @frontend-team

Add invoice linkouts to ExporterResults and ImportResults pages
  apps/web/src/components/bank/BankQuickStats.tsx
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/bank/ResultsTable.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix TypeScript build error: Move WorkspaceDraft type definition before usage
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix build error: Replace WorkspaceDraft type alias with direct types
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix JSX syntax error: Add missing closing div tag in StatGrid function
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix JSX syntax error: Add missing closing div tag in StatGrid function for ImporterDashboardV2
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
