Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix: Wrap BankLogin with BankAuthProvider
  apps/web/src/App.tsx
Owners: @frontend-team

fix: Move all hooks before conditional returns in BankDashboardV2
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

fix: Use useBankAuth instead of useAuth in BankUsersPage
  apps/web/src/pages/bank/BankUsersPage.tsx
Owners: @frontend-team

feat: Implement Phase 3 analytics for bank policy overlays
  apps/api/alembic/versions/20250122_add_bank_policy_application_events.py
  apps/api/app/models.py
  apps/api/app/models/bank_policy.py
  apps/api/app/routers/bank_policy.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
  apps/web/src/api/bank.ts
  apps/web/src/pages/bank/PolicySurface.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix: Rename metadata columns to extra_metadata to avoid SQLAlchemy conflict
  apps/api/app/models/bank_workflow.py
  apps/api/app/models/sme_workspace.py
  migration_sql.sql
Owners: @backend-team, @security-team, @admin-team

security: Restrict bank user management to bank_admin only
  apps/api/app/routers/bank_users.py
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/bank/BankUsersPage.tsx
Owners: @backend-team, @security-team, @frontend-team

security: Add UI guards for bank admin-only features
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/BillingAllocationsPage.tsx
  apps/web/src/pages/bank/PolicySurface.tsx
Owners: @frontend-team

feat: Enhance bank authentication and queue operations
  apps/api/app/routers/__init__.py
  apps/api/app/routers/bank_auth.py
  apps/api/app/routers/bank_queue.py
  apps/api/main.py
  apps/web/src/api/bank.ts
  apps/web/src/lib/bank/auth.tsx
  apps/web/src/pages/bank/BankLogin.tsx
  docs/IMPLEMENTATION_STATUS.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

Wire QueueOperations UI to backend API and add bank compliance endpoints
  apps/api/app/routers/__init__.py
  apps/api/app/routers/bank_compliance.py
  apps/api/main.py
  apps/web/src/api/bank.ts
  apps/web/src/pages/bank/QueueOperations.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: update IMPLEMENTATION_STATUS after QueueOps/2FA/Data Retention completion; refresh priorities
  docs/IMPLEMENTATION_STATUS.md
Owners: @documentation-team

feat: Implement workflow stage access control and enhance client management UI
  apps/api/app/core/security.py
  apps/api/app/routers/bank_workflow.py
  apps/web/src/components/bank/ClientDetailView.tsx
  apps/web/src/components/bank/ClientManagement.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
  docs/IMPLEMENTATION_STATUS.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

Fix React Fragment syntax error in ClientManagement and complete Result Lifecycle implementation
  apps/web/src/components/bank/ClientManagement.tsx
Owners: @frontend-team

feat: Add SLA and Evidence Pack APIs and integrate into UI
  apps/api/app/routers/__init__.py
  apps/api/app/routers/bank_evidence.py
  apps/api/app/routers/bank_sla.py
  apps/api/main.py
  apps/web/src/api/bank.ts
  apps/web/src/pages/bank/EvidencePacks.tsx
  apps/web/src/pages/bank/SLADashboards.tsx
  docs/IMPLEMENTATION_STATUS.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

Complete P1 features: Templates integration, Bulk Jobs UI, Company Profile verification
  apps/api/app/models/sme_templates.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/bank_bulk_jobs.py
  apps/api/app/routers/sme_templates.py
  apps/api/app/schemas/sme_templates.py
  apps/api/main.py
  apps/web/src/api/bank-bulk-jobs.ts
  apps/web/src/api/sme-templates.ts
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/bank/BulkJobs.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @backend-team, @security-team, @frontend-team

Reorder sidebar navigation to follow chronological workflow: Templates -> Upload -> Review -> Workspace
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
Owners: @frontend-team

Add authentication system for Exporter and Importer dashboards with predefined demo credentials
  apps/web/src/App.tsx
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/lib/importer/auth.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/exporter/ExporterLogin.tsx
  apps/web/src/pages/importer/ImporterLogin.tsx
Owners: @frontend-team

Fix missing imports: Add Tabs components to Templates.tsx and useNavigate to ExporterResults.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @frontend-team

Fix missing Select component imports in Templates.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @frontend-team

Remove redundant 'Invoices & Payments' sidebar item from all dashboards - invoices are accessible via Billing tab
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix invoices tab in billing - render BillingInvoicesPage when invoices tab is clicked
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix BankDashboard billingTab state initialization
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

Add missing billingTab state to ImporterDashboardV2
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix billing refresh buttons - remove duplicate, ensure all pages pass onRefresh to BillingNav
  apps/web/src/pages/BillingInvoicesPage.tsx
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/pages/BillingUsagePage.tsx
Owners: @frontend-team

Add safety check for refresh button in BillingNav - only show if onRefresh is provided
  apps/web/src/components/billing/BillingNav.tsx
Owners: @frontend-team, @billing-team, @financial-team

Add logout buttons to exporter/importer sidebars and fix UserMenu to work with all dashboard types
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/components/layout/UserMenu.tsx
Owners: @frontend-team

Fix UserMenu to properly import and use auth hooks conditionally
  apps/web/src/components/layout/UserMenu.tsx
Owners: @frontend-team

Remove duplicate imports in UserMenu
  apps/web/src/components/layout/UserMenu.tsx
Owners: @frontend-team

Fix UserMenu to call all auth hooks unconditionally and select active one
  apps/web/src/components/layout/UserMenu.tsx
Owners: @frontend-team

Fix UserMenu to use useContext directly with all auth contexts
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/lib/admin/auth.tsx
  apps/web/src/lib/bank/auth.tsx
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/lib/importer/auth.tsx
Owners: @frontend-team

Update IMPLEMENTATION_STATUS.md to reflect completed P1 and P2 features
  docs/IMPLEMENTATION_STATUS.md
Owners: @documentation-team

Implement P1 gaps: Team Roles (SME), Environment Banner, Support Ticket Handoff
  apps/api/app/models/workspace_sharing.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/support.py
  apps/api/app/routers/workspace_sharing.py
  apps/api/app/schemas/workspace_sharing.py
  apps/api/main.py
  apps/api/migrations/versions/20250123_add_workspace_sharing.py
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/shared/EnvironmentBanner.tsx
  apps/web/src/components/shared/SupportTicketForm.tsx
  apps/web/src/components/sme/TeamRoles.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/sme/LCWorkspace.tsx
Owners: @backend-team, @security-team, @frontend-team

Add Accordion import to LCWorkspace for Team Roles section
  apps/web/src/pages/sme/LCWorkspace.tsx
Owners: @frontend-team

Fix missing useExporterAuth and useImporterAuth imports
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix Fix & Re-Process button redirect to exporter dashboard upload section
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Add download functionality to Customs Pack button and ensure Submit to Bank button is visible when all checks pass
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Implement all 6 phases for Importer LC validation improvements: UX refinements, supplier fix pack, feature flags, reports consistency, backend APIs, and telemetry
  apps/api/app/routers/__init__.py
  apps/api/app/routers/importer.py
  apps/api/main.py
  apps/web/src/api/importer.ts
  apps/web/src/config/importerFeatureFlags.ts
  apps/web/src/pages/ImportResults.tsx
Owners: @backend-team, @security-team, @frontend-team, @devops-team

Add exporter functionality: integrate exporter router, enhance ExporterResults component with bank submission features, and implement submission history display
  apps/api/app/models/exporter_submission.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/exporter.py
  apps/api/app/schemas/exporter_submission.py
  apps/api/main.py
  apps/api/migrations/versions/20250123_add_exporter_submissions.py
  apps/web/src/api/exporter.ts
  apps/web/src/config/exporterFeatureFlags.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team, @devops-team

Add bank_duplicates router for duplicate detection endpoints in API
  apps/api/app/models/duplicate_detection.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/bank_duplicates.py
  apps/api/app/schemas/duplicate_detection.py
  apps/api/app/services/similarity_service.py
  apps/api/main.py
  apps/api/migrations/versions/20250125_add_duplicate_detection.py
Owners: @backend-team, @security-team

Fix i18n build error: Use backend loader and move locale files to public directory
  apps/web/src/i18n/config.ts
  docs/IMPLEMENTATION_STATUS.md
Owners: @frontend-team, @documentation-team

Fix LanguageSwitcher import in BankSidebar
  apps/web/src/components/bank/BankSidebar.tsx
Owners: @frontend-team
