Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Apply RulHub-Claude alias-map extensions
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Switch to canonical-envelope RulHub payload (one doc per type)
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Skip Opus veto when RulHub is authoritative
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Restore Opus veto + pre-veto filter for RulHub engine errors
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Re-enable middle AI layer + deterministic pre-pass before Opus veto
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Make AI findings actually reach the Opus veto
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Fix Findings (N) label + top-strip count mismatch with tab content
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Align VerdictTab card with top-strip readiness banner
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/VerdictTab.tsx
Owners: @frontend-team

Middle AI: invoice arithmetic, BL clean-on-board, signature presence
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/tiered_validation.py
Owners: @backend-team, @security-team

Merge documents list with extracted_context for middle-AI checks
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

Ship AI Examiner as primary per-LC reasoning layer
  apps/api/app/services/validation/ai_validator.py
  scripts/examiner_prototype.py
Owners: @backend-team, @security-team, @admin-team

Fix AI examiner: build docs_by_type from merged source + pin Sonnet
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

Pin Sonnet 4.6 (not 4.5) for AI examiner default
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

Fix raw_text discovery + improve examiner error logging
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

Update CLAUDE.md + NEXT_SESSION_PROMPT for AI Examiner architecture
  CLAUDE.md
  NEXT_SESSION_PROMPT.md
Owners: @documentation-team

Harden RulHub consumer for 2026-04-21 deploy
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Collapse dual-prefix RulHub findings in dedup
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Send structured invoice line_items to RulHub
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Derive 4 missing fields for RulHub: per-carton, clean_bl, originality, signature
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Filter RulHub 'invalid value' noise on absent fields
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Phase 1/9: move ExtractionReview to shared lcopilot components
  apps/web/src/components/lcopilot/ExtractionReview.tsx
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Wire trdrhub side of Ask C #5 + #23 + UCP600-28 derivation
  apps/api/app/routers/validation/validation_execution.py
  scripts/rulhub_probe.py
Owners: @backend-team, @security-team, @admin-team

Phase 2/9: extract LcIntakeCard to shared lcopilot components
  apps/web/src/components/lcopilot/LcIntakeCard.tsx
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Phase 3/9: extract useExtractionPayloadStore sessionStorage hook
  apps/web/src/hooks/use-extraction-payload-store.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Phase 4/9: move resultsMapper to shared lcopilot lib
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/lcopilot/resultsMapper.ts
Owners: @frontend-team

Phase 5/9: move results tab shell to shared lcopilot components + actionSlot
  apps/web/src/components/lcopilot/results/tabs/AnalyticsTab.tsx
  apps/web/src/components/lcopilot/results/tabs/DocumentsTab.tsx
  apps/web/src/components/lcopilot/results/tabs/FindingsTab.tsx
  apps/web/src/components/lcopilot/results/tabs/HistoryTab.tsx
  apps/web/src/components/lcopilot/results/tabs/IssuesTab.tsx
  apps/web/src/components/lcopilot/results/tabs/VerdictTab.tsx
  apps/web/src/components/lcopilot/results/tabs/index.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

Phase 6/9: move PreparationGuide to shared lcopilot components
  apps/web/src/components/lcopilot/PreparationGuide.tsx
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Phase 7/9: add ReviewsTable shared component for dashboard recent activity
  apps/web/src/components/lcopilot/ReviewsTable.tsx
Owners: @frontend-team

Phase 2/1: add workflow_type enum + column to ValidationSession
  apps/api/alembic/versions/20260422_add_workflow_type.py
  apps/api/app/models.py
  apps/api/app/models/__init__.py
Owners: @backend-team, @database-team, @dba-team, @security-team

Phase 2/2: accept workflow_type on /api/validate/, persist to session + response
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/request_parsing.py
  apps/api/app/routers/validation/session_setup.py
Owners: @backend-team, @security-team

Phase 2/3: add LCOPILOT_IMPORTER_V2 feature flag
  apps/web/.env.example
  apps/web/src/lib/lcopilot/featureFlags.ts
Owners: @frontend-team

Phase 2/5: extend useValidate with workflowTypeEnum URL query param
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

Phase 2/4: add ImporterValidationPage for both importer moments
  apps/web/src/pages/importer/ImporterValidationPage.tsx
  apps/web/src/pages/importer/importerMoments.ts
Owners: @frontend-team

Phase 2/6: wire /draft-lc + /supplier-docs importer routes behind V2 flag
  apps/web/src/App.tsx
Owners: @frontend-team

Phase 2/7: rewrite ImportResults as thin shared-tab-shell wrapper
  apps/web/src/__tests__/ImportResults.test.tsx
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

Phase 3/1: add /api/importer/amendment-request endpoint for Moment 1
  apps/api/app/routers/importer.py
  apps/api/app/services/importer/__init__.py
  apps/api/app/services/importer/amendment_request.py
  apps/api/app/templates/amendment_request.html
Owners: @backend-team, @security-team

Phase 3/2: wire S3 upload + signed URL into supplier-fix-pack
  apps/api/app/routers/importer.py
Owners: @backend-team, @security-team

Phase 3/3: implement notify-supplier via existing Resend EmailService
  apps/api/app/routers/importer.py
Owners: @backend-team, @security-team

Phase 3/4: implement bank-precheck with tightened verdict thresholds
  apps/api/app/routers/importer.py
  apps/api/app/services/importer/bank_precheck.py
Owners: @backend-team, @security-team

Phase 3/5: add use-importer-actions hooks for the four Phase-3 endpoints
  apps/web/src/hooks/use-importer-actions.ts
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
