Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

feat: Update pricing to volume-based model - Free 2 LCs, Pay-as-you-go /LC, Professional /10 LCs, Business /40 LCs, Enterprise
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

fix: Mobile responsiveness - smaller text, better spacing, stacked before/after comparison on mobile
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

fix: Mobile responsiveness for main landing sections - hero, tools, problems, solution
  apps/web/src/components/sections/problems-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
Owners: @frontend-team

fix: Mobile responsiveness for all 15 tool landing pages - smaller headlines and stats on mobile
  apps/web/src/pages/tools/BankFeeComparatorLanding.tsx
  apps/web/src/pages/tools/ComingSoonTool.tsx
  apps/web/src/pages/tools/ContainerTrackerLanding.tsx
  apps/web/src/pages/tools/CounterpartyRiskLanding.tsx
  apps/web/src/pages/tools/CustomsMateLanding.tsx
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
  apps/web/src/pages/tools/DualUseCheckerLanding.tsx
  apps/web/src/pages/tools/DutyCalculatorLanding.tsx
  apps/web/src/pages/tools/HSCodeFinderLanding.tsx
  apps/web/src/pages/tools/InsuranceQuoteLanding.tsx
  apps/web/src/pages/tools/LCBuilderLanding.tsx
  apps/web/src/pages/tools/RouteOptimizerLanding.tsx
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
  apps/web/src/pages/tools/TradeAnalyticsLanding.tsx
  apps/web/src/pages/tools/TradeFinanceLanding.tsx
Owners: @frontend-team

feat: Add missing domains, rulebooks, and jurisdictions to uploader dropdowns
  Data/_UPLOAD_GUIDE.md
  apps/web/src/pages/admin/sections/rules/List.tsx
  apps/web/src/pages/admin/sections/rules/Upload.tsx
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @documentation-team, @frontend-team

docs: Update upload guide to use merged opinions/docdex files
  Data/_UPLOAD_GUIDE.md
Owners: @documentation-team

fix: Merge bank profiles, add DO NOT UPLOAD section, update all file counts
  Data/_UPLOAD_GUIDE.md
Owners: @documentation-team

fix: Add missing FTA collection rulebooks - eu_bilateral, us_bilateral, regional
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

fix: Add missing sanctions rulebooks - screening, un_uk combined
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

fix: Critical LCopilot validation engine fixes
  apps/api/app/routers/validate.py
  apps/api/app/services/crossdoc.py
Owners: @backend-team, @security-team

fix: Normalize document type for issue matching in analytics
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: Sync Document Status header with Analytics display
  apps/api/app/routers/validate.py
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @backend-team, @security-team, @frontend-team

fix: ImportResults now uses real API data instead of mock data
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

fix: Remove Back to Upload button and improve processing UX
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

feat: Add support for all Importer Draft LC document types
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: Add Price Verification Tool product spec
  docs/product_specs/00_roadmap_summary.md
  docs/product_specs/16_price_verification.md
Owners: @documentation-team

feat: Add bank-specific features to Container Tracker spec
  docs/product_specs/13_container_tracker.md
Owners: @documentation-team

feat: Add Price Verify tool + update Container Tracker in landing page
  apps/web/src/App.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/pages/tools/PriceVerifyLanding.tsx
Owners: @frontend-team

feat: Build Price Verification Tool - Full MVP
  apps/api/alembic/versions/20251130_add_price_verification.py
  apps/api/app/models/commodity_prices.py
  apps/api/app/routers/price_verify.py
  apps/api/app/services/price_verification.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/PriceVerify.tsx
  apps/web/src/pages/tools/PriceVerifyLanding.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

feat: Add Price Verify Dashboard with shadcn sidebar
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/components/search-form.tsx
  apps/web/src/components/ui/breadcrumb.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/components/version-switcher.tsx
  apps/web/src/index.css
  apps/web/src/lib/utils.ts
  apps/web/src/pages/tools/PriceVerifyLanding.tsx
  apps/web/src/pages/tools/price-verify/DashboardOverview.tsx
  apps/web/src/pages/tools/price-verify/PriceVerifyDashboard.tsx
  apps/web/src/pages/tools/price-verify/VerifyPage.tsx
  apps/web/src/pages/tools/price-verify/index.ts
  apps/web/tailwind.config.ts
  package-lock.json
Owners: @frontend-team, @security-team, @admin-team

feat(price-verify): Add V2 enhancements - Currency Conversion, PDF Export, LCopilot Integration
  apps/api/app/routers/price_verify.py
  apps/api/app/routers/validate.py
  apps/api/app/services/crossdoc.py
  apps/api/app/services/pdf_export.py
  apps/api/app/services/price_verification.py
  apps/web/src/pages/tools/price-verify/VerifyPage.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: Add /price-verify to CSRF exempt paths
  apps/api/main.py
Owners: @backend-team, @security-team

feat(price-verify): Add AI-powered enhancements
  apps/api/app/routers/price_verify.py
  apps/api/app/services/price_ai.py
  apps/api/app/services/price_verification.py
Owners: @backend-team, @security-team

fix(price-verify): Add PDF fallback extraction for when OCR unavailable
  apps/api/app/routers/price_verify.py
  apps/api/app/services/ocr_service.py
Owners: @backend-team, @security-team

fix(price-verify): Use same DocumentAI OCR as LCopilot
  apps/api/app/services/ocr_service.py
Owners: @backend-team, @security-team

feat(price-verify): Add distinct pages for all dashboard tabs
  apps/web/src/App.tsx
  apps/web/src/pages/tools/price-verify/AnalyticsPage.tsx
  apps/web/src/pages/tools/price-verify/BatchVerifyPage.tsx
  apps/web/src/pages/tools/price-verify/CommoditiesPage.tsx
  apps/web/src/pages/tools/price-verify/HelpPage.tsx
  apps/web/src/pages/tools/price-verify/HistoryPage.tsx
  apps/web/src/pages/tools/price-verify/MarketPricesPage.tsx
  apps/web/src/pages/tools/price-verify/ReportsPage.tsx
  apps/web/src/pages/tools/price-verify/SettingsPage.tsx
  apps/web/src/pages/tools/price-verify/index.ts
Owners: @frontend-team

fix: Replace FilePdf with File icon (FilePdf not in lucide-react)
  apps/web/src/pages/tools/price-verify/ReportsPage.tsx
Owners: @frontend-team

fix(ocr): Disable Textract fallback when DocumentAI is configured
  apps/api/app/ocr/factory.py
Owners: @backend-team, @security-team

fix(ocr): Use same DocumentAIService as LCopilot for Price Verify
  apps/api/app/services/ocr_service.py
Owners: @backend-team, @security-team

Fix Price Verify OCR: Use OCR Factory for proper credential handling
  apps/api/app/services/ocr_service.py
Owners: @backend-team, @security-team

Fix OCR: Add missing dependencies and better error logging for DocumentAI
  apps/api/app/ocr/google_documentai.py
  apps/api/requirements.txt
Owners: @backend-team, @security-team

feat(price-verify): Add bank-grade upgrades - real market data, audit logging, source attribution
  apps/api/app/routers/price_verify.py
  apps/api/app/services/audit_log.py
  apps/api/app/services/market_data.py
  apps/web/src/pages/tools/price-verify/DashboardOverview.tsx
  apps/web/src/pages/tools/price-verify/MarketPricesPage.tsx
  apps/web/src/pages/tools/price-verify/VerifyPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(price-verify): Complete Phase 1 - charts, audit persistence, history API
  apps/api/alembic/versions/20251201_add_audit_logs.py
  apps/api/app/models/audit_logs.py
  apps/api/app/routers/price_verify.py
  apps/api/app/services/audit_log.py
  apps/web/src/components/price-verify/PriceHistoryChart.tsx
  apps/web/src/pages/tools/price-verify/MarketPricesPage.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix(price-verify): Fix price range display in Market Prices table
  apps/api/app/services/price_verification.py
  apps/web/src/pages/tools/price-verify/MarketPricesPage.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(price-verify): Fix Source column and add Sample Data badges
  apps/api/app/services/price_verification.py
  apps/web/src/pages/tools/price-verify/DashboardOverview.tsx
  apps/web/src/pages/tools/price-verify/MarketPricesPage.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(price-verify): Correct Market Prices link in commodity modal
  apps/web/src/pages/tools/price-verify/CommoditiesPage.tsx
Owners: @frontend-team

fix(models): Rename reserved 'metadata' column to 'extra_data' SQLAlchemy reserves 'metadata' attribute name for DeclarativeBase
  apps/api/app/models/commodity_prices.py
Owners: @backend-team, @security-team

fix(price-verify): Fix analytics endpoint SQLAlchemy case() syntax - Use case() from sqlalchemy, not func.case() - func.case() doesn't support else_ keyword argument
  apps/api/app/routers/price_verify.py
Owners: @backend-team, @security-team

fix(ocr): Change default DocumentAI location from 'us' to 'eu' The processor 42d3342d260e1bf2 is in EU region, not US. Previous 'or eu' fallback didn't work because settings had 'us' already.
  apps/api/app/config.py
  apps/api/app/routes/health.py
Owners: @backend-team, @security-team

fix(ocr): Copy working init from LCopilot DocumentAIService
  apps/api/app/ocr/google_documentai.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
