Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix(validation): gate "Missing X document" findings by workflow_type
  apps/api/app/routers/validation/result_finalization.py
Owners: @backend-team, @security-team

fix(corpus): align LC 32B amount with goods_line_items sum + add invariant
  apps/web/tests/fixtures/importer-corpus/BD-CN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/BD-CN/SHIPMENT_CLEAN/Packing_List.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/DE-CN/SHIPMENT_CLEAN/Packing_List.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/UK-IN/SHIPMENT_CLEAN/Packing_List.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/DRAFT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/DRAFT_RISKY/LC.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Bill_of_Lading.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Certificate_of_Origin.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Inspection_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Insurance_Certificate.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Invoice.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/LC.pdf
  apps/web/tests/fixtures/importer-corpus/US-VN/SHIPMENT_CLEAN/Packing_List.pdf
  scripts/importer_corpus/corridors.py
Owners: @frontend-team, @qa-team, @admin-team

feat(smoke): semantic diff against corridor truth + non-zero exit on fail
  scripts/smoke_importer.sh
Owners: @admin-team

chore: untrack .claude/scheduled_tasks.lock + gitignore
  .claude/scheduled_tasks.lock
  .gitignore
Owners: @admin-team

fix(classifier): detect Draft Bill of Exchange before commercial_invoice
  apps/api/app/routers/validation/doc_types.py
Owners: @backend-team, @security-team

fix(validation): forward beneficiary/inspection/fumigation/draft to AI validator
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/tiered_validation.py
Owners: @backend-team, @security-team

chore(validation): self-report which rules path actually ran
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

feat(entitlements): SMOKE_TEST_EMAILS env-driven quota bypass
  apps/api/app/services/entitlements.py
  apps/api/env.example
Owners: @backend-team, @security-team

fix(rules): make RULHUB_API_ENABLED env-driven instead of hardcoded False
  apps/api/app/rules/external/rule_loader.py
Owners: @backend-team, @security-team

chore(rulhub): preserve reference_id from RulHub 5xx response
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

chore(rulhub): include sanitized request preview in db_rules_debug
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

fix(rulhub): show all field keys in request preview, not just first 30
  apps/api/app/routers/validation/validation_execution.py
  conversation prompt.md
Owners: @backend-team, @security-team, @documentation-team

chore: untrack conversation prompt.md scratchpad
  .gitignore
  conversation prompt.md
Owners: @admin-team, @documentation-team

docs: SESSION_RESUME stamp at 8524587e — corpus + spine + RulHub diagnostics
  SESSION_RESUME.md
Owners: @documentation-team

feat(sidebar): hide bulk-validation QA route from exporter and importer
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
Owners: @frontend-team

fix(brand): align post-login splash + light-mode sidebar to brand palette
  apps/web/src/index.css
  apps/web/src/pages/LcopilotRouter.tsx
Owners: @frontend-team

feat(brand): adopt DocGen sidebar pattern in Exporter/Importer/Agency/Bank
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
Owners: @frontend-team

feat(brand): retire /hub multi-tool surface, kill in-app Back-to-Hub links
  apps/web/src/App.tsx
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
Owners: @frontend-team

chore(brand): delete legacy Dashboard.tsx, recolor 3 LCopilot results components
  apps/web/src/App.tsx
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/components/exporter/HowToFixSection.tsx
  apps/web/src/components/lcopilot/ExtractionReview.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/UploadLC.tsx
Owners: @frontend-team

fix(brand): two more loaders missed in 9e513911 — Beta route + RequireAuth
  apps/web/src/components/lcopilot/LcopilotBetaRoute.tsx
  apps/web/src/components/lcopilot/RequireAuth.tsx
Owners: @frontend-team

fix(importer): remove broken /reviews link, route View by workflow_type
  apps/web/src/pages/ExporterResultsV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

chore(importer): remove placeholder Settings tab
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

fix(billing): surface marketing tier from backend to unbreak Billing tab
  apps/api/app/schemas/billing.py
  apps/api/app/services/billing_service.py
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/types/billing.ts
Owners: @backend-team, @security-team, @frontend-team

docs: LCopilot pricing restructure design spec
  docs/superpowers/specs/2026-05-10-lcopilot-pricing-restructure-design.md
Owners: @documentation-team

feat(billing): backend — pricing restructure tier model + entitlements
  apps/api/alembic/versions/20260510_pricing_restructure_tier.py
  apps/api/app/models/company.py
  apps/api/app/routers/entitlements.py
  apps/api/app/schemas/onboarding.py
  apps/api/app/services/billing_service.py
  apps/api/app/services/entitlements.py
  apps/api/app/services/onboarding_service.py
Owners: @backend-team, @database-team, @dba-team, @security-team

docs: pricing restructure — mark backend shipped, record pending frontend + SESSION_RESUME
  SESSION_RESUME.md
  docs/superpowers/specs/2026-05-10-lcopilot-pricing-restructure-design.md
Owners: @documentation-team

feat(billing): frontend — pricing.ts single source of truth + Index.tsx repoint
  apps/web/src/lib/pricing.ts
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

feat(billing): frontend — PricingPage Trader/Agency toggle, QuotaStrip, normalizePlanType
  apps/web/src/components/entitlements/QuotaStrip.tsx
  apps/web/src/lib/lcopilot/entitlementsApi.ts
  apps/web/src/pages/PricingPage.tsx
  apps/web/src/types/billing.ts
Owners: @frontend-team

docs: pricing restructure — frontend reconciliation shipped, update spec §8 + SESSION_RESUME
  SESSION_RESUME.md
  docs/superpowers/specs/2026-05-10-lcopilot-pricing-restructure-design.md
Owners: @documentation-team

fix(migration): drop+recreate ck_companies_tier_valid for the 7-value tier set
  apps/api/alembic/versions/20260510_pricing_restructure_tier.py
Owners: @backend-team, @database-team, @dba-team

docs: migration 20260510 applied on Render — record state
  SESSION_RESUME.md
  docs/superpowers/specs/2026-05-10-lcopilot-pricing-restructure-design.md
Owners: @documentation-team

fix(billing): TRDR Hub landing pricing section — new tiers, kill stale copy
  apps/web/src/components/sections/trdr-pricing-section.tsx
Owners: @frontend-team

docs: SESSION_RESUME — pricing restructure ~90% shipped, record the two remaining items
  SESSION_RESUME.md
Owners: @documentation-team

feat(lcopilot): public free LC checker — POST /api/check + /check page
  apps/api/app/config.py
  apps/api/app/routers/public_check.py
  apps/api/app/utils/anon_rate_limit.py
  apps/api/main.py
  apps/api/tests/public_lc_check_test.py
  apps/web/src/App.tsx
  apps/web/src/lib/lcopilot/publicCheckApi.ts
  apps/web/src/pages/CheckPage.tsx
  apps/web/src/pages/PricingPage.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

fix(billing): label tiers by raw company.tier, not the legacy PlanType
  apps/web/src/components/billing/AlertBanner.tsx
  apps/web/src/components/billing/PlanCard.tsx
  apps/web/src/components/entitlements/QuotaStrip.tsx
  apps/web/src/lib/billing/tierDisplay.ts
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/types/billing.ts
Owners: @frontend-team, @billing-team, @financial-team

docs: pricing restructure complete — record /api/check + billing-label commits, refresh SESSION_RESUME
  SESSION_RESUME.md
  docs/superpowers/specs/2026-05-10-lcopilot-pricing-restructure-design.md
Owners: @documentation-team

fix(auth): don't bounce logged-out visitors off public pages on /auth/me 401
  apps/web/src/api/client.ts
Owners: @frontend-team

fix(check): outline buttons readable — bg-transparent + explicit hover text
  apps/web/src/pages/CheckPage.tsx
Owners: @frontend-team

fix(landing): align home + /trdr marketing copy with the 2026-05-10 pricing model
  apps/web/src/components/sections/cta-section.tsx
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
Owners: @frontend-team

fix(lcopilot landing): localize prices to the visitor's currency
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
