Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Preserve crossdoc overlap metadata for ICC dedup
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_issue_metadata_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Add UCP600-18B exporter freeze corpus case
  apps/api/tests/gold_corpus/documents/set_022_invoice_buyer_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_022_invoice_buyer_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_022_invoice_buyer_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_022_invoice_buyer_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_022_invoice_buyer_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_022_invoice_buyer_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_011_invoice_issuer_mismatch.json
  apps/api/tests/gold_corpus/expected/set_022_invoice_buyer_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @qa-team, @documentation-team

Promote UCP600-18D over legacy goods mismatch
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validator.py
  apps/api/tests/gold_corpus/expected/set_006_goods_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/result_finalization_issue_layering_test.py
  apps/api/tests/validation_execution_icc_precedence_test.py
  apps/api/tests/validation_execution_price_layering_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

Suppress ICC umbrellas for exact-wording documentary findings
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/gold_corpus/expected/set_018_invoice_exact_wording_missing.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Promote 47A identifier findings into requirement-backed readiness
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_47a_requirements_graph_test.py
  apps/api/tests/gold_corpus/expected/set_015_po_number_missing.json
  apps/api/tests/gold_corpus/expected/set_016_exporter_bin_missing.json
  apps/api/tests/gold_corpus/expected/set_017_exporter_tin_missing.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/presentation_contract_continuity_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

Promote UCP600-20C over legacy late shipment
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/gold_corpus/expected/set_004_late_shipment.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Canonicalize UCP600-20C overlap aliases
  apps/api/app/services/validator.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Lock UCP600-20E corpus baseline
  apps/api/tests/gold_corpus/expected/set_003_port_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @qa-team, @documentation-team

Support UCP600-28E computed valuation rules
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/rule_evaluator.py
  apps/api/tests/invoice_validation_context_test.py
  apps/api/tests/rule_evaluator_lc_ops_compatibility_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

Canonicalize insurance undercoverage overlap keys
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validator.py
  apps/api/tests/validation_execution_icc_precedence_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Lock UCP600-28E exporter freeze baseline
  apps/api/tests/gold_corpus/expected/set_005_insurance_undervalue.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @qa-team, @documentation-team

Project AI validation layers into contract
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/ai_validation_layer_projection_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @documentation-team, @admin-team

Move AI validation ahead of deterministic runtime
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/ai_validation_layer_projection_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

Wire real AI L3 anomaly review into validation
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/tests/ai_validation_l3_anomaly_review_test.py
  apps/api/tests/ai_validation_layer_projection_test.py
Owners: @backend-team, @security-team, @qa-team

Escalate severe AI L3 anomalies into review
  apps/api/app/services/validation/ai_validator.py
  apps/api/tests/ai_validation_l3_anomaly_review_test.py
  apps/api/tests/presentation_contract_continuity_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

Fix low-confidence LC AI fallback context
  apps/api/app/routers/validation/session_setup.py
  apps/api/tests/session_setup_job_persistence_test.py
Owners: @backend-team, @security-team, @qa-team

Harden validation result JSON serialization
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/result_finalization_json_safety_test.py
Owners: @backend-team, @security-team, @qa-team

Surface validation pipeline breadcrumbs on 500s
  apps/api/app/routers/validate_run.py
  apps/api/main.py
  apps/api/tests/global_exception_breadcrumbs_test.py
  apps/api/tests/pipeline_runner_failure_breadcrumbs_test.py
  apps/api/tests/validate_run_failure_breadcrumbs_test.py
Owners: @backend-team, @security-team, @qa-team

Harden external auth provisioning failures
  apps/api/app/core/security.py
  apps/api/tests/test_auth_provisioning.py
Owners: @backend-team, @security-team, @qa-team

Recover validation DB session before issue assembly
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_session_recovery_test.py
Owners: @backend-team, @security-team, @qa-team

Use extraction review signals for AI L3 escalation
  apps/api/app/services/validation/ai_validator.py
  apps/api/tests/ai_validation_l3_anomaly_review_test.py
Owners: @backend-team, @security-team, @qa-team

Provisionalize issues on unreliable AI-major docs
  apps/api/app/routers/validation/issues_pipeline.py
  apps/api/tests/issues_pipeline_ai_provisional_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

Preserve degraded extraction review signals
  apps/api/app/routers/validation/response_shaping.py
  apps/api/tests/response_shaping_review_signal_test.py
Owners: @backend-team, @security-team, @qa-team

Preserve degraded review signals in document summaries
  apps/api/app/routers/validation/document_builder.py
  apps/api/tests/document_builder_review_signal_test.py
Owners: @backend-team, @security-team, @qa-team

Mark AI provisionalization milestone complete
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @documentation-team

Mirror public validation contract surfaces
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/public_validation_envelope_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
  docs/architecture/exporter-freeze-ai-first-directive.md
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @documentation-team, @admin-team

Expose provisional findings in exporter results
  apps/api/app/routers/validation/response_shaping.py
  apps/api/tests/public_validation_envelope_test.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
  apps/web/src/types/lcopilot.ts
  docs/architecture/exporter-freeze-ai-first-directive.md
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @documentation-team, @admin-team

Add UCP600-20E transport freeze coverage
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_icc_precedence_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Keep ready validation findings out of provisional lane
  apps/api/app/routers/validation/issues_pipeline.py
  apps/api/tests/issues_pipeline_ai_provisional_test.py
Owners: @backend-team, @security-team, @qa-team

Stop burying live ICC findings in provisional issues
  apps/api/app/routers/validation/issues_pipeline.py
  apps/api/tests/issues_pipeline_ai_provisional_test.py
Owners: @backend-team, @security-team, @qa-team

Trust final-ready workflow over stale extraction flags
  apps/api/app/routers/validation/issues_pipeline.py
  apps/api/tests/issues_pipeline_ai_provisional_test.py
Owners: @backend-team, @security-team, @qa-team

Preserve ICC issue semantics in public cards
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/app/services/crossdoc.py
  apps/api/tests/crossdoc_issue_card_severity_test.py
Owners: @backend-team, @security-team, @qa-team

Suppress fallback ICC umbrellas on documentary crossdoc findings
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Rerun ICC suppression after late issue merges
  apps/api/app/routers/validation/result_finalization.py
Owners: @backend-team, @security-team

Wire ICC suppression helpers into validate router
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Isolate set_002 gold corpus amount mismatch
  apps/api/tests/gold_corpus/documents/set_002_amount_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/expected/set_002_amount_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Start exporter phase 2.5 product polish
  apps/web/src/pages/ExporterResults.tsx
  docs/architecture/exporter-freeze-ai-first-directive.md
  docs/architecture/exporter-phase-25-product-audit.md
Owners: @frontend-team, @documentation-team

Clarify exporter customs next step
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/pages/ExporterResults.tsx
  docs/architecture/exporter-phase-25-product-audit.md
Owners: @frontend-team, @documentation-team

Use live bank directory for exporter submissions
  apps/api/app/routers/exporter.py
  apps/api/app/schemas/exporter_submission.py
  apps/api/app/services/exporter_bank_directory.py
  apps/api/tests/exporter_bank_directory_test.py
  apps/web/src/__tests__/DocumentCard.test.tsx
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/api/exporter.ts
  apps/web/src/pages/ExporterResults.tsx
  docs/architecture/exporter-freeze-ai-first-directive.md
  docs/architecture/exporter-phase-25-product-audit.md
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @documentation-team, @admin-team

Bridge orphaned bank companies into exporter directory
  apps/api/app/routers/admin_banks.py
  apps/api/app/services/bank_company_registry.py
  apps/api/app/services/exporter_bank_directory.py
  apps/api/tests/bank_company_registry_test.py
  apps/api/tests/exporter_bank_directory_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
  docs/architecture/exporter-phase-25-product-audit.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
