Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix(results): tighten checklist mapping and humanize issues
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(web): implement banker-grade issue buckets and review cards
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

fix(issues): separate compliance semantics from discrepancies
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
Owners: @frontend-team

feat(lc): add iso-aware family detection lane
  apps/api/app/services/lc_classifier.py
  apps/api/app/services/lc_type_detector.py
Owners: @backend-team, @security-team

fix(web): add missing ShieldAlert import
  apps/web/src/components/exporter/ExporterIssueCard.tsx
Owners: @frontend-team

fix(results): make warning reasons more specific
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(customs): add submission readiness control room
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(upload): align summary and overrides with lc-first flow
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(build): restore monorepo deployment pipeline
  apps/web/src/pages/ExporterResults.tsx
  packages/shared-types/src/document-types.ts
Owners: @frontend-team, @admin-team

Normalize exporter compliance lane and checklist states
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/components/exporter/HowToFixSection.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

fix(results): harden compliance lane classification
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @frontend-team

fix(results): tighten compliance review actions
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @frontend-team

fix(results): make warning reasons more specific
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(amendments): prevent bogus port amendment mapping
  apps/api/app/services/validation/amendment_generator.py
  apps/api/tests/test_amendment_generator.py
Owners: @backend-team, @security-team, @qa-team

fix(validation): persist hardened structured results
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(validation): prevent cycle2 recovery false-pass
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(results): freeze shared lcopilot result contract path
  apps/web/src/__tests__/ImportResults.test.tsx
  apps/web/src/__tests__/resultTruth.test.ts
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/exporter/results/AmendmentCard.tsx
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

fix(auth): consolidate lcopilot beta routing and session guards
  apps/web/src/App.tsx
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/components/lcopilot/LcopilotBetaRoute.tsx
  apps/web/src/components/onboarding/OnboardingProvider.tsx
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/lcopilot/routing.ts
  apps/web/src/pages/CombinedDashboard.tsx
  apps/web/src/pages/EnterpriseDashboard.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/LcopilotRouter.tsx
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Onboarding.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/auth/Callback.tsx
Owners: @frontend-team

fix(results): harden canonical job reopen and history routing
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/ImportResults.test.tsx
  apps/web/src/__tests__/useCanonicalJobResult.test.tsx
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportLCUpload.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

fix(results): harden bank verdict and importer canonical rendering
  apps/web/src/__tests__/ImportResults.test.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/exporter/results/BankVerdictCard.tsx
  apps/web/src/pages/exporter/results/__tests__/BankVerdictCard.test.tsx
Owners: @frontend-team

feat(billing): add lcopilot beta quota and paywall shell
  apps/api/app/services/entitlements.py
  apps/web/src/__tests__/LCUploadQuotaShell.test.tsx
  apps/web/src/__tests__/lcopilotQuota.test.ts
  apps/web/src/components/billing/LcopilotQuotaBanner.tsx
  apps/web/src/components/billing/QuotaLimitModal.tsx
  apps/web/src/hooks/use-lcopilot-quota.ts
  apps/web/src/lib/lcopilot/quota.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ImportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team, @billing-team, @financial-team

fix(importer): converge importer onto the lcopilot beta spine
  apps/web/src/__tests__/ImportResults.test.tsx
  apps/web/src/__tests__/importerUpload.test.ts
  apps/web/src/lib/lcopilot/importerUpload.ts
  apps/web/src/pages/ImportLCUpload.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

fix(importer): remove unreachable demo fallback from importer upload
  apps/web/src/pages/ImportLCUpload.tsx
Owners: @frontend-team

fix(auth): restore live supabase identity and role truth
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
  apps/api/app/routers/onboarding.py
  apps/web/src/hooks/use-auth.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(auth): restore live identity provisioning and role truth
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

fix(auth): harden external user provisioning and password hashing
  apps/api/app/core/security.py
  apps/api/tests/test_auth_provisioning.py
Owners: @backend-team, @security-team, @qa-team

fix(importer-results): align verdict and readiness with canonical payload
  apps/web/src/__tests__/resultTruth.test.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
  apps/web/src/types/lcopilot.ts
Owners: @frontend-team

fix(importer-results): prefer canonical eligibility over stale review verdict
  apps/web/src/lib/lcopilot/resultTruth.ts
Owners: @frontend-team

fix(exporter-beta): remove fake maturity from outer surfaces
  apps/web/src/components/sme/AIAssistance.tsx
  apps/web/src/components/sme/ContentLibrary.tsx
  apps/web/src/components/sme/ShipmentTimeline.tsx
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/pages/BillingUsagePage.tsx
  apps/web/src/pages/ExporterAnalytics.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/settings/DataRetention.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @frontend-team

fix(billing): tolerate missing quota state in exporter beta
  apps/web/src/__tests__/billingShapeTolerance.test.tsx
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/pages/BillingUsagePage.tsx
  apps/web/src/types/billing.ts
Owners: @frontend-team

fix(exporter-dashboard): align outer surfaces with real beta truth
  apps/web/src/__tests__/dashboardTruth.test.ts
  apps/web/src/__tests__/templatePrefill.test.ts
  apps/web/src/lib/exporter/dashboardTruth.ts
  apps/web/src/lib/exporter/templatePrefill.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/sme/LCWorkspace.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @frontend-team

fix(exporter-dashboard): repair overview, workspace, and templates truth
  apps/api/app/routers/sme.py
  apps/api/app/routers/sme_templates.py
  apps/api/app/schemas/sme_workspace.py
  apps/api/tests/test_sme_workspace_schemas.py
  apps/web/src/__tests__/dashboardTruth.test.ts
  apps/web/src/api/sessions.ts
  apps/web/src/api/sme-templates.ts
  apps/web/src/lib/exporter/dashboardTruth.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/sme/LCWorkspace.tsx
  apps/web/src/pages/sme/Templates.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

fix(sme): restore exporter workspace and templates storage routes
  apps/api/alembic/versions/20260316_add_sme_storage_tables.py
  apps/api/tests/test_sme_storage_bootstrap.py
Owners: @backend-team, @database-team, @dba-team, @qa-team

fix(exporter-dashboard): finish workspace and template handoff flow
  apps/api/app/routers/sme.py
  apps/api/app/routers/sme_templates.py
  apps/api/tests/test_sme_route_order.py
  apps/web/src/__tests__/ExportLCUploadTemplatePrefill.test.tsx
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

fix(exporter-upload): consume template handoff in embedded flow
  apps/web/src/__tests__/ExportLCUploadTemplatePrefill.test.tsx
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix(sme-templates): restore template prefill response
  apps/api/app/routers/sme_templates.py
  apps/api/tests/test_sme_template_prefill.py
Owners: @backend-team, @security-team, @qa-team

fix(lcopilot): improve ISO LC format recognition
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/iso20022_lc_extractor.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/smart_lc_extractor.py
  apps/api/tests/test_iso_lc_recognition.py
Owners: @backend-team, @security-team, @qa-team

fix(lcopilot): map ISO LC extraction into workflow type detection
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/lc_classifier.py
  apps/api/tests/test_iso_workflow_detection.py
Owners: @backend-team, @security-team, @qa-team

fix(lcopilot): use workflow lane fallback for ISO orientation
  apps/api/app/services/lc_classifier.py
  apps/api/tests/test_iso_workflow_detection.py
Owners: @backend-team, @security-team, @qa-team

fix(lcopilot): normalize port suffixes for workflow intake
  apps/api/app/reference_data/ports.py
  apps/api/tests/test_iso_runtime_shape.py
Owners: @backend-team, @security-team, @qa-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
