Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

refactor: update ExporterDashboard analytics for improved document processing insights
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

refactor: enhance ExporterDashboard components for improved navigation and state management
  apps/web/src/components/lcopilot/DashboardNav.tsx
  apps/web/src/components/lcopilot/ExporterDashboardLayout.tsx
  apps/web/src/components/lcopilot/ExporterSidebar.tsx
  apps/web/src/components/lcopilot/dashboardTabs.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: correct logical operators in ExporterResults component for accurate data handling
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: correct ternary operator syntax in ExporterResults.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: resolve Vercel build warnings
  .gitignore
  package-lock.json
Owners: @admin-team

fix: remove trdrhub-suite from .gitignore
  .gitignore
Owners: @admin-team

fix: resolve Vercel submodule warning and configure build
  .gitignore
  vercel.json
Owners: @admin-team

fix: update ternary operator syntax in ExporterResults.tsx for consistency
  apps/web/src/pages/ExporterResults.tsx
  vercel.json
Owners: @frontend-team, @admin-team

fix: enhance error logging in validation processes
  apps/api/app/routers/validate.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: improve error logging in validation hooks and components
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix: improve error handling and logging in job validation and results retrieval
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: add issue context builder for AI validation
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

refactor: improve variable naming for clarity in validate.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: enhance document validation and error handling in validate.py
  apps/api/app/routers/validate.py
  apps/web/src/App.tsx
Owners: @backend-team, @security-team, @frontend-team

refactor: replace raw fetch with API client in useResults hook
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

refactor: update import for LC extractor in validate.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: improve error logging in results fetch to show actual error message
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

fix: simplify results fetching to avoid race conditions with React Query
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

Exporter Dashboard: restore section-based shell (Importer-style), Option-E only; wire ExporterResults across sections
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/lib/exporter/url.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

fix: wire up all missing sidebar sections in ExporterDashboard
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: restore original exporter Dashboard overview layout
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: remove Upload/Analytics buttons, always show LC Management section
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: replace mock data with real data in Dashboard tab
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: reorder Dashboard layout - stats below welcome, then drafts
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: hide dev banner on production if API fails
  apps/web/src/components/shared/EnvironmentBanner.tsx
Owners: @frontend-team

fix: add defensive array checks in resultsMapper to prevent .map errors
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @frontend-team

fix: harden resultsMapper against unexpected object types
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @frontend-team

fix: redirect to main /login instead of /lcopilot/exporter-dashboard/login
  apps/web/src/App.tsx
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: prevent React Error #31 by ensuring all doc.type values are strings
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: add safeString to ExporterIssueCard to prevent React Error #31
  apps/web/src/components/exporter/ExporterIssueCard.tsx
Owners: @frontend-team

fix: convert lc_type from {types: [...]} object to string
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

fix: wrap item.type in safeString() in Analytics table
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: handle {types:[]} object in LcHeader.tsx
  apps/web/src/components/lcopilot/LcHeader.tsx
Owners: @frontend-team

Phase 0: Document Intelligence Layer - Content-based classification, OCR quality gate, language detection
  apps/api/app/routers/documents.py
  apps/api/app/services/document_intelligence/__init__.py
  apps/api/app/services/document_intelligence/doc_type_classifier.py
  apps/api/app/services/document_intelligence/language_detector.py
  apps/api/app/services/document_intelligence/ocr_quality_gate.py
Owners: @backend-team, @security-team

Phase 1: Diagnostic Audit - Root cause analysis of 100% compliance bug
  apps/api/app/services/validation/DIAGNOSTIC_AUDIT_PHASE1.md
Owners: @documentation-team

Phase 2: LC Extractor Rebuild - LCBaseline with field tracking
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/lc_baseline.py
  apps/api/app/services/extraction/lc_extractor_v2.py
Owners: @backend-team, @security-team

Phase 3: Rules Engine - Externalized YAML rules system
  apps/api/app/rules/external/__init__.py
  apps/api/app/rules/external/rule_executor.py
  apps/api/app/rules/external/rule_loader.py
  apps/api/app/rules/external/rule_schema.py
Owners: @backend-team, @security-team

Phase 4: Validation Gating - Hard stop when LC extraction fails
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/validation_gate.py
Owners: @backend-team, @security-team

Phase 5: Issue Engine - Auto-generate issues from missing fields
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/issue_engine.py
Owners: @backend-team, @security-team

Phase 6: Compliance Scoring - Fix the 100% compliance bug
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/compliance_scorer.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
