Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

refactor(lcopilot): canonicalize lc classification and required-document contract
  apps/api/app/integrations/bank_integration.py
  apps/api/app/routers/validate.py
  apps/api/app/schemas/integrations.py
  apps/api/app/services/extraction/iso20022_lc_extractor.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/app/services/extraction/smart_lc_extractor.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/rule_evaluator.py
  apps/api/app/services/validator.py
  apps/api/tests/ai_first_structured_contract_test.py
  apps/api/tests/lc_taxonomy_test.py
  apps/api/tests/test_iso_lc_recognition.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderWizard.tsx
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/document_types.py
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
  packages/shared-types/src/document-types.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

fix(auth): allow app frontend origin in api cors
  apps/api/app/config.py
  apps/api/main.py
  apps/api/tests/test_auth_cors_origins.py
Owners: @backend-team, @security-team, @qa-team

fix(lcopilot): repair mt700 requirement continuity and support-doc dispatch
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/lc_taxonomy_test.py
  apps/api/tests/mt700_required_docs_continuity_test.py
  apps/api/tests/test_iso_runtime_shape.py
  apps/web/src/__tests__/ExportLCUploadTyping.test.tsx
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/lib/exporter/specialConditions.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
  packages/shared-types/src/document-types.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Fix sticky unknown LC workflow classification
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/tests/lc_taxonomy_test.py
Owners: @backend-team, @security-team, @qa-team

Fix sticky unknown LC workflow classification
  apps/api/app/services/extraction/lc_taxonomy.py
Owners: @backend-team, @security-team

Fix live LC workflow lane detection
  apps/api/app/services/lc_classifier.py
  apps/api/tests/lc_workflow_live_route_test.py
Owners: @backend-team, @security-team, @qa-team

Fix LC intake workflow detection
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/request_parsing.py
  apps/api/app/services/lc_classifier.py
  apps/api/tests/lc_workflow_live_route_test.py
Owners: @backend-team, @security-team, @qa-team

fix(lcopilot): separate workflow lane from lc semantics
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor(exporter-overview): reduce duplicate summary layers
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/overviewTruth.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(exporter): restore results page and upload requirements
  apps/web/src/lib/exporter/uploadRequirements.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(exporter): align readiness with checklist truth
  apps/web/src/lib/exporter/overviewTruth.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(exporter): align matched-doc coverage and action gating
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor(upload): simplify lc intake flow
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(upload): separate lc resolve from validation progress
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(upload): persist lc draft state and refine guidance
  apps/web/src/components/exporter/PreparationGuide.tsx
  apps/web/src/hooks/use-drafts.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(exporter): resume drafts inside dashboard shell
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix(upload): restore real files in resumed drafts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(exporter): align review truth across results, issues, and documents
  TRDR_HANDOFF_LIVE.md
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/lib/exporter/overviewTruth.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
Owners: @documentation-team, @frontend-team

fix(exporter): stop terminal jobs from hanging in loading state
  TRDR_HANDOFF_LIVE.md
  apps/web/src/hooks/use-lcopilot.ts
Owners: @documentation-team, @frontend-team

fix(exporter): break terminal results out of stuck loading
  TRDR_HANDOFF_LIVE.md
  apps/web/src/hooks/use-lcopilot.ts
Owners: @documentation-team, @frontend-team

fix(build): remove duplicated hook tail corruption
  TRDR_HANDOFF_LIVE.md
  apps/web/src/hooks/use-lcopilot.ts
Owners: @documentation-team, @frontend-team

refactor(extraction): start multimodal-first upload path
  TRDR_HANDOFF_LIVE.md
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @documentation-team, @backend-team, @security-team

refactor(extraction): enforce launch pipeline boundary
  TRDR_HANDOFF_LIVE.md
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/tests/test_build_document_context_boundary.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

fix(results): restore terminal results timeout guard
  TRDR_HANDOFF_LIVE.md
  apps/web/src/hooks/use-lcopilot.ts
Owners: @documentation-team, @frontend-team

fix(results): normalize completed job payloads
  TRDR_HANDOFF_LIVE.md
  apps/api/app/routers/jobs_public.py
  apps/api/tests/test_jobs_public_results_payload_shape.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

fix(results): backfill fallback structured result
  TRDR_HANDOFF_LIVE.md
  apps/api/app/routers/jobs_public.py
  apps/api/tests/test_jobs_public_results_payload_shape.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

fix(deploy): proxy api routes on web origin
  TRDR_HANDOFF_LIVE.md
  vercel.json
Owners: @documentation-team, @admin-team

fix(deploy): preserve api prefix in app rewrite
  TRDR_HANDOFF_LIVE.md
  apps/web/vercel.json
Owners: @documentation-team, @frontend-team

fix(results): retry auth-hydration fetches
  TRDR_HANDOFF_LIVE.md
  apps/web/src/hooks/use-lcopilot.ts
Owners: @documentation-team, @frontend-team

fix(results): normalize wrapped api payloads
  TRDR_HANDOFF_LIVE.md
  apps/web/src/hooks/use-lcopilot.ts
Owners: @documentation-team, @frontend-team

fix(results): normalize wrapped payload render path
  TRDR_HANDOFF_LIVE.md
  apps/web/src/__tests__/useCanonicalJobResult.test.tsx
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @documentation-team, @frontend-team

fix(extraction): let lc intake reach multimodal path
  apps/api/app/routers/validate.py
  apps/api/tests/test_build_document_context_boundary.py
Owners: @backend-team, @security-team, @qa-team

fix(extraction): normalize compact trade dates
  apps/api/app/services/extraction/two_stage_extractor.py
  apps/api/app/services/validation/day1_normalizers.py
  apps/api/tests/test_day1_normalizers.py
  apps/api/tests/test_two_stage_extractor.py
Owners: @backend-team, @security-team, @qa-team

Fix MT700 expiry and shipment timeline mapping
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/tests/mt700_timeline_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Fix LCopilot LC contract and truth seams
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/invoice_lc_reference_continuity_test.py
  apps/api/tests/lc_taxonomy_test.py
  apps/api/tests/mt700_timeline_continuity_test.py
  apps/web/src/__tests__/ExportLCUploadTyping.test.tsx
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/uploadRequirements.test.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/hooks/use-drafts.ts
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/uploadRequirements.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Fix export LC beta truth seams
  apps/api/app/routers/validate.py
  apps/api/app/services/crossdoc.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/vessel_sanctions.py
  apps/api/tests/ai_first_structured_contract_test.py
  apps/api/tests/export_lc_beta_truth_audit_test.py
Owners: @backend-team, @security-team, @qa-team

Fix exporter truth surfaces and progress wording
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/tests/export_lc_beta_truth_audit_test.py
  apps/web/src/__tests__/ExportLCUploadTyping.test.tsx
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Split validation stages and fix live LC intake auth
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/__init__.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/request_parsing.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/pipeline_runner_stage_split_continuity_test.py
  apps/api/tests/validate_router_split_continuity_test.py
  apps/api/tests/validate_run_orchestration_continuity_test.py
  apps/web/playwright.config.ts
  apps/web/playwright.smoke.config.ts
  apps/web/src/__tests__/DocumentCard.test.tsx
  apps/web/src/__tests__/apiClientAuth.test.ts
  apps/web/src/api/client.ts
  apps/web/tests/e2e/smoke.spec.ts
  apps/web/tests/global-setup.ts
  apps/web/tests/utils/auth-service.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Fix MT700 date recovery and bound validation stage timeouts
  apps/api/app/routers/validation/lc_dates.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/mt700_timeline_continuity_test.py
  apps/api/tests/validation_runtime_timeout_guard_test.py
Owners: @backend-team, @security-team, @qa-team

Backfill LC raw sources for intake date repair
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/__init__.py
  apps/api/app/routers/validation/lc_dates.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/tests/mt700_timeline_continuity_test.py
Owners: @backend-team, @security-team, @qa-team
