Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix(ocr): Use SAME DocumentAIService that LCopilot uses
  apps/api/app/services/ocr_service.py
Owners: @backend-team, @security-team

refactor: Rename service from lcopilot-api to trdrhub-api for consistency
  apps/api/app/reports/generator.py
  apps/api/app/routes/health.py
  apps/api/app/utils/logger.py
Owners: @backend-team, @security-team

fix(ocr): Set up Google credentials before initializing DocumentAIService
  apps/api/app/services/ocr_service.py
Owners: @backend-team, @security-team

fix: Use LLMProviderFactory instead of LLMProvider enum directly LLMProvider is an Enum, not a provider class. Must use LLMProviderFactory.create_provider() to get an actual provider instance.
  apps/api/app/services/price_extraction.py
Owners: @backend-team, @security-team

fix: Add missing market_data fields for unknown commodities + null checks - market_data now includes price_low, price_high, currency, fetched_at - Frontend uses optional chaining for commodity fields
  apps/api/app/services/price_verification.py
  apps/web/src/pages/tools/price-verify/VerifyPage.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: Extract text from LLM response tuple LLM provider returns (text, tokens_in, tokens_out) tuple, not just text
  apps/api/app/services/price_extraction.py
Owners: @backend-team, @security-team

feat(price-verify): Expand commodities database to 213 items
  apps/api/app/services/price_verification.py
Owners: @backend-team, @security-team

feat(price-verify): Phase A - Complete Reports System
  apps/api/app/routers/price_verify.py
  apps/web/src/pages/tools/price-verify/ReportsPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(price-verify): Phase B - Admin Panel
  apps/api/app/routers/admin.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/price-verify/AdminPage.tsx
  apps/web/src/pages/tools/price-verify/PriceVerifyDashboard.tsx
  apps/web/src/pages/tools/price-verify/index.ts
Owners: @backend-team, @security-team, @frontend-team

feat(price-verify): Phase C - LCopilot Integration
  apps/api/app/services/crossdoc.py
  apps/api/app/services/price_verification.py
Owners: @backend-team, @security-team

feat(price-verify): Phase D - Enhanced Analytics with Interactive Charts
  apps/web/src/pages/tools/price-verify/AnalyticsPage.tsx
Owners: @frontend-team

feat(price-verify): Phase D - Email Alerts System
  apps/api/app/routers/price_verify.py
  apps/api/app/services/price_alerts.py
  apps/web/src/pages/tools/price-verify/SettingsPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(price-verify): Update Admin Router and Frontend API Endpoints
  apps/api/app/routers/admin.py
  apps/api/app/routers/price_verify_admin.py
  apps/api/main.py
  apps/web/src/pages/tools/price-verify/AdminPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(admin-routers): Enhance admin router structure with sub-router exports
  apps/api/app/routers/admin/__init__.py
Owners: @backend-team, @security-team

fix(admin): Use importlib to avoid circular import with Python secrets module
  apps/api/app/routers/admin.py
  apps/api/app/routers/admin/__init__.py
Owners: @backend-team, @security-team

fix(admin): Use file-based imports to match router aggregation pattern
  apps/api/app/routers/admin.py
Owners: @backend-team, @security-team

fix(admin): Rename secrets.py to vault.py to avoid gitignore pattern *secrets*
  apps/api/app/routers/admin.py
  apps/api/app/routers/admin/vault.py
Owners: @backend-team, @security-team

ix(vault): Fix database import path in vault.py
  apps/api/app/routers/admin/vault.py
Owners: @backend-team, @security-team

fix(models): Remove duplicate Commodity class from commodity_prices.py
  apps/api/app/models/commodity_prices.py
Owners: @backend-team, @security-team

feat(models): Add Hub multi-tool models to app/models.py
  apps/api/alembic/versions/20251201_hub_multi_tool_foundation.py
  apps/api/app/models.py
  apps/api/app/models/__init__.py
  apps/api/app/models/hub.py
Owners: @backend-team, @database-team, @dba-team, @security-team

fix(migrations): Fix broken migration chain for commodity and hub tables
  apps/api/alembic/versions/20251201_commodity_resolution_system.py
  apps/api/alembic/versions/20251201_hub_multi_tool_foundation.py
Owners: @backend-team, @database-team, @dba-team

fix(migrations): Update revision reference and remove onupdate from updated_at column in migration script
  apps/api/alembic/versions/20251201_hub_multi_tool_foundation.py
Owners: @backend-team, @database-team, @dba-team

fix(models): Rename 'metadata' to 'log_data' in HubUsageLog and migration script for consistency
  apps/api/alembic/versions/20251201_hub_multi_tool_foundation.py
  apps/api/app/models/hub.py
  tatus
Owners: @backend-team, @database-team, @dba-team, @security-team, @admin-team

feat(hub): Phase 2 - Usage Tracking Service
  ) Rename reserved 'metadata' column to 'log_data' in HubUsageLog
  age() for automatic tracking on endpoints
  apps/api/app/routers/usage.py
  apps/api/app/services/usage_service.py
  apps/api/app/utils/usage_tracker.py
  apps/api/main.py
  e 2 - Usage Tracking Service
  ge Tracker Decorator
Owners: @admin-team, @backend-team, @security-team

feat(hub): Phase 2.5 - Integrate usage tracking with tools
  apps/api/app/routers/price_verify.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(hub): Phase 3 - Hub Home unified dashboard
  apps/web/src/App.tsx
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/index.ts
  for common tasks
Owners: @frontend-team, @admin-team

feat(hub): Phase 4 - Billing, Team, and Settings pages
  age stats
  apps/web/src/App.tsx
  apps/web/src/pages/hub/HubBilling.tsx
  apps/web/src/pages/hub/HubSettings.tsx
  apps/web/src/pages/hub/HubTeam.tsx
  apps/web/src/pages/hub/index.ts
Owners: @admin-team, @frontend-team

feat(hub): Add unified sidebar layout for Hub pages
  apps/web/src/App.tsx
  apps/web/src/pages/hub/HubBilling.tsx
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
  apps/web/src/pages/hub/HubSettings.tsx
  apps/web/src/pages/hub/HubTeam.tsx
  apps/web/src/pages/hub/index.ts
Owners: @frontend-team

feat(hub): Phase 5 - Usage Analytics page with charts
  apps/web/src/App.tsx
  apps/web/src/pages/hub/HubUsage.tsx
  apps/web/src/pages/hub/index.ts
Owners: @frontend-team

feat(auth): Phase 6A - Redirect login/register to Hub
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Onboarding.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/auth/Callback.tsx
  ers Exception
Owners: @frontend-team, @admin-team

feat(lcopilot): Add smart router for role-based dashboard redirect
  apps/web/src/App.tsx
  apps/web/src/pages/LcopilotRouter.tsx
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

fix(hub): Show actual user name and fix auth flow in Hub layout
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

fix(ui): Add Back to Hub links and show real user name in all dashboards
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/enterprise/EnterpriseSidebar.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/tools/price-verify/PriceVerifyDashboard.tsx
Owners: @frontend-team

feat(rbac): Add role-based access control for Hub and tools
  apps/api/alembic/versions/20251202_add_rbac_tables.py
  apps/api/app/models.py
  apps/api/app/models/__init__.py
  apps/api/app/models/company.py
  apps/api/app/models/rbac.py
  apps/api/app/routers/members.py
  apps/api/main.py
  apps/web/src/hooks/use-user-role.ts
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
  apps/web/src/pages/hub/HubTeam.tsx
  apps/web/src/pages/tools/price-verify/PriceVerifyDashboard.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix(HubTeam): Remove duplicate handler functions
  apps/web/src/pages/hub/HubTeam.tsx
Owners: @frontend-team

fix(use-user-role): Move imports to top of file
  apps/web/src/hooks/use-user-role.ts
Owners: @frontend-team

fix(use-user-role): Remove JSX from .ts file
  apps/web/src/hooks/use-user-role.ts
Owners: @frontend-team

feat(members): Add admin endpoint to seed existing users as owners
  apps/api/app/routers/members.py
Owners: @backend-team, @security-team

fix(members): Use secret key for seed endpoint instead of auth
  apps/api/app/routers/members.py
Owners: @backend-team, @security-team

feat(api): Add one-time setup endpoint for seeding existing users
  apps/api/main.py
Owners: @backend-team, @security-team
