Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

feat: Implement customs pack generation, download, and bank submission in ExporterResults component
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: Update StatusBadge component to support additional status values
  apps/web/src/components/ui/status-badge.tsx
Owners: @frontend-team

feat: Enhance RuleEvaluator with additional comparison operators and normalization logic
  apps/api/app/services/rule_evaluator.py
Owners: @backend-team, @security-team

fix: Update document handling and validation results in jobs_public and validate routers
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: Add normalization for discrepancy severity in ExporterResults component
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: Clean up unnecessary state management in ExporterDashboardV2
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

feat: Enhance RuleEvaluator with MissingFieldError handling and update ExporterDashboardV2 structure
  apps/api/app/services/rule_evaluator.py
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Enhance document validation with structured data extraction
  apps/api/app/routers/validate.py
  apps/api/requirements.txt
Owners: @backend-team, @security-team

feat: Introduce job listing endpoint and validation history hook
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/services/rule_evaluator.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Enhance OCR capabilities with direct file processing and configuration updates
  apps/api/app/config.py
  apps/api/app/ocr/aws_textract.py
  apps/api/app/ocr/base.py
  apps/api/app/ocr/google_documentai.py
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: Update document summary building to include document details and improve type inference
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: Enhance document validation and extraction capabilities
  apps/api/app/routers/validate.py
  apps/api/app/rules/extractors.py
  apps/api/app/services/rule_evaluator.py
Owners: @backend-team, @security-team

refactor: Update invoice amount tolerance calculations in validation
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: Add LCOPILOT Cross-Document Rules to rulebook options
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

refactor: Enhance UserMenu authentication context handling
  apps/web/src/components/layout/UserMenu.tsx
Owners: @frontend-team

feat: Enhance document validation with LCOPILOT cross-document rules
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat: Implement cross-document checks in validation process
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore: Update requirements for AI enrichment and mark subproject as dirty
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: Handle object values in extractedFields to prevent React error #31
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/Results.tsx
  apps/web/src/pages/SupplierDocumentResults.tsx
Owners: @frontend-team

feat: Enhance document validation and extraction with support for document tags
  apps/api/app/routers/validate.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Add comprehensive diagnostic logging for document extraction
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore: Mark trdrhub-suite subproject as dirty to indicate uncommitted changes
  docs/EXTRACTION_DEBUGGING_GUIDE.md
Owners: @documentation-team

fix: improve invoice table field extraction
  apps/api/app/rules/extractors.py
Owners: @backend-team, @security-team

fix: retain full document OCR data and stabilize AI enrichment
  apps/api/app/routers/validate.py
  apps/api/app/services/llm_assist.py
Owners: @backend-team, @security-team

fix: safeguard AI usage logging when tenant is missing
  apps/api/app/services/ai_usage_tracker.py
Owners: @backend-team, @security-team

feat: surface curated issue cards and AI insights
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: keep AI validation running even if event audit insert fails
  apps/api/app/services/llm_assist.py
Owners: @backend-team, @security-team

fix: guard AI enrichment payload when validation session not persisted
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

test: pin cross-doc regression + improve logging
  apps/api/app/routers/validate.py
  apps/api/app/services/crossdoc.py
  apps/api/tests/test_cross_document_checks.py
Owners: @backend-team, @security-team, @qa-team

feat: require document typing and surface cross-doc metadata
  apps/api/app/services/crossdoc.py
  apps/api/tests/test_cross_document_checks.py
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

feat: expose real validation history data on exporter dashboard
  apps/api/app/routers/jobs_public.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: polish exporter issues tab with real discrepancies
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: keep doc type select controlled and use CSP-safe avatars
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix: keep ExporterResults hooks stable during polling
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor: update routing to use ExporterResults component and enhance jobId handling
  apps/web/src/App.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor: enhance document summary generation logic and improve handling of empty file lists
  apps/api/app/routers/validate.py
  apps/api/migrations/versions/20251116_add_ai_usage_and_events.py
Owners: @backend-team, @security-team

feat: add unit tests for LC type detection and rule evaluation - Implement tests for import, export, and unknown LC types, ensuring accurate detection and rule evaluation behavior.
  apps/api/tests/test_lc_classifier.py
Owners: @backend-team, @qa-team

fix: mark subproject as dirty to indicate uncommitted changes - Updated the subproject commit reference to reflect the current state, ensuring clarity on the project's integrity and versioning.
  AGENTS.md
Owners: @documentation-team

fix: resolve JSX tag mismatch in ExporterResults.tsx - Add missing closing Card tag that was causing build failures in Vercel deployment
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: update render.yaml to match actual deployment configuration - Update region from oregon to singapore and plan from starter to standard to match the deployed service configuration
  render.yaml
Owners: @admin-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
