Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

feat(tracking): Add email notification templates and LC risk alerts
  apps/api/app/routers/tracking.py
  apps/api/app/services/notifications.py
Owners: @backend-team, @security-team

feat(tracking): Add free container tracking alternatives
  apps/api/app/routers/tracking.py
Owners: @backend-team, @security-team

feat(tracking): Add full feature pages for all tracking dashboard tabs
  apps/web/src/App.tsx
  apps/web/src/pages/tools/tracking/ActiveShipmentsPage.tsx
  apps/web/src/pages/tools/tracking/AlertsPage.tsx
  apps/web/src/pages/tools/tracking/AnalyticsPage.tsx
  apps/web/src/pages/tools/tracking/ExceptionsPage.tsx
  apps/web/src/pages/tools/tracking/HelpPage.tsx
  apps/web/src/pages/tools/tracking/HistoryPage.tsx
  apps/web/src/pages/tools/tracking/PerformancePage.tsx
  apps/web/src/pages/tools/tracking/PortSchedulePage.tsx
  apps/web/src/pages/tools/tracking/RouteMapPage.tsx
  apps/web/src/pages/tools/tracking/SettingsPage.tsx
  apps/web/src/pages/tools/tracking/index.ts
Owners: @frontend-team

feat(tracking): Add dedicated Container and Vessel search pages
  apps/web/src/App.tsx
  apps/web/src/pages/tools/tracking/ContainerSearchPage.tsx
  apps/web/src/pages/tools/tracking/VesselSearchPage.tsx
  apps/web/src/pages/tools/tracking/index.ts
Owners: @frontend-team

feat(tracking): Add interactive Leaflet map for Route Map page
  apps/web/package.json
  apps/web/src/components/tracking/TrackingMap.tsx
  apps/web/src/components/tracking/index.ts
  apps/web/src/pages/tools/tracking/RouteMapPage.tsx
  package-lock.json
Owners: @frontend-team, @security-team, @admin-team

feat(tracking): Add LC expiry warning component
  apps/web/src/components/tracking/LCExpiryWarning.tsx
  apps/web/src/components/tracking/index.ts
  apps/web/src/pages/tools/tracking/ContainerTrackPage.tsx
Owners: @frontend-team

feat(tracking): Add usage tracking to tracking API endpoints
  apps/api/app/routers/tracking.py
Owners: @backend-team, @security-team

feat(tracking): Add bulk import/export for portfolio
  apps/api/app/routers/tracking.py
  apps/web/src/pages/tools/tracking/ActiveShipmentsPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(tracking): Add vessel sanctions screening
  apps/api/app/routers/tracking.py
  apps/api/app/services/vessel_sanctions.py
  apps/web/src/components/tracking/VesselSanctionsCard.tsx
  apps/web/src/components/tracking/index.ts
  apps/web/src/pages/tools/tracking/VesselTrackPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(tracking): Add AIS gap detection for dark shipping
  apps/api/app/routers/tracking.py
  apps/api/app/services/ais_gap_detection.py
  apps/web/src/components/tracking/AISGapAnalysisCard.tsx
  apps/web/src/components/tracking/index.ts
  apps/web/src/pages/tools/tracking/VesselTrackPage.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(tracking): Add PDF compliance report generation
  apps/api/app/routers/tracking.py
  apps/api/app/services/compliance_report.py
  apps/api/requirements.txt
  apps/web/src/components/tracking/VesselSanctionsCard.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Update implementation plan - mark Phases 1-3 complete
  docs/IMPLEMENTATION_PLAN_CONTAINER_TRACKER.md
Owners: @documentation-team

feat(doc-generator): Backend implementation complete
  apps/api/alembic/versions/20251205_add_doc_generator.py
  apps/api/app/models/__init__.py
  apps/api/app/models/doc_generator.py
  apps/api/app/routers/doc_generator.py
  apps/api/app/services/document_generator.py
  apps/api/main.py
  docs/IMPLEMENTATION_PLAN_DOC_GENERATOR.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @documentation-team

feat(doc-generator): Complete frontend implementation
  apps/web/src/App.tsx
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
  apps/web/src/pages/tools/doc-generator/CreateDocumentWizard.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorLayout.tsx
  apps/web/src/pages/tools/doc-generator/index.ts
Owners: @frontend-team

docs: Update status for Doc Generator launch
  docs/CURRENT_STATUS.md
  docs/product_specs/00_roadmap_summary.md
  docs/product_specs/07_shipping_doc_generator.md
Owners: @documentation-team

docs: Add comprehensive gap analysis for Doc Generator
  docs/GAP_ANALYSIS_DOC_GENERATOR.md
Owners: @documentation-team

feat: Doc Generator Phase 1 - Make it Usable
  apps/api/alembic/versions/20251205_add_doc_generator_phase1.py
  apps/api/app/models/doc_generator.py
  apps/api/app/routers/doc_generator.py
  apps/api/app/services/doc_validation.py
  apps/api/app/services/document_generator.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/doc-generator/BrandingSettings.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorLayout.tsx
  apps/web/src/pages/tools/doc-generator/ImportFromLCopilot.tsx
  apps/web/src/pages/tools/doc-generator/PDFPreview.tsx
  apps/web/src/pages/tools/doc-generator/ValidationDisplay.tsx
  apps/web/src/pages/tools/doc-generator/index.ts
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

docs: Add Doc Generator implementation plan
  docs/IMPLEMENTATION_PLAN_DOC_GENERATOR.md
Owners: @documentation-team

feat: Doc Generator Phase 2 - Bank Ready
  apps/api/alembic/versions/20251205_add_doc_generator_phase2.py
  apps/api/app/models/__init__.py
  apps/api/app/models/doc_generator_catalog.py
  apps/api/app/routers/doc_generator_catalog.py
  apps/api/app/services/document_audit.py
  apps/api/app/services/document_storage.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/doc-generator/BuyerDirectoryPage.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorLayout.tsx
  apps/web/src/pages/tools/doc-generator/ProductCatalogPage.tsx
  apps/web/src/pages/tools/doc-generator/TemplatesPage.tsx
  apps/web/src/pages/tools/doc-generator/index.ts
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

docs: Update Doc Generator implementation plan - Phase 2 complete
  docs/IMPLEMENTATION_PLAN_DOC_GENERATOR.md
Owners: @documentation-team

feat: Doc Generator Phase 3 - Industry Standard
  apps/api/app/routers/doc_generator_advanced.py
  apps/api/app/services/bank_format_registry.py
  apps/api/app/services/certificate_generators.py
  apps/api/app/services/digital_signature.py
  apps/api/app/services/document_translation.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/doc-generator/BankFormatsPage.tsx
  apps/web/src/pages/tools/doc-generator/CertificatesPage.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorLayout.tsx
  apps/web/src/pages/tools/doc-generator/SignaturesPage.tsx
  apps/web/src/pages/tools/doc-generator/index.ts
Owners: @backend-team, @security-team, @frontend-team

docs: Update Doc Generator implementation plan - Phase 3 complete
  docs/IMPLEMENTATION_PLAN_DOC_GENERATOR.md
Owners: @documentation-team

feat(doc-generator): Implement all promised document types - B/L Draft, Weight Cert, Insurance Cert, Inspection Cert, Shipping Instructions, RCEP Cert
  apps/api/app/models/doc_generator.py
  apps/api/app/routers/doc_generator_advanced.py
  apps/api/app/services/certificate_generators.py
  apps/api/app/services/document_generator.py
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
  apps/web/src/pages/tools/doc-generator/CertificatesPage.tsx
  apps/web/src/pages/tools/doc-generator/CreateDocumentWizard.tsx
  apps/web/src/pages/tools/doc-generator/PDFPreview.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Update Doc Generator gap analysis - all gaps resolved
  docs/GAP_ANALYSIS_DOC_GENERATOR.md
Owners: @documentation-team

fix(auth): Add session to auth context for API authentication
  apps/api/alembic/versions/20251205_doc_generator_new_types.py
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
Owners: @backend-team, @database-team, @dba-team, @frontend-team

fix(migrations): Fix broken migration chain references
  apps/api/alembic/versions/20251205_add_doc_generator.py
  apps/api/alembic/versions/20251205_add_doc_generator_phase1.py
Owners: @backend-team, @database-team, @dba-team

fix: Remove Go to Hub button from ErrorBoundary, fix SelectItem empty value
  apps/web/src/components/app/ErrorBoundary.tsx
  apps/web/src/pages/tools/doc-generator/BankFormatsPage.tsx
Owners: @frontend-team

fix(doc-generator): Fix API URLs - remove extra /api prefix
  apps/web/src/pages/tools/doc-generator/BankFormatsPage.tsx
  apps/web/src/pages/tools/doc-generator/BrandingSettings.tsx
  apps/web/src/pages/tools/doc-generator/BuyerDirectoryPage.tsx
  apps/web/src/pages/tools/doc-generator/CertificatesPage.tsx
  apps/web/src/pages/tools/doc-generator/DocGeneratorDashboard.tsx
  apps/web/src/pages/tools/doc-generator/ImportFromLCopilot.tsx
  apps/web/src/pages/tools/doc-generator/PDFPreview.tsx
  apps/web/src/pages/tools/doc-generator/ProductCatalogPage.tsx
  apps/web/src/pages/tools/doc-generator/SignaturesPage.tsx
  apps/web/src/pages/tools/doc-generator/TemplatesPage.tsx
Owners: @frontend-team

feat(lc-builder): Add LC Builder tool with wizard, clause library, validation, MT700 export
  apps/api/alembic/versions/20251205_add_lc_builder.py
  apps/api/app/models/lc_builder.py
  apps/api/app/routers/lc_builder.py
  apps/api/app/services/lc_clause_library.py
  apps/api/app/services/mt700_generator.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/pages/tools/LCBuilderLanding.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderWizard.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix(lc-builder): Remove non-existent get_optional_user import
  apps/api/app/routers/lc_builder.py
Owners: @backend-team, @security-team

fix(lc-builder): Remove undefined PrivateRoute, add auth check in components
  apps/web/src/App.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderWizard.tsx
Owners: @frontend-team

feat(lc-builder): Add sidebar layout, update hub status to live, fix navigation
  apps/web/src/App.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderLayout.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderWizard.tsx
Owners: @frontend-team

docs: Add LC Builder gap analysis and audit
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @documentation-team

feat(lc-builder): Expand clause library from 96 to 428 clauses
  apps/api/app/services/lc_clause_library.py
Owners: @backend-team, @security-team

docs: Update LC Builder gap analysis - 428 clauses done
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @documentation-team

feat(lc-builder): Add all Phase 1 pages - Complete sidebar functionality
  apps/web/src/App.tsx
  apps/web/src/pages/tools/lc-builder/ApplicantProfilesPage.tsx
  apps/web/src/pages/tools/lc-builder/BeneficiaryDirectoryPage.tsx
  apps/web/src/pages/tools/lc-builder/ClauseLibraryPage.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderHelpPage.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderSettingsPage.tsx
  apps/web/src/pages/tools/lc-builder/LCTemplatesPage.tsx
  apps/web/src/pages/tools/lc-builder/MT700ReferencePage.tsx
  apps/web/src/pages/tools/lc-builder/RiskCalculatorPage.tsx
Owners: @frontend-team

feat(lc-builder): Add Word document export (.docx)
  apps/api/app/routers/lc_builder.py
  apps/api/requirements.txt
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Update LC Builder gap analysis - Phase 1 complete
  docs/GAP_ANALYSIS_LC_BUILDER.md
Owners: @documentation-team

fix(lc-builder): Return all 428 clauses in API response
  apps/api/app/routers/lc_builder.py
Owners: @backend-team, @security-team

feat(lc-builder): Phase 2 - Bank-ready features
  apps/api/app/routers/lc_builder.py
  apps/api/app/services/lc_clause_library.py
  apps/web/src/pages/tools/lc-builder/ApplicantProfilesPage.tsx
  apps/web/src/pages/tools/lc-builder/BeneficiaryDirectoryPage.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderDashboard.tsx
  apps/web/src/pages/tools/lc-builder/LCBuilderWizard.tsx
Owners: @backend-team, @security-team, @frontend-team
