Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Add comprehensive README.md with project overview, features, and setup instructions
  README.md
Owners: @documentation-team

Add Supabase + Render config
  .env.example
  .env.production.template
  .gitignore
  HOW-TO-RUN.md
  README.md
  apps/api/.env.example
  apps/api/Dockerfile
  apps/api/app/routers/billing.py
  apps/api/app/routes/ai.py
  apps/api/env.example
  apps/api/main.py
  apps/api/requirements.txt
  apps/api/supabase_config.py
  apps/web/.env.example
  apps/web/.env.production.template
  apps/web/build.sh
  apps/web/src/App.tsx
  apps/web/src/api/analytics.ts
  apps/web/src/api/auth.ts
  apps/web/src/api/client.ts
  apps/web/src/api/sessions.ts
  apps/web/src/components/ai/AIAmendmentFlow.tsx
  apps/web/src/components/ai/AIChatWidget.tsx
  apps/web/src/components/ai/AISummaryPanel.tsx
  apps/web/src/components/app/ErrorBoundary.tsx
  apps/web/src/main.tsx
  apps/web/src/vite-env.d.ts
  apps/web/tsconfig.json
  docker-compose.yml
  init.sql
  render.yaml
  setup-backend.md
  setup-backend.ps1
  setup-backend.sh
Owners: @devops-team, @security-team, @admin-team, @documentation-team, @backend-team, @frontend-team

Add Supabase integration and database schema
  apps/web/package.json
  apps/web/src/types/supabase.ts
  apps/web/src/vite-env.d.ts
  package-lock.json
Owners: @frontend-team, @security-team, @admin-team

Fix dependency conflict: update httpx version for Supabase compatibility
  apps/api/requirements.txt
Owners: @backend-team, @security-team

Pin Python version for Render: python-3.11.9
  apps/api/runtime.txt
Owners: @backend-team, @security-team

Make Mangum optional; enable Render deployment without AWS Lambda adapter
  apps/api/main.py
Owners: @backend-team, @security-team

Update requirements: add structlog dependency and ensure consistent formatting in requirements.txt
  .gitignore
  apps/api/requirements.txt
Owners: @admin-team, @backend-team, @security-team

Add missing deps: structlog, psutil; fix duplicate entry
  apps/api/requirements.txt
Owners: @backend-team, @security-team

Refactor models package: update __init__.py to prevent circular imports and re-export core ORM classes. Change import path for User model in auth router.
  apps/api/app/models/__init__.py
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

Update requirements: modify pydantic-settings version constraint, add new dependencies for testing and AWS integration, and mark subproject as dirty.
  apps/api/app/main.py
  apps/api/requirements.lock
  apps/api/requirements.txt
Owners: @backend-team, @security-team

Refactor import paths: update User and ValidationSession imports to use app.orm in admin, analytics, and documents routers.
  apps/api/app/routers/admin.py
  apps/api/app/routers/analytics.py
  apps/api/app/routers/documents.py
Owners: @backend-team, @security-team

Mark subproject as dirty to indicate uncommitted changes in the trdrhub-suite.
  apps/api/app/orm.py
Owners: @backend-team, @security-team

Fix router imports and request signature
  apps/api/app/routers/admin.py
  apps/api/app/routers/analytics.py
  apps/api/app/routers/auth.py
  apps/api/app/routers/documents.py
Owners: @backend-team, @security-team

Add compatibility shim for legacy ORM imports in app.orm module to maintain backward compatibility with older code. Update __all__ exports to include ORM models and enums.
  apps/api/app/orm/__init__.py
Owners: @backend-team, @security-team

Force add admin auth module for Vercel build (unignore lib)
  apps/web/src/lib/admin/auth.tsx
Owners: @frontend-team

Include web lib files (utils, supabase, admin/api) for Vercel build
  apps/web/src/lib/admin/api.ts
  apps/web/src/lib/supabase.ts
  apps/web/src/lib/utils.ts
Owners: @frontend-team

Unignore vercel.json; set outputDirectory=dist and copy built assets
  .gitignore
  vercel.json
Owners: @admin-team

Vercel config: build in apps/web and use outputDirectory apps/web/dist
  apps/web/vercel.json
  vercel.json
Owners: @frontend-team, @admin-team

Update main.py to include the validate router and add openpyxl dependency in requirements.txt. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/alembic/versions/20251029_add_rules_registry.py
  apps/api/app/models/rules.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
  apps/api/main.py
  apps/api/requirements.txt
  apps/web/vercel.json
  docs/LOCAL_RULE_MODE.md
  docs/reports/LAUNCH_VERIFICATION_v1.0-rc1.md
  scripts/seed_rules.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team, @documentation-team, @admin-team

Update database URL handling in migrations to prioritize DIRECT_DATABASE_URL for Supabase direct connections. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/alembic/env.py
Owners: @backend-team, @database-team

Normalize database URL handling in config.py and database.py to ensure compatibility with SQLAlchemy. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/config.py
  apps/api/app/database.py
Owners: @backend-team, @security-team

Fix: Normalize postgres:// to postgresql:// for SQLAlchemy compatibility
  apps/api/app/config.py
  apps/api/app/database.py
Owners: @backend-team, @security-team

Fix: Improve CORS_ALLOW_ORIGINS parser to handle edge cases
  apps/api/app/config.py
Owners: @backend-team, @security-team

Add BankTenant model to API initialization and mark trdrhub-suite as dirty
  apps/api/app/models/__init__.py
Owners: @backend-team, @security-team

Add BankReport, BankAuditLog, and UserRoleAssignment models to API initialization
  apps/api/app/models/__init__.py
Owners: @backend-team, @security-team

Update requirements.txt to include requests package and mark trdrhub-suite as dirty
  apps/api/requirements.txt
Owners: @backend-team, @security-team

Update password hashing to truncate input to 72 bytes for compatibility with bcrypt. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

Refactor login navigation logic to streamline role-based redirects. Remove redundant error handling and improve code readability. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Update Login component to streamline user registration flow by reintroducing account creation link. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Update onboarding schema to import Any type for enhanced flexibility. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/schemas/onboarding.py
Owners: @backend-team, @security-team

Enhance AuthProvider by adding timeout handling for API calls to improve user experience during authentication processes. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Update AuthProvider to fetch user profile from '/auth/me' endpoint instead of '/profile' for improved API consistency. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Refactor token decoding in security.py to use specific exceptions for improved error handling. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

Enhance JWT verification by adding support for both RSA and EC algorithms, accommodating potential ES256 tokens from Supabase. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/core/jwt_verifier.py
Owners: @backend-team, @security-team

Improve password hashing in security.py to handle legacy 72-byte limit gracefully, ensuring compatibility with older backends. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

Update security.py to remove local password requirement for external users, enhancing user management. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

Update routing in App.tsx to replace Index component with LcopilotLanding for the /lcopilot path. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/App.tsx
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

Implement demo dashboard for non-bank users in BankAnalyticsPage, allowing access to analytics without API calls. Adjust query handling based on user role and improve loading/error state management.
  apps/web/src/pages/dashboard/analytics/bank.tsx
Owners: @frontend-team

Update BankResult interface to include 'failed' status option for enhanced error handling. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/api/bank.ts
Owners: @frontend-team

Refactor bank API import statement for clarity and consistency. Mark trdrhub-suite as dirty to indicate uncommitted changes.
  apps/web/src/api/bank.ts
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
