Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix(extraction): stabilize live-case parsing and matrix consistency
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/rules/extractors.py
  apps/api/app/services/validation/alias_normalization.py
  apps/api/tests/ai_first_structured_contract_test.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

fix(extraction): preserve canonical wrapped AI fields in live validation flow
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/ai_first_extractor.py
Owners: @backend-team, @security-team

chore(diagnostics): add extraction telemetry and rich-text empty-parse guard
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/ai_first_extractor.py
Owners: @backend-team, @security-team

fix(ai-router): strip router_layer hints before provider SDK calls
  apps/api/app/services/llm_provider.py
Owners: @backend-team, @security-team

fix(extraction): tighten BL + BIN/TIN live-path recovery
  apps/api/app/routers/validate.py
  apps/api/app/rules/extractors.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/two_stage_extractor.py
  apps/api/app/services/validation/alias_normalization.py
  apps/api/app/services/validation/crossdoc_validator.py
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @admin-team

fix(extraction): add BL zone capture and deterministic 47A token presence matrix
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/alias_normalization.py
  apps/api/app/services/validation/crossdoc_validator.py
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @admin-team

chore(telemetry): bind extraction telemetry to server job id in async flow
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(debug): expose per-doc extraction trace in jobs API behind flag
  apps/api/app/config.py
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(ocr-ingress): run OCR on low-text PDFs and prefer materially richer OCR output
  apps/api/app/config.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(ocr-ingress): merge direct PDF text with OCR output for richer extraction evidence
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(day1): enforce fail-safe extraction runtime, retrieval guard, contract metrics, and smoke gate
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/alias_normalization.py
  apps/api/app/services/validation/day1_configs.py
  apps/api/app/services/validation/day1_contract.py
  apps/api/app/services/validation/day1_fallback.py
  apps/api/app/services/validation/day1_normalizers.py
  apps/api/app/services/validation/day1_retrieval_guard.py
  apps/api/app/services/validation/day1_telemetry.py
  apps/api/config/day1/anchors.v1.yaml
  apps/api/config/day1/reason_codes.v1.yaml
  apps/api/config/day1/telemetry_events.v1.yaml
  apps/api/scripts/day1_smoke_gate.py
  apps/api/tests/test_day1_configs.py
  apps/api/tests/test_day1_contract.py
  apps/api/tests/test_day1_fallback.py
  apps/api/tests/test_day1_normalizers.py
  apps/api/tests/test_day1_retrieval_guard.py
  apps/api/tests/test_day1_telemetry.py
  apps/api/tests/test_validate_regression.py
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @qa-team, @admin-team

fix(lcopilot): patchset 1+2 extraction stability and contract consistency
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/validation/response_contract_validator.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  tests/lcopilot_launch_p0_patchset1_test.py
  tests/lcopilot_launch_p0_patchset2_test.py
Owners: @backend-team, @security-team, @frontend-team, @admin-team

chore(smoke): support bearer/api-key headers for day1 smoke gate
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

feat(extraction-core): add fail-safe field states and review gating (patch set C)
  apps/api/app/config/extraction_profiles/bill_of_lading.yaml
  apps/api/app/config/extraction_profiles/commercial_invoice.yaml
  apps/api/app/config/extraction_profiles/letter_of_credit.yaml
  apps/api/app/config/extraction_profiles/packing_list.yaml
  apps/api/app/config/extraction_profiles/supporting_document.yaml
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/extraction_core/README.md
  apps/api/app/services/extraction_core/__init__.py
  apps/api/app/services/extraction_core/contract.py
  apps/api/app/services/extraction_core/evidence.py
  apps/api/app/services/extraction_core/field_states.py
  apps/api/app/services/extraction_core/gate.py
  apps/api/app/services/extraction_core/orchestrator.py
  apps/api/app/services/extraction_core/profiles.py
  apps/api/app/services/extraction_core/review_metadata.py
  apps/api/app/services/validation/response_schema.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
  tests/lcopilot_patchset_c_test.py
Owners: @backend-team, @security-team, @documentation-team, @frontend-team, @admin-team

fix(extraction): add fallback hotfix chain and parse_failed fail-safe semantics (patch set D)
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/validation/response_schema.py
  tests/lcopilot_patchset_d_test.py
Owners: @backend-team, @security-team, @admin-team

fix(ocr): enable deterministic multi-provider fallback in factory and services
  apps/api/app/ocr/factory.py
  apps/api/app/services.py
  tests/ocr_factory_fallback_patch_test.py
Owners: @backend-team, @security-team, @admin-team

fix(config): track day1 schema json required by runtime policy
  apps/api/config/day1/schema.day1.v1.0.0-day1.json
Owners: @backend-team, @security-team

feat(extraction): add OCR normalization shim and stage scorer toggles (patch set E)
  apps/api/app/config.py
  apps/api/app/routers/validate.py
  tests/lcopilot_patchset_e_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): stabilization cycle-2 pre-parser hardening, taxonomy v2, and pass gate calibration
  apps/api/app/config/extraction_profiles/bill_of_lading.yaml
  apps/api/app/config/extraction_profiles/commercial_invoice.yaml
  apps/api/app/config/extraction_profiles/letter_of_credit.yaml
  apps/api/app/config/extraction_profiles/packing_list.yaml
  apps/api/app/config/extraction_profiles/supporting_document.yaml
  apps/api/app/services/extraction_core/gate.py
  apps/api/app/services/extraction_core/review_metadata.py
  tests/extraction_stabilization_cycle2_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): expose diagnostics for stage selection and critical-field review reasons
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/validation/response_schema.py
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
  tests/extraction_observability_exposure_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): patch H OCR compatibility, stage promotion, and top-3 field boost
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/extraction_core/review_metadata.py
  tests/lcopilot_patchset_d_test.py
  tests/lcopilot_patchset_e_test.py
  tests/patch_h_ocr_compatibility_stage_promotion_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): patch I top-3 field lift and stage threshold tuning
  apps/api/app/config/extraction_profiles/bill_of_lading.yaml
  apps/api/app/config/extraction_profiles/commercial_invoice.yaml
  apps/api/app/config/extraction_profiles/packing_list.yaml
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction_core/review_metadata.py
  tests/lcopilot_patchset_e_test.py
  tests/patch_h_ocr_compatibility_stage_promotion_test.py
  tests/patch_i_top3_field_lift_stage_tuning_test.py
Owners: @backend-team, @security-team, @admin-team

fix(extraction): patch J OCR adapter runtime payload handling and telemetry
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  tests/patch_j_ocr_adapter_runtime_payload_fix_test.py
Owners: @backend-team, @security-team, @admin-team

fix(extraction): detect plaintext pseudo-pdf inputs and bypass OCR unsupported-format path
  apps/api/app/routers/validate.py
  tests/lcopilot_patchset_e_test.py
  tests/ocr_runtime_audit_patch_test.py
  tests/patch_h_ocr_compatibility_stage_promotion_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): patch K plaintext parser lift and profile confidence calibration
  apps/api/app/config/extraction_profiles/bill_of_lading.yaml
  apps/api/app/config/extraction_profiles/commercial_invoice.yaml
  apps/api/app/config/extraction_profiles/letter_of_credit.yaml
  apps/api/app/config/extraction_profiles/packing_list.yaml
  apps/api/app/services/extraction_core/gate.py
  apps/api/app/services/extraction_core/review_metadata.py
  tests/patch_k_plaintext_parser_lift_confidence_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): patch L evidence binding improvements and date/issuer alias recovery
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/alias_normalization.py
  tests/patch_l_evidence_binding_date_issuer_test.py
Owners: @backend-team, @security-team, @admin-team

feat(ocr): add provider health diagnostics endpoint and classified runtime error taxonomy
  apps/api/app/config.py
  apps/api/app/ocr/factory.py
  apps/api/app/routers/validate.py
  apps/api/app/routes/ocr_health.py
  apps/api/app/services/ocr_diagnostics.py
  apps/api/app/services/ocr_service.py
  apps/api/main.py
  tests/patch_m_ocr_health_diagnostics_test.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): locale-aware tax ID validation with global fallback
  apps/api/app/config/extraction_profiles/locale/bd.yaml
  apps/api/app/config/extraction_profiles/locale/global_default.yaml
  apps/api/app/services/extraction/two_stage_extractor.py
  apps/api/tests/test_two_stage_extractor.py
Owners: @backend-team, @security-team, @qa-team

chore(smoke): add per-set critical diagnostics and aggregate reason counters
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

fix(day1): preserve day1_runtime through shaping and contract reads
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/validation/day1_contract.py
Owners: @backend-team, @security-team

fix(day1): apply doc-type aware coverage thresholds in runtime policy
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(ocr): retry normalized image payload when direct PDF returns empty
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore(trace): add day1 relay/contract debug surfaces and smoke attribution
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/day1_contract.py
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

chore(trace): add day1 hook-call telemetry through relay debug
  apps/api/app/routers/validate.py
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

chore(trace): expose day1 hook callsite counters in response and smoke
  apps/api/app/routers/validate.py
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team

revert(day1): disable day1 response contract overlay by default
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(cycle2): runtime-only recovery filter for extraction-core unresolved fields
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(cycle2): force pass status when runtime recovery clears unresolved criticals
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore(config): add explicit day1/cycle2 runtime recovery feature flags
  apps/api/app/config.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(smoke): fallback to bearer/api-key when csrf endpoint times out
  apps/api/scripts/day1_smoke_gate.py
Owners: @backend-team, @security-team
