Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

feat(validation): Enhance document type normalization and LC expiry validation
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(document-types): Centralize document type management and enhance upload interface
  apps/api/app/routers/validate.py
  apps/web/src/pages/ExportLCUpload.tsx
  packages/shared-types/python/document_types.py
  packages/shared-types/src/document-types.ts
  packages/shared-types/src/index.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

feat(validation): Enhance document validation with LC confirmation checks and improved logging
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(document-types): Enhance document type normalization to support display labels and additional patterns
  packages/shared-types/python/document_types.py
Owners: @admin-team

feat(validation): Implement 47A additional conditions validation for PO, BIN, and TIN requirements
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(validation): Enhance processing summary and issue attribution in validation
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(validation): Improve logging and extraction for 47A additional conditions
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(extraction): Update handling of additional conditions for 47A clauses
  apps/api/app/services/extraction/lc_baseline.py
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/structured_lc_builder.py
  docs/FIELD_NAME_MAPPING.md
Owners: @backend-team, @security-team, @documentation-team

feat(validation): Introduce V2 SME-focused validation endpoints
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/sme_response_builder.py
  apps/web/src/App.tsx
  apps/web/src/pages/ExporterResultsV2.tsx
  packages/shared-types/python/sme_validation.py
  packages/shared-types/src/index.ts
  packages/shared-types/src/sme-validation.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

feat(validation): Refactor document type normalization for improved alias handling
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(validation): Update API fetch URL for validation results
  apps/web/src/pages/ExporterResultsV2.tsx
Owners: @frontend-team

feat(validation): Update access control for V2 validation results endpoint
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validation): Enhance validation result retrieval with structured logging
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(extraction): Enhance 47A clause parsing with multiple pattern support
  apps/api/app/services/extraction/clauses_47a_parser.py
Owners: @backend-team, @security-team

feat(validation): Implement contract validation layer for backend responses
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/response_contract_validator.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
  memory-bank/activeContext.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

feat(extraction): Enhance 47A parsing and logging for improved condition extraction
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/ai_lc_extractor.py
  apps/api/app/services/extraction/clauses_47a_parser.py
  apps/api/app/services/extraction/ensemble_extractor.py
  apps/api/app/services/extraction/structured_lc_builder.py
  memory-bank/activeContext.md
Owners: @backend-team, @security-team, @documentation-team

feat(ui): Consolidate dashboard tabs and enhance document details view
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/components/lcopilot/dashboardTabs.ts
  apps/web/src/pages/ExporterResults.tsx
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @frontend-team, @documentation-team

feat(validation): Enhance issue resolution and document type handling
  apps/api/app/routers/validate.py
  apps/web/src/pages/exporter/results/utils.ts
Owners: @backend-team, @security-team, @frontend-team

feat(ui): Enhance DocumentDetailsDrawer with bullet list formatting
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/utils.ts
Owners: @frontend-team

feat(validation): Implement database rule execution in document validation
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

refactor(validation): Update domain handling in document validation logic
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

refactor(validation): Update domain handling and logging in document validation
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat(validation): Add debug information for database rule execution
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validation): Implement dynamic jurisdiction and domain detection in document validation
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(exporter): Add humanized rule ID display in ExporterIssueCard and IssueCard components
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/components/validation/IssueCard.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(exporter): Enhance extraction metrics and display in ExporterResults
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(ui): Improve DocumentDetailsDrawer formatting and bullet list handling
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
Owners: @frontend-team

feat(exporter): Enhance ExporterResults UI with improved score display and manifest details
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(exporter): Integrate HowToFixSection and EmailDraft functionality in Exporter components
  apps/web/src/components/exporter/EmailDraftDialog.tsx
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/components/exporter/HowToFixSection.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
Owners: @frontend-team

feat(exporter): Enhance customs pack generation and download functionality
  apps/api/app/routers/exporter.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(exporter): Add email draft state management in ExporterResults
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(exporter): Add Preparation Guide component to ExportLCUpload
  apps/web/src/components/exporter/PreparationGuide.tsx
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

feat(ui): Update styles and typography for brand consistency
  apps/web/index.html
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/index.css
  apps/web/tailwind.config.ts
Owners: @frontend-team

feat(ui): Revamp layout and styling for footer, header, and sections
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/layout/trdr-header.tsx
  apps/web/src/components/sections/cta-section.tsx
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/partners-section.tsx
  apps/web/src/components/sections/problems-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/technology-section.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
Owners: @frontend-team

feat(ui): Replace text logos with image logos in header and footer
  apps/web/public/logo-dark.jpg
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/layout/trdr-header.tsx
Owners: @frontend-team

fix(assets): Replace JPG logo with transparent PNG
  apps/web/public/logo-dark.png
Owners: @frontend-team

fix(assets): Update logo file format from JPG to PNG in header and footer
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/layout/trdr-header.tsx
Owners: @frontend-team

fix(assets): Replace baked-background logo with true transparent PNG
  apps/web/public/logo-dark-v2.png
  apps/web/public/logo-dark.png
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/layout/trdr-header.tsx
Owners: @frontend-team

feat(ui): Update brand colors and styles in TRDRHeroSection and index.css
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/index.css
Owners: @frontend-team

feat(ui): Refactor landing page sections to strict Green/Lime palette
  apps/web/src/components/sections/problems-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/technology-section.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
  apps/web/src/index.css
Owners: @frontend-team
