Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix(seed): Add error handling to
  apps/api/app/routers/members.py
Owners: @backend-team, @security-team

feat(signup): Remove bank from self-registration, add enterprise contact CTA
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

feat(admin): Add Bank Management page for invite-only bank onboarding
  apps/api/app/routers/admin_banks.py
  apps/api/main.py
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/banks/BankManagement.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(hub): Fix useUserRole API endpoint URL for permissions
  apps/web/src/hooks/use-user-role.ts
Owners: @frontend-team

fix(register): Map logistics company type to exporter business type
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

feat(register): Implement two-step registration flow with company size for all types
  apps/web/src/pages/LcopilotRouter.tsx
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

feat(auth): Redesign Login & Register with login-02 format and landing page style
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

style(Login, Register): Update background with images and dark overlay for improved aesthetics
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

fix(auth): Use CSS background-image and reduce overlay opacity for visible images
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

fix(rbac): Treat legacy users as owners so all tabs show
  apps/web/src/hooks/use-user-role.ts
Owners: @frontend-team

feat(billing): Add country selection at registration for payment gateway routing
  apps/api/alembic/versions/20251202_add_billing_localization.py
  apps/api/app/models/company.py
  apps/api/app/routers/auth.py
  apps/api/app/schemas/user.py
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/pages/Register.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

feat(geo): Auto-detect country from IP using Vercel geo headers
  apps/web/api/geo.ts
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/pages/Register.tsx
  apps/web/vercel.json
Owners: @frontend-team

feat(pricing): Add localized pricing with fixed local rates
  apps/web/src/hooks/use-currency.ts
  apps/web/src/lib/pricing.ts
  apps/web/src/pages/hub/HubBilling.tsx
Owners: @frontend-team

feat(pricing): Add localized pricing to landing and tool pages
  apps/web/src/components/sections/trdr-pricing-section.tsx
  apps/web/src/components/tools/ToolPricingSection.tsx
  apps/web/src/pages/Pricing.tsx
  apps/web/src/pages/tools/PriceVerifyLanding.tsx
Owners: @frontend-team

fix(pricing): Add manual currency selector and timezone fallback detection
  apps/web/src/components/sections/trdr-pricing-section.tsx
  apps/web/src/components/tools/ToolPricingSection.tsx
Owners: @frontend-team

feat(pricing): Update to new tier structure with profit margins
  apps/web/src/lib/pricing.ts
Owners: @frontend-team

feat(tracking): Add Container & Vessel Tracker tool
  apps/web/src/App.tsx
  apps/web/src/pages/tools/ContainerTrackerLanding.tsx
  apps/web/src/pages/tools/tracking/ContainerTrackPage.tsx
  apps/web/src/pages/tools/tracking/TrackingDashboard.tsx
  apps/web/src/pages/tools/tracking/VesselTrackPage.tsx
  apps/web/src/pages/tools/tracking/index.ts
Owners: @frontend-team

feat(tracking): Enhance Container & Vessel Tracking functionality
  apps/api/app/routers/tracking.py
  apps/api/app/services/notifications.py
  apps/api/main.py
  apps/web/src/pages/tools/tracking/ContainerTrackPage.tsx
  apps/web/src/pages/tools/tracking/TrackingDashboard.tsx
  apps/web/src/pages/tools/tracking/VesselTrackPage.tsx
Owners: @backend-team, @security-team, @frontend-team

refactor(tracking): Separate internal tracking logic from API endpoints
  apps/api/app/routers/tracking.py
Owners: @backend-team, @security-team

refactor(tracking): Update import path for current user dependency
  apps/api/app/routers/tracking.py
Owners: @backend-team, @security-team

fix(hub): Enable Container Tracker in Hub sidebar and home
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

feat(tracking): Add sidebar layout to tracking dashboard like Price Verify
  apps/web/src/App.tsx
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
  apps/web/src/pages/tools/tracking/TrackingOverview.tsx
  apps/web/src/pages/tools/tracking/index.ts
Owners: @frontend-team

fix(tracking): Require login and add placeholder pages for tabs
  apps/web/src/App.tsx
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
  apps/web/src/pages/tools/tracking/TrackingPlaceholder.tsx
  apps/web/src/pages/tools/tracking/index.ts
Owners: @frontend-team

fix(tracking): Force immediate login redirect with localStorage token check
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(login): Respect returnUrl query param after login
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

fix(login): Use window.location.href for returnUrl redirect
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

fix(tracking): Remove aggressive localStorage check causing redirect loop
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(tracking): Require real authenticated user, not guest
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(tracking): Add logout button to tracking dashboard user dropdown
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(tracking): Fix logout handler to avoid React Error #310
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(ui): ErrorBoundary 'Try again' now has 'Go to Hub' as primary option
  apps/web/src/components/app/ErrorBoundary.tsx
Owners: @frontend-team

fix(tracking): Fix React Error #310 - useAuth doesn't export 'session'
  apps/web/src/pages/tools/tracking/ContainerTrackPage.tsx
  apps/web/src/pages/tools/tracking/TrackingOverview.tsx
  apps/web/src/pages/tools/tracking/VesselTrackPage.tsx
Owners: @frontend-team

fix(tracking): Fix React Error #310 - hooks called after conditional return
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

fix(tracking): Simplify TrackingLayout to match PriceVerifyDashboard pattern
  apps/web/src/pages/tools/tracking/TrackingLayout.tsx
Owners: @frontend-team

docs: Create Memory Bank for project context persistence
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
Owners: @documentation-team

docs: Comprehensive documentation update
  README.md
  docs/CURRENT_STATUS.md
  docs/product_specs/00_roadmap_summary.md
  docs/product_specs/13_container_tracker.md
  docs/product_specs/16_price_verification.md
  memory-bank/progress.md
Owners: @documentation-team

docs: Add Container Tracker gap analysis - Trade Specialist assessment
  docs/GAP_ANALYSIS_CONTAINER_TRACKER.md
Owners: @documentation-team

docs: Add detailed implementation plan for Container Tracker
  docs/IMPLEMENTATION_PLAN_CONTAINER_TRACKER.md
Owners: @documentation-team

feat(tracking): Add database persistence for Container Tracker
  apps/api/alembic/versions/20251205_add_tracking_tables.py
  apps/api/app/models/__init__.py
  apps/api/app/models/tracking.py
  apps/api/app/routers/tracking.py
Owners: @backend-team, @database-team, @dba-team, @security-team

feat(tracking): Add background job scheduler for alerts
  apps/api/app/routers/tracking.py
  apps/api/app/scheduler.py
  apps/api/main.py
  apps/api/requirements.txt
Owners: @backend-team, @security-team
