Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Fix verdict gating in summary and verdict card
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/BankVerdictCard.tsx
  apps/web/src/pages/exporter/results/__tests__/BankVerdictCard.test.tsx
Owners: @frontend-team

fix(ocr-trace): preserve low confidence and merge llm layer trace evidence
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/option_e_document_status_contract_test.py
  apps/api/tests/validation_arbitration_phase2_test.py
Owners: @backend-team, @security-team, @qa-team

fix(ocr-ui): include ocrConfidence camelCase in documents_structured
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix(ocr): treat high-confidence partial as success and relax empty-trace verification
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix(reconciliation): align processing summary with documents and relax empty-trace gate
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(trace): merge llm layer evidence and ignore unknown router transport
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore(trace): expose llm layer attempt/success/error in ai_enrichment
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(ai-validation): fallback LC raw text from extracted document list
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(ai): run layered arbitration with document-text fallback when LC raw text missing
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

fix(ai-input): synthesize documents_for_ai and lc raw text from extracted context
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(lcopilot): fail-closed extraction + verdict consistency + truthful readiness signals
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/pipeline.py
  apps/api/app/services/validation/validation_gate.py
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(api): resolve extraction-empty helper name collision causing validate 500
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(api): initialize db rule aggregates to avoid unbound crashes on fallback paths
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(web): map extracted fields/text fallbacks for exporter documents tab
  apps/web/src/lib/exporter/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
Owners: @frontend-team

fix(phase2): restore lc extraction provider path and structured documents rendering
  apps/api/app/services/document_intelligence/ai_classifier.py
  apps/api/app/services/llm_provider.py
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

restore(step1): ai_classifier from stable repo
  apps/api/app/services/document_intelligence/ai_classifier.py
Owners: @backend-team, @security-team

restore(step2): validation pipeline and gate from stable repo
  apps/api/app/services/validation/pipeline.py
  apps/api/app/services/validation/validation_gate.py
Owners: @backend-team, @security-team

restore(step3): structured_lc_builder from stable repo
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix(extraction): accept ai-first fieldful statuses and add guarded forensic debug logs
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix(web): close CreateDocumentWizard component to resolve Vercel build parse error
  apps/web/src/pages/tools/doc-generator/CreateDocumentWizard.tsx
Owners: @frontend-team

feat(api): add OpenRouter-first LLM support
  apps/api/.env.example
  apps/api/.env.production.template
  apps/api/app/config.py
  apps/api/app/middleware/security_headers.py
  apps/api/app/routers/health.py
  apps/api/app/services/ai_issue_rewriter.py
  apps/api/app/services/hs_classification.py
  apps/api/app/services/llm_provider.py
  apps/api/env.example
Owners: @backend-team, @security-team

Add validate flow regression tests
  apps/api/tests/test_validate_regression.py
Owners: @backend-team, @qa-team

test: add sprint T1.2 P1 regression harness
  tests/fixtures/sprint_t1_2_p1/document_composition_source_markers.json
  tests/fixtures/sprint_t1_2_p1/issue_cards_failures.json
  tests/fixtures/sprint_t1_2_p1/lc_override_source_markers.json
  tests/fixtures/sprint_t1_2_p1/partial_extraction_path.json
  tests/fixtures/sprint_t1_2_p1/two_stage_review_counter.json
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @admin-team

refactor: extract validation request/doc type helpers
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/__init__.py
  apps/api/app/routers/validation/doc_types.py
  apps/api/app/routers/validation/request_parsing.py
Owners: @backend-team, @security-team

Extract validation issue attribution helpers
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/issue_attribution.py
  apps/api/app/routers/validation/response_shaping.py
Owners: @backend-team, @security-team

refactor(validation): route response shaping via shared modules
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/__init__.py
Owners: @backend-team, @security-team

feat(validation): enforce SME verdict consistency policy
  apps/api/app/services/validation/sme_response_builder.py
  apps/api/app/services/validation/verdict_policy.py
Owners: @backend-team, @security-team

fix(api): harden submission eligibility and document status
  apps/api/app/routers/exporter.py
  apps/api/app/routers/validate.py
  apps/api/app/services/customs/customs_pack.py
Owners: @backend-team, @security-team

fix(web): align readiness and status with canonical flags
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Fix document status badges parity
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Fix customs pack ready state validation
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: split pack status from compliance readiness
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/AnalyticsTab.tsx
Owners: @frontend-team

Add validation contracts and enforce response invariants
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/validation/response_schema.py
Owners: @backend-team, @security-team

Adopt processing_summary_v2 and provenance in exporter results
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/fixtures/lcopilot.ts
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/lib/validation/validationState.ts
  apps/web/src/pages/ExporterAnalytics.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/exporter/results/tabs/AnalyticsTab.tsx
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

feat(lcopilot): complete Phase B.1 extraction recovery and deterministic gating
  apps/api/app/routers/validate.py
  apps/api/app/rules/engine.py
  apps/api/app/rules/extractors.py
  apps/api/app/rules/models.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/lc_baseline.py
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/lc_extractor_v2.py
  apps/api/app/services/extraction/two_stage_extractor.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/app/services/validation/issue_engine.py
  apps/api/app/services/validation/pipeline.py
  apps/api/app/services/validation/response_schema.py
  apps/api/app/services/validation/test_suite.py
  apps/api/app/services/validation/validation_gate.py
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @frontend-team, @admin-team

fix(validate): import normalize_lc_type for lc override handling
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(lcopilot): complete B2 extraction hardening and restore critical-score gate
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/crossdoc.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/compliance_scorer.py
  apps/api/app/services/validation/crossdoc_validator.py
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @admin-team

feat(extraction): complete Phase B hybrid extraction foundation
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/ai_lc_extractor.py
  apps/api/app/services/extraction/lc_baseline.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/alias_normalization.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/app/services/validation/test_suite.py
  apps/api/tests/ai_first_structured_contract_test.py
  docs/phase-b-track-d-critical-evidence-policy.md
  docs/phase_b_track_e_completion_board.md
  scripts/phase_b_track_e_board.py
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @qa-team, @documentation-team, @admin-team

feat(ai-router): add layered OpenRouter model routing with per-layer fallback
  apps/api/app/config.py
  apps/api/app/services/ai_crossdoc_engine.py
  apps/api/app/services/ai_issue_rewriter.py
  apps/api/app/services/llm_provider.py
Owners: @backend-team, @security-team

feat(phase-c): sequential C1-C3 arbitration, retries, and reason-surface wiring
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/response_shaping.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/lc_extractor.py
  tests/c1_arbitration_engine_spec.py
  tests/c2_retry_orchestration_spec.py
  tests/phase_c3_reason_surface_spec.py
  tests/test_sprint_t1_2_p1_regression_harness.py
Owners: @backend-team, @security-team, @admin-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
