Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Phase 7: Cross-Document Validation - UCP600/ISBP745 rule-by-rule
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

Phase 8: Frontend Hardening - State machine UI components
  apps/web/src/components/validation/IssueCard.tsx
  apps/web/src/components/validation/ValidationStatusBanner.tsx
  apps/web/src/components/validation/index.ts
  apps/web/src/lib/validation/index.ts
  apps/web/src/lib/validation/validationState.ts
Owners: @frontend-team

Phase 9: Auditability & Test Suite - Bank-grade certification
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/audit_logger.py
  apps/api/app/services/validation/test_suite.py
Owners: @backend-team, @security-team

Phase A: Backend Integration - Wire v2 ValidationPipeline into validate.py
  apps/api/app/routers/validate_v1_backup.py
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/pipeline.py
Owners: @backend-team, @security-team

Phase B: API Response Schema Alignment
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/response_schema.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
Owners: @backend-team, @security-team, @frontend-team

STEP 1: Replace Legacy Flow - V2 Pipeline is PRIMARY
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

STEP 2: Wire LCBaseline Extractor with MT700 parsing
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/lc_baseline.py
Owners: @backend-team, @security-team

STEP 4: Create YAML Rule Definitions
  apps/api/app/rules/external/definitions/extraction_rules.yaml
  apps/api/app/rules/external/definitions/ucp600_core.yaml
Owners: @backend-team, @security-team

STEP 5: Frontend Verification - Add V2 Validation UI
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

STEP 6: Test Suite - All 26 Tests PASS
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/app/services/validation/test_suite.py
Owners: @backend-team, @security-team

fix: Add RequestValidationError handler to prevent React Error #31
  apps/api/main.py
Owners: @backend-team, @security-team

fix: Handle 'job_' prefix in session/job IDs to prevent Pydantic 422 errors
  apps/api/app/routers/exporter.py
  apps/api/app/routers/jobs_public.py
  apps/api/app/schemas/exporter_submission.py
Owners: @backend-team, @security-team

fix: Create validation session BEFORE gating check
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: preserve extraction data when validation is blocked - CRITICAL BUG FIX
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: add validation to LC extractor to reject garbage output
  apps/api/app/services/extraction/docs_46a_parser.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

fix: MT700 parser to support formatted PDF format (NN: vs :NN:)
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/swift_mt700_full.py
  apps/api/app/services/parsers/swift_mt700.py
Owners: @backend-team, @security-team

feat: add AI-powered LC extraction fallback (GPT/Claude)
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/ai_lc_extractor.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: enhanced ISO 20022 LC extractor with multi-schema support + AI fallback
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/iso20022_lc_extractor.py
Owners: @backend-team, @security-team

fix: Add blocks to MT700 output for frontend LcHeader compatibility
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/swift_mt700_full.py
Owners: @backend-team, @security-team

fix: Complete LC display and document persistence fixes
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix: Remaining UI display issues and customs pack generation
  apps/api/app/routers/exporter.py
  apps/api/app/routers/validate.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: LC type confidence, extraction status, and analytics tab redirect
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: break circular dependency between api/client.ts and api/auth.ts
  apps/web/src/api/client.ts
Owners: @frontend-team

chore: add comment to force cache invalidation on build
  apps/web/src/api/client.ts
Owners: @frontend-team

fix: move lcStructured definition before useMemo to fix temporal dead zone error
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: multiple ExporterResults improvements
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/web/src/components/validation/ValidationStatusBanner.tsx
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Phase 1 messaging improvements for trade finance clarity
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/components/lcopilot/RiskPanel.tsx
  apps/web/src/components/validation/ValidationStatusBanner.tsx
Owners: @frontend-team

feat: UX improvements for clearer trade finance communication
  apps/web/src/components/lcopilot/RiskPanel.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor: Clean up results page - match reference design
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor: Consolidate results page to single summary card
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: Summary card fixes and Customs Pack button restoration
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: Add issue_cards to structured_result for frontend display
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: Sync Issues tab count and compliance rate with actual data
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: Properly extract goods description from list of dicts
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: Extraction improvements for invoice LC reference and port matching
  apps/api/app/rules/extractors.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat: add reference data registries and gold corpus framework
  apps/api/app/reference_data/__init__.py
  apps/api/app/reference_data/countries.py
  apps/api/app/reference_data/currencies.py
  apps/api/app/reference_data/ports.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/gold_corpus/README.md
  apps/api/tests/gold_corpus/VERSION
  apps/api/tests/gold_corpus/__init__.py
  apps/api/tests/gold_corpus/expected.py
  apps/api/tests/gold_corpus/expected/set_001_synthetic_bd.json
  apps/api/tests/gold_corpus/metrics.py
  apps/api/tests/gold_corpus/run_corpus.py
  apps/api/tests/test_reference_data.py
Owners: @backend-team, @security-team, @documentation-team, @qa-team

feat: wire two-stage extraction into validation pipeline
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: Add AI validation engine - LC requirement parser, document completeness checker, semantic goods matching, field requirement validator, AI discrepancy explainer
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

feat: Add AI Detected badge for AI-generated issues
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/types/lcopilot.ts
Owners: @frontend-team

fix: AI validator now correctly gets LC raw_text from extracted_context
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
