Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

feat: refactor customs pack generation endpoint to build and upload ZIP, returning signed URL
  apps/api/app/routers/validate.py
  apps/api/app/services/customs/customs_pack_full.py
Owners: @backend-team, @security-team

fix: update validate.py to add 'documents_found' field for frontend compatibility
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: enhance processing summary in validate.py to include extraction quality and processing time in milliseconds
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: add extraction of 46A/45A goods description blocks and enhance LCExtractor to utilize new parsing method
  apps/api/app/services/extraction/docs_46a_parser.py
  apps/api/app/services/extraction/goods_46a_parser.py
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: enhance LCExtractor to prioritize SWIFT MT700 full parser with fallback to core parser for improved data extraction
  apps/api/app/services/extraction/lc_extractor.py
  apps/api/app/services/extraction/swift_mt700_full.py
Owners: @backend-team, @security-team

fix: update lc_extractor.py to handle None cases for core parser results and improve data extraction reliability
  apps/api/app/services/extraction/lc_extractor.py
Owners: @backend-team, @security-team

feat: Add LC extraction integration tests and fix None handling
  apps/api/tests/test_extraction_integration.py
  apps/api/tests/test_lc_extractor_mt700_full.py
Owners: @backend-team, @qa-team

fix: Add lc_structured to structured_result for frontend consumption
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: update import statement in validate.py for PyPDF2 compatibility
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: update StructuredResultModel to allow additional fields
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: include lc_structured in validation response and update related components
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

fix: ensure lc_structured is included in structured_result for job results
  apps/api/app/routers/jobs_public.py
Owners: @backend-team, @security-team

fix: add debug logging for validation request and response
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

fix: enhance job results processing with improved structured_result handling
  apps/api/app/routers/jobs_public.py
Owners: @backend-team, @security-team

fix: enhance validation response and job status handling
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
Owners: @frontend-team

fix: improve job completion handling and status updates
  apps/api/app/routers/jobs_public.py
  apps/api/app/services.py
Owners: @backend-team, @security-team

fix: mark subproject as dirty to indicate uncommitted changes
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: add billing-usage section and improve job result fetching logic
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: enhance ExporterResults with logging and network call guard
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: enhance ExporterResults component with jobId and lcNumber props
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: enhance validation results handling and structured result integration
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/services.py
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix: improve extraction and validation of structured results
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: refactor structured result handling and improve error logging
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix: clean up structured_lc_builder.py and mark subproject as dirty
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix: enhance structured result processing and document handling
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/async/test_async_pipeline.py
  apps/api/tests/security/test_s3_encryption.py
  apps/api/tests/test_cross_document_checks.py
  apps/api/tests/test_extraction_integration.py
  apps/api/tests/test_lc_classifier.py
  apps/api/tests/test_lc_extractor_mt700_full.py
  apps/api/tests/test_validate_endpoint.py
  pytest.ini
  tests/conftest.py
  tests/legacy_disabled/apps_api/performance/__init__.py
  tests/legacy_disabled/apps_api/run_regression_tests.py
  tests/legacy_disabled/bank_pilot/e2e_bank_pilot.spec.ts
Owners: @backend-team, @security-team, @qa-team, @admin-team

fix: update structured result handling and enhance document mapping
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: update structured result document schema and enhance document extraction
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

fix: enhance useResults hook with query client integration and logging
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: mark subproject as dirty to indicate uncommitted changes
  scripts/replay_job.py
Owners: @admin-team

fix: update structured_lc_builder.py to ensure documents_structured is included in the result
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix: enhance structured result processing and update customs risk calculations
  apps/api/app/routers/validate.py
  apps/api/app/services.py
  apps/api/app/services/customs/customs_pack.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/risk/customs_risk.py
Owners: @backend-team, @security-team

fix: enhance structured result processing and update customs risk calculations
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/services/customs/customs_pack_full.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
Owners: @backend-team, @security-team, @frontend-team

fix: refactor structured_lc_builder.py to enhance structured result construction
  apps/api/app/services/extraction/structured_lc_builder.py
Owners: @backend-team, @security-team

fix: refactor validate.py and structured_lc_builder.py for improved structured result handling
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @backend-team, @security-team, @frontend-team

fix: enhance structured result processing and customs risk calculations
  apps/api/app/routers/validate.py
  apps/api/app/services/customs/customs_pack.py
  apps/api/app/services/risk/customs_risk.py
  apps/web/src/__tests__/fixtures/lcopilot.ts
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
Owners: @backend-team, @security-team, @frontend-team

fix: enhance ExporterResults component and structured result handling
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/LcHeader.tsx
  apps/web/src/components/lcopilot/RiskPanel.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor: update ExporterDashboard and related components for improved routing and structure
  apps/web/src/App.tsx
  apps/web/src/components/lcopilot/DashboardNav.tsx
  apps/web/src/components/lcopilot/ExporterDashboardLayout.tsx
  apps/web/src/context/ResultsContext.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  docs/AUTH_ONBOARDING_ROUTING_CURRENT_STATE.md
  docs/USER_TYPE_FLOWS.md
  docs/USER_TYPE_IMPLEMENTATION_PLAN.md
Owners: @frontend-team, @documentation-team

feat: enhance ExporterDashboard with discrepancy severity normalization and document status mapping
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

refactor: enhance ExporterDashboard with sidebar integration and improved section handling
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

refactor: update ExporterDashboard and related components for enhanced analytics and navigation
  apps/web/src/App.tsx
  apps/web/src/components/lcopilot/DashboardNav.tsx
  apps/web/src/components/lcopilot/LcHeader.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
