Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Refactor LC requirement extraction and enhance payload hydration logic
  apps/api/app/services/extraction/lc_taxonomy.py
  apps/api/app/services/requirements/lc_requirements.py
  apps/api/tests/lc_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance LC fact extraction by implementing raw text recovery and field normalization
  apps/api/app/services/facts/lc_facts.py
  apps/api/tests/lc_facts_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance LC baseline construction by integrating fact graph value retrieval
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/lc_fact_gate_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Integrate core terms from requirements graph into LC validation context
  apps/api/app/routers/validate.py
  apps/api/app/services/facts/document_facts.py
  apps/api/tests/lc_fact_gate_continuity_test.py
  apps/api/tests/lc_validation_context_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance packing list verification logic and add tests for raw text evidence handling
  apps/api/app/services/facts/packing_list_facts.py
  apps/api/app/services/resolution/queue_builder.py
  apps/api/tests/packing_list_facts_test.py
  apps/api/tests/resolution_queue_invoice_continuity_test.py
  tmp_live_requirement_verify/curl_live.cookies.txt
  tmp_live_requirement_verify/last_validate_body.txt
  tmp_live_requirement_verify/last_validate_headers.txt
Owners: @backend-team, @security-team, @qa-team, @admin-team

Add raw text recovery for port fields in BL fact processing
  apps/api/app/services/facts/bl_facts.py
  apps/api/tests/bl_facts_test.py
  tmp_live_requirement_verify/curl_live.cookies.txt
  tmp_live_requirement_verify/last_validate_body.txt
  tmp_live_requirement_verify/matrix/curl_matrix.cookies.txt
  tmp_live_requirement_verify/matrix_20260326/cookies.txt
Owners: @backend-team, @security-team, @qa-team, @admin-team

Enhance invoice and document validation by adding goods description alias and improving amount tolerance handling
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/invoice_facts.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/app/services/validation/test_suite.py
  apps/api/tests/crossdoc_amount_tolerance_test.py
  apps/api/tests/crossdoc_goods_hs_mismatch_test.py
  apps/api/tests/crossdoc_validator_runtime_compatibility_test.py
  apps/api/tests/invoice_amount_bounds_test.py
  apps/api/tests/invoice_facts_test.py
  apps/api/tests/invoice_validation_context_test.py
  tmp_live_requirement_verify/matrix_20260326_post_895dc14/cookies.txt
  tmp_live_requirement_verify/matrix_20260326_post_895dc14/cookies_debug.txt
  tmp_live_requirement_verify/matrix_20260326_post_895dc14_direct/cookies.txt
Owners: @backend-team, @security-team, @qa-team, @admin-team

Add preferred insurance document selection and enhance insurance coverage validation logic
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_insurance_coverage_test.py
  apps/api/tests/crossdoc_validator_runtime_compatibility_test.py
  apps/api/tests/insurance_validation_context_test.py
Owners: @backend-team, @security-team, @qa-team

Update insurance handling in validation pipeline and document facts
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/document_facts.py
  apps/api/tests/insurance_validation_context_test.py
Owners: @backend-team, @security-team, @qa-team

Enhance CrossDocValidator to dynamically resolve validation reference dates
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/crossdoc_reference_date_test.py
Owners: @backend-team, @security-team, @qa-team

Refactor price verification logic in CrossDoc to suppress warning-level variances
  apps/api/app/services/crossdoc.py
  apps/api/app/services/sanctions_screening.py
  apps/api/tests/price_verification_findings_test.py
  apps/api/tests/sanctions_screening_match_guard_test.py
Owners: @backend-team, @security-team, @qa-team

Add price issue filtering for documentary context in validation execution
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_price_layering_test.py
Owners: @backend-team, @security-team, @qa-team

Refactor rule extraction logic in price issue filtering for documentary context
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_price_layering_test.py
Owners: @backend-team, @security-team, @qa-team

Add validation contract decision surfaces application logic
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/__init__.py
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/session_refresh.py
  apps/api/tests/presentation_contract_continuity_test.py
  apps/api/tests/result_finalization_issue_layering_test.py
  apps/api/tests/session_refresh_continuity_test.py
  apps/web/src/__tests__/resultTruth.test.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
  tmp_ddg_lc_checking.html
  tmp_ddg_trade_doc_check.html
  tmp_market_search.html
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Enhance validation result finalization by managing contract errors
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/validate_router_shared_contract_bindings_test.py
Owners: @backend-team, @security-team, @qa-team

Expose workflow issue partition helper to split validate router
  apps/api/app/routers/validate.py
  apps/api/tests/validate_router_shared_contract_bindings_test.py
Owners: @backend-team, @security-team, @qa-team

Separate advisory findings from documentary readiness
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/tests/presentation_contract_continuity_test.py
  apps/web/src/__tests__/overviewTruth.test.ts
  apps/web/src/__tests__/resultTruth.test.ts
  apps/web/src/lib/exporter/overviewTruth.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Keep advisory-only findings from blocking readiness
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/tests/presentation_contract_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Retire legacy sanctions blocked surface
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/result_finalization_issue_layering_test.py
  apps/web/src/__tests__/SanctionsAlert.test.tsx
  apps/web/src/components/sanctions/SanctionsAlert.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Lock six-set gold corpus baseline
  apps/api/tests/gold_corpus/expected/set_001_synthetic_bd.json
  apps/api/tests/gold_corpus/expected/set_003_port_mismatch.json
  apps/api/tests/gold_corpus/expected/set_004_late_shipment.json
  apps/api/tests/gold_corpus/expected/set_006_goods_mismatch.json
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Retry transient validate gateway failures
  apps/web/src/__tests__/useLcopilotValidationRetry.test.ts
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

Make results pages contract-first for bank verdict display
  apps/web/src/__tests__/resultTruth.test.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

Add validate pipeline failure breadcrumbs
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/tests/pipeline_runner_failure_breadcrumbs_test.py
  apps/api/tests/validate_run_failure_breadcrumbs_test.py
Owners: @backend-team, @security-team, @qa-team

Fix thin-request result finalization fallback
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/result_finalization_issue_layering_test.py
Owners: @backend-team, @security-team, @qa-team

Persist resolvable validate job ids
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/tests/session_setup_job_persistence_test.py
  apps/api/tests/validate_run_failure_breadcrumbs_test.py
Owners: @backend-team, @security-team, @qa-team

Fail fast on missing split router bindings
  apps/api/app/routers/validate.py
  apps/api/app/routers/validate_customs.py
  apps/api/app/routers/validate_results.py
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/request_parsing.py
  apps/api/tests/split_router_fail_fast_bindings_test.py
  apps/api/tests/split_router_fail_fast_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Fail fast on missing stage router bindings
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/split_router_fail_fast_continuity_test.py
  apps/api/tests/stage_router_fail_fast_bindings_test.py
Owners: @backend-team, @security-team, @qa-team

Fail fast on missing session setup bindings
  apps/api/app/routers/validation/session_setup.py
  apps/api/tests/split_router_fail_fast_continuity_test.py
  apps/api/tests/stage_router_fail_fast_bindings_test.py
Owners: @backend-team, @security-team, @qa-team

Trim pipeline runner shared binding surface
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/tests/pipeline_runner_failure_breadcrumbs_test.py
Owners: @backend-team, @security-team, @qa-team

Add degraded execution timeout telemetry
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_timeout_telemetry_test.py
Owners: @backend-team, @security-team, @qa-team

Add validate success telemetry breadcrumbs
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/tests/pipeline_runner_failure_breadcrumbs_test.py
Owners: @backend-team, @security-team, @qa-team

Tighten SME wording on readiness surfaces
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/overviewTruth.test.ts
  apps/web/src/lib/exporter/overviewTruth.ts
  apps/web/src/lib/lcopilot/resultTruth.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/BankVerdictCard.tsx
  apps/web/src/pages/exporter/results/__tests__/BankVerdictCard.test.tsx
Owners: @frontend-team

Make report surfaces documentary-first
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/ImportResults.test.tsx
  apps/web/src/__tests__/SummaryStrip.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

Expand gold corpus with invoice edge cases
  apps/api/tests/gold_corpus/documents/set_007_missing_insurance_document/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_007_missing_insurance_document/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_007_missing_insurance_document/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_007_missing_insurance_document/LC.pdf
  apps/api/tests/gold_corpus/documents/set_007_missing_insurance_document/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/LC.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/LC.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_007_missing_insurance_document.json
  apps/api/tests/gold_corpus/expected/set_008_invoice_after_expiry.json
  apps/api/tests/gold_corpus/expected/set_009_invoice_lc_reference_mismatch.json
  apps/api/tests/gold_corpus/expected/set_010_invoice_missing_lc_reference.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Make new gold corpus fixtures deterministic
  apps/api/tests/gold_corpus/documents/set_007_missing_insurance_document/LC.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/LC.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/LC.pdf
  apps/api/tests/gold_corpus/generate_synthetic.py
Owners: @backend-team, @qa-team

Tighten missing insurance corpus scenarios
  apps/api/app/services/crossdoc.py
  apps/api/tests/crossdoc_requirements_graph_test.py
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_009_invoice_lc_reference_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_010_invoice_missing_lc_reference/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/generate_synthetic.py
Owners: @backend-team, @security-team, @qa-team

Fix missing insurance corpus document-set timing
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/document_set_requirements_graph_test.py
  apps/api/tests/gold_corpus/documents/set_008_invoice_after_expiry/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/expected/set_007_missing_insurance_document.json
  apps/api/tests/gold_corpus/expected/set_008_invoice_after_expiry.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @security-team, @qa-team

Use rich docs for document-set requirements graph
  apps/api/app/routers/validation/result_finalization.py
  apps/api/tests/document_set_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Treat transport aliases as satisfying required docs
  apps/api/app/services/validation/crossdoc_validator.py
  apps/api/tests/document_set_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Freeze live 10-set contract outcomes
  apps/api/tests/gold_corpus/expected/set_001_synthetic_bd.json
  apps/api/tests/gold_corpus/expected/set_002_amount_mismatch.json
  apps/api/tests/gold_corpus/expected/set_003_port_mismatch.json
  apps/api/tests/gold_corpus/expected/set_004_late_shipment.json
  apps/api/tests/gold_corpus/expected/set_005_insurance_undervalue.json
  apps/api/tests/gold_corpus/expected/set_006_goods_mismatch.json
  apps/api/tests/gold_corpus/expected/set_007_missing_insurance_document.json
  apps/api/tests/gold_corpus/expected/set_008_invoice_after_expiry.json
  apps/api/tests/gold_corpus/expected/set_009_invoice_lc_reference_mismatch.json
  apps/api/tests/gold_corpus/expected/set_010_invoice_missing_lc_reference.json
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team
