Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Stop splitting OpenRouter model slugs in the vision tier resolver
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Add mandatory MT700 fields warning banner to the LC review section
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Unwrap {value, confidence} field wrappers after sidecar is built
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

docs(claude): rewrite CLAUDE.md for the 3-part architecture + extraction gotchas
  CLAUDE.md
Owners: @documentation-team

chore(extraction): delete orphaned smart_lc_extractor and smart_bl_extractor
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/smart_bl_extractor.py
  apps/api/app/services/extraction/smart_lc_extractor.py
Owners: @backend-team, @security-team

fix(pipeline_runner): preserve Decimal/date/Enum types in snapshot serializer
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/tests/pipeline_runner_jsonable_type_preservation_test.py
Owners: @backend-team, @security-team, @qa-team

test(extraction): lock down LC shape invariant from LLM output to intake card
  apps/api/tests/lc_extraction_shape_invariant_test.py
Owners: @backend-team, @qa-team

fix(extraction): generic structural-field flattener for multi-item LLM output
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/api/tests/ai_first_extractor_structural_flatten_test.py
Owners: @backend-team, @security-team, @qa-team

feat(extraction): annotate required fields with clause citations + severity
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/services/extraction/required_fields_derivation.py
  apps/api/tests/required_fields_annotated_derivation_test.py
Owners: @backend-team, @security-team, @qa-team

feat(extract-review): render source-aware missing-field badges
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

fix(extraction): re-split concatenated 46A/47A clauses before derivation
  apps/api/app/services/extraction/required_fields_derivation.py
  apps/api/tests/required_fields_annotated_derivation_test.py
Owners: @backend-team, @security-team, @qa-team

refactor(extraction): delete required-fields derivation — separate extraction from validation
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/required_fields_derivation.py
  apps/api/tests/required_fields_annotated_derivation_test.py
  apps/api/tests/required_fields_derivation_test.py
Owners: @backend-team, @security-team, @qa-team

refactor(extract-review): rewrite as pure transcription surface — no red/amber badges
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

refactor(extraction): strict Option A — render only fields actually on the document
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

docs(claude): update for 2026-04-10 extraction/validation separation refactor
  CLAUDE.md
Owners: @documentation-team

Make extraction blind per-doc OCR — remove cross-doc context and backfill
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Drop cross-transaction fields from supporting-doc schemas
  CLAUDE.md
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @documentation-team, @backend-team, @security-team

UI cleanup + coherence pass for the upload → review flow
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Fix double-numbering in list-shaped field rendering
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Restructure Step 2 sections + fix Special Conditions blob
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Add presentation-set confirmation before extraction
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Move missing-docs warning into Start Validation footer
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Simplify validation footer — warning + one button, no extras
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Fix duplicate list fields, reorder confirm, add Upload remaining
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Distinguish insurance_policy from insurance_certificate in detection
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/lc_intake.py
  apps/api/app/services/extraction/launch_pipeline.py
Owners: @backend-team, @security-team

Filter out empty signature/seal/stamp fields from review screen
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Update ai_first_extractor prompts to 3-case rule (omit absent fields)
  apps/api/app/services/extraction/ai_first_extractor.py
Owners: @backend-team, @security-team

Persist extractionPayload to sessionStorage across 401 redirects
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Add Zod schema for ExtractionReadyResponse
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Fix empty 'name' field filter + comma-in-numbers list split
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Update CLAUDE.md backlog — mark completed items, add next steps
  CLAUDE.md
Owners: @documentation-team

Wire Part 2 validation pipeline — clause matcher, RulHub adapter, 3-tab results
  apps/api/app/config.py
  apps/api/app/models.py
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rules_service.py
  apps/api/app/services/rulhub_client.py
  apps/api/app/services/validation/clause_parser.py
  apps/api/app/services/validation/doc_matcher.py
  apps/api/app/services/validation/tiered_validation.py
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

Fix document loss on resume — populate payload+files_list from snapshot
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Fix amount/currency missing on resume — populate extracted_context["lc"] from snapshot
  apps/api/app/routers/validation/pipeline_runner.py
Owners: @backend-team, @security-team

Fix hardcoded 85% workflow confidence + 0% validation score
  apps/api/app/routers/validation/lc_intake.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/app/services/validation/compliance_scorer.py
Owners: @backend-team, @security-team

Redesign results page — 4-tab layout: Verdict, Documents, Findings, Customs Pack
  apps/web/src/components/lcopilot/dashboardTabs.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/DocumentsTab.tsx
  apps/web/src/pages/exporter/results/tabs/FindingsTab.tsx
  apps/web/src/pages/exporter/results/tabs/VerdictTab.tsx
  apps/web/src/pages/exporter/results/tabs/index.ts
Owners: @frontend-team

Hide legacy Overview sections behind extraction-resolution guard
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Guard legacy documents tab — only render for extraction-resolution stage
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Clean up results header — compact SummaryStrip, kill REJECT banner, add LC Requirements
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/VerdictTab.tsx
Owners: @frontend-team

Prominent SummaryStrip + restore bank profile + amendments in Verdict tab
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/VerdictTab.tsx
Owners: @frontend-team
