Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Remove duplicate log line
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Use auth state change listener instead of polling for session
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Check session immediately after sign-in, then wait if needed
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Don't wait for sign-in promise, wait for session instead
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Improve session detection with better logging and cleanup
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Remove /auth/login call for Supabase users
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Add detailed logging to fetchUserProfile to debug stuck login
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Pass token directly to fetchUserProfile to avoid getSession() hang
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Update fetchUserProfile to accept optional token parameter
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Navigate immediately after login, don't wait for onboarding status
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Fix: useExporterAuth should check Supabase session token
  apps/web/src/lib/exporter/auth.tsx
Owners: @frontend-team

Fix: Use shared Supabase client and clear loading state before navigation
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Fix: Add timeouts to prevent auth loading from hanging
  apps/web/src/lib/exporter/auth.tsx
Owners: @frontend-team

Reduce timeout to 3s for faster dashboard loading
  apps/web/src/lib/exporter/auth.tsx
Owners: @frontend-team

Fix: Use main auth user to prevent dashboard loading hang
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix: Use main auth user instead of exporter auth to fix Demo User issue
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix: Use actual user name in dashboard welcome message
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix: Complete userName prop and auth check updates
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix: Add userName prop to DashboardOverviewProps interface
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix: Prevent Demo User and fix logout redirect
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix: Call main auth logout when logging out from exporter dashboard
  apps/web/src/components/exporter/ExporterSidebar.tsx
Owners: @frontend-team

Fix: UserMenu shows Demo User, refresh causes demo mode, and logout issues
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/lib/exporter/auth.tsx
Owners: @frontend-team

Fix: Improve logout button handling with error prevention
  apps/web/src/components/exporter/ExporterSidebar.tsx
Owners: @frontend-team

Fix: Add timeout to getSession() calls to prevent hanging on refresh
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Add timeout to auth init getSession() to prevent hanging
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Use onAuthStateChange as primary auth check method
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Clear timeout when onAuthStateChange fires and in cleanup
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Prevent double fetchUserProfile calls on auth init
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Auto-complete onboarding for users who registered with company info
  apps/api/app/routers/onboarding.py
Owners: @backend-team, @security-team

Fix: Don't show onboarding wizard if user already has company info
  apps/web/src/components/onboarding/OnboardingProvider.tsx
Owners: @frontend-team

Fix: Add company size check for 'both' exporter/importer routing
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Fix: Check onboarding status BEFORE navigation to route 'both' users correctly
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Add debug logging for onboarding routing and modal logic
  apps/web/src/components/onboarding/OnboardingProvider.tsx
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Fix: Include company data in handleBusinessSubmit to ensure persistence
  apps/web/src/components/onboarding/OnboardingWizard.tsx
Owners: @frontend-team

Fix: Restore onboarding data from company record if onboarding_data is empty
  apps/api/app/routers/onboarding.py
Owners: @backend-team, @security-team

Fix: Improve registration error handling and onboarding save validation
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Refactor: Add sidebar and proper layout to CombinedDashboard
  apps/web/src/pages/CombinedDashboard.tsx
Owners: @frontend-team

Enhance CombinedDashboard and Login routing logic
  apps/api/app/routers/auth.py
  apps/web/src/components/combined/CombinedKPIs.tsx
  apps/web/src/components/combined/CombinedSessions.tsx
  apps/web/src/components/combined/CombinedTasks.tsx
  apps/web/src/components/combined/ViewModeToggle.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/hooks/use-combined.ts
  apps/web/src/pages/CombinedDashboard.tsx
  apps/web/src/pages/Login.tsx
Owners: @backend-team, @security-team, @frontend-team

Fix combined dashboard routing for users with empty onboarding data
  apps/api/app/routers/onboarding.py
  apps/web/src/pages/Login.tsx
Owners: @backend-team, @security-team, @frontend-team

Refactor CombinedDashboard authentication logic and clean up unused imports
  apps/web/src/pages/CombinedDashboard.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
