Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Enhance onboarding data restoration and error handling in onboarding.py
  apps/api/app/routers/onboarding.py
Owners: @backend-team, @security-team

Add Redis Key Value Store configuration and documentation
  apps/api/app/routers/onboarding.py
  apps/web/src/pages/Login.tsx
  docs/RENDER_PRODUCTION_ENV.md
  render.yaml
Owners: @backend-team, @security-team, @frontend-team, @documentation-team, @admin-team

Fix onboarding status timeout and optimize backend performance
  docs/RENDER_PRODUCTION_ENV.md
  render.yaml
Owners: @documentation-team, @admin-team

Fix onboarding restoration commit logic and add detailed logging
  apps/api/app/routers/onboarding.py
Owners: @backend-team, @security-team

Fix billing status shadowing bug and add onboarding endpoint logging
  apps/api/app/routers/billing.py
  apps/api/app/routers/onboarding.py
Owners: @backend-team, @security-team

Auto-create company for users without one in onboarding status endpoint
  apps/api/app/routers/onboarding.py
Owners: @backend-team, @security-team

Implement user data verification endpoint for admin users
  apps/api/app/routers/admin.py
  apps/api/scripts/README.md
  apps/api/scripts/verify_user_data.py
  apps/web/src/lib/bank/auth.tsx
Owners: @backend-team, @security-team, @documentation-team, @frontend-team

Fix critical authentication and routing issues
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/pages/EnterpriseDashboard.tsx
  apps/web/src/pages/Login.tsx
  docs/AUTHENTICATION_AUDIT.md
  docs/AUTHENTICATION_FIXES.md
Owners: @frontend-team, @documentation-team

Fix retry logic to use isActuallyCombined check
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Audit onboarding data and align auth contexts
  apps/api/app/routers/onboarding.py
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/lib/importer/auth.tsx
  docs/AUTH_ONBOARDING_ROUTING_CURRENT_STATE.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

Export ExporterAuthContext and ImporterAuthContext for UserMenu
  apps/web/src/lib/exporter/auth.tsx
  apps/web/src/lib/importer/auth.tsx
Owners: @frontend-team

Fix bank auth fallback so Supabase logins route correctly
  apps/web/src/lib/bank/auth.tsx
Owners: @frontend-team

Improve role inference and switch validation to JSON rules by default
  apps/api/app/config.py
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
  apps/api/app/routers/onboarding.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

Fix auth session reuse and onboarding toast
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix file validation helper returning coroutine
  apps/api/app/utils/file_validation.py
Owners: @backend-team, @security-team

Add migration to ensure contact_email column exists
  apps/api/alembic/versions/20251114_add_contact_email_to_companies.py
Owners: @backend-team, @database-team, @dba-team

Expand companies migration to cover billing columns
  apps/api/alembic/versions/20251114_add_contact_email_to_companies.py
Owners: @backend-team, @database-team, @dba-team

Ensure company enums store lowercase values
  apps/api/app/models/company.py
Owners: @backend-team, @security-team

Add company billing columns and bank role helper
  apps/api/alembic/versions/20251114_add_contact_email_to_companies.py
  apps/api/app/models.py
  apps/api/app/models/company.py
Owners: @backend-team, @database-team, @dba-team, @security-team

Fix admin console authentication to use real backend API
  apps/web/src/lib/admin/auth.tsx
  apps/web/src/pages/admin/AdminLogin.tsx
Owners: @frontend-team

Add admin user password reset tools and documentation
  apps/api/scripts/reset_admin_password.py
  docs/ADMIN_USER_SETUP.md
Owners: @backend-team, @security-team, @documentation-team

Update API error handling for admin endpoints
  apps/web/src/api/client.ts
Owners: @frontend-team

Add auth_user_id field to User model and schemas
  apps/api/alembic/versions/20251115_add_auth_user_id_to_users.py
  apps/api/app/models.py
  apps/api/app/routers/auth.py
  apps/api/app/schemas/user.py
Owners: @backend-team, @database-team, @dba-team, @security-team

fix: Pin bcrypt>=4.1.2 for passlib bcrypt_sha256 support
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: Force bcrypt>=4.1.2 upgrade in Render build command
  render.yaml
Owners: @admin-team

fix: Support both bcrypt_sha256 and plain bcrypt hashes with direct fallback
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

fix: Pydantic v2 compatibility and error handling for ruleset endpoints
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

feat: Admin dashboard production hardening - real data integration
  apps/api/alembic/versions/20251116_add_system_alerts.py
  apps/api/app/models/admin.py
  apps/api/app/routers/admin.py
  apps/api/app/routers/admin/audit.py
  apps/api/app/routers/admin/dashboard.py
  apps/api/app/routers/admin/ops.py
  apps/api/app/routers/rules_admin.py
  apps/api/app/services/rules_storage.py
  apps/api/app/services/system_alerts.py
  apps/api/scripts/cleanup_demo_data.py
  apps/web/src/lib/admin/services/api/apiAdminService.ts
  apps/web/src/lib/admin/services/index.ts
  apps/web/src/pages/admin/sections/AdminOverview.tsx
  apps/web/src/pages/admin/sections/ops/Alerts.tsx
  docs/ADMIN_DASHBOARD_STATUS.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team, @documentation-team

fix: Rename SystemAlert.metadata to alert_metadata to avoid SQLAlchemy conflict
  apps/api/alembic/versions/20251116_add_system_alerts.py
  apps/api/app/models/admin.py
  apps/api/app/routers/admin/ops.py
  apps/api/app/services/system_alerts.py
Owners: @backend-team, @database-team, @dba-team, @security-team

fix: Add SUPABASE_URL to config and fix rules storage service
  apps/api/app/config.py
  apps/api/app/routers/admin/dashboard.py
  apps/api/app/services/rules_storage.py
Owners: @backend-team, @security-team

fix: Improve error handling for ruleset upload and dashboard
  apps/api/app/routers/rules_admin.py
  apps/api/app/services/rules_storage.py
Owners: @backend-team, @security-team

fix: Update supabase-py and httpx versions to fix proxy parameter error
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: Optimize /admin/rulesets/active endpoint performance
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

fix: Handle UTF-8 BOM in ruleset JSON uploads
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

feat: Add jobs_public router and enhance ExporterResults component
  apps/api/app/routers/__init__.py
  apps/api/app/routers/jobs_public.py
  apps/api/main.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

refactor: Enhance RuleEvaluator with additional context parameters and improve error logging
  apps/api/app/services/rule_evaluator.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: Update onboarding data handling and improve invoice status filtering
  apps/api/app/routers/onboarding.py
  apps/api/app/services/billing_service.py
  apps/api/app/services/rule_evaluator.py
Owners: @backend-team, @security-team

refactor: Optimize discrepancy handling in ExporterResults component
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: Update SQLAlchemy query options for ValidationSession in jobs_public router
  apps/api/app/routers/jobs_public.py
Owners: @backend-team, @security-team

fix: Update _status_to_progress function to handle legacy statuses and improve robustness
  apps/api/app/routers/jobs_public.py
Owners: @backend-team, @security-team
