Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix: import Any in ai_usage_tracker
  apps/api/app/services/ai_usage_tracker.py
Owners: @backend-team, @security-team

fix: add require_bank_admin function to bank.py for bank_orgs import
  apps/api/app/routers/bank.py
Owners: @backend-team, @security-team

fix: correct import path for create_audit_context from middleware.audit_middleware
  apps/api/app/routers/bank_duplicates.py
  apps/api/app/routers/bank_orgs.py
Owners: @backend-team, @security-team

fix: export SavedView from app.models for bank_saved_views import
  apps/api/app/models/__init__.py
Owners: @backend-team, @security-team

fix: correct import path for get_db from database module
  apps/api/app/routers/bank_duplicates.py
Owners: @backend-team, @security-team

fix: make Supabase client creation optional to prevent startup crash when env vars missing
  apps/api/supabase_config.py
Owners: @backend-team, @security-team

fix: use python -m uvicorn for better port binding detection
  render.yaml
Owners: @admin-team

fix: update subproject commit to indicate dirty state
  docs/DEPLOYMENT_FAILURE_ANALYSIS.md
  docs/IMPORT_TEST_RESULTS.md
Owners: @documentation-team

fix: add missing logging import to sme_templates.py
  apps/api/app/routers/sme_templates.py
Owners: @backend-team, @security-team

fix: add missing Optional and List imports to sme_templates.py
  apps/api/app/routers/sme_templates.py
Owners: @backend-team, @security-team

fix: correct indentation in company_profile.py and add UUID import to sme_templates.py
  apps/api/app/routers/company_profile.py
  apps/api/app/routers/sme_templates.py
Owners: @backend-team, @security-team

feat: enhance document validation by adding ICC rule detection and text/meta gathering functions
  apps/api/app/services/validator.py
  apps/api/check_all_imports.py
  apps/api/check_missing_imports.py
Owners: @backend-team, @security-team

fix: add missing router module loads (bank_policy, bank_bulk_jobs, bank_duplicates, validate, onboarding)
  apps/api/app/routers/__init__.py
Owners: @backend-team, @security-team

fix: clear mock rulesets and fallback rulesets in admin services
  apps/web/src/lib/admin/services/mock/mockAdminService.ts
  apps/web/src/pages/admin/sections/rules/List.tsx
Owners: @frontend-team

fix: add missing Tuple import to validator.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat: add pre-deployment check scripts to catch errors before deploying
  apps/api/PRE_DEPLOY.md
  apps/api/check_syntax_imports.py
  apps/api/pre_deploy_check.py
Owners: @documentation-team, @backend-team, @security-team

feat: update CTA and hero sections for improved messaging and navigation
  apps/web/src/components/sections/cta-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/pages/landing/LandingPage.tsx
Owners: @frontend-team

feat: add require_bank_admin dependency and enhance domain options in admin sections
  apps/api/app/core/security.py
  apps/api/app/routers/bank.py
  apps/api/app/routers/bank_policy.py
  apps/api/app/routers/bank_queue.py
  apps/api/app/routers/bank_users.py
  apps/web/src/pages/admin/sections/rules/Active.tsx
  apps/web/src/pages/admin/sections/rules/List.tsx
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: remove require_bank_admin dependency from bank_policy router
  apps/api/app/routers/bank_orgs.py
  apps/api/app/routers/bank_policy.py
Owners: @backend-team, @security-team

fix: move require_bank_admin to core.security and fix syntax error
  apps/api/app/middleware/billing_checkpoint.py
  apps/api/comprehensive_check.py
Owners: @backend-team, @security-team

fix: import BankTenant from app.models instead of bank_workflow
  apps/api/app/routers/bank_bulk_jobs.py
Owners: @backend-team, @security-team

fix: correct import path for settings from app.config instead of app.core.config
  apps/api/app/services/bulk_processor.py
  apps/api/app/services/collaboration_service.py
  apps/api/app/services/export_service.py
  apps/api/app/services/workflow_service.py
Owners: @backend-team, @security-team

Fix BankTenant import and model compatibility
  apps/api/app/models.py
  apps/api/app/models/__init__.py
  apps/api/app/models/bank_workflow.py
Owners: @backend-team, @security-team

Improve rules upload workflow
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

fix: handle binary file data in multipart form to prevent UTF-8 decode errors
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: correct import check in DeepSeek OCR adapter (use pipeline instead of AutoTokenizer)
  apps/api/app/ocr/deepseek_ocr.py
Owners: @backend-team, @security-team

fix: comment out torch/transformers to reduce build size (3.5GB -> much smaller)
  apps/api/requirements.txt
Owners: @backend-team, @security-team

feat: add Google Cloud Document AI support and setup guide
  GOOGLE_CLOUD_SETUP.md
  apps/api/app/ocr/google_documentai.py
  apps/api/requirements.txt
Owners: @documentation-team, @backend-team, @security-team

fix: handle Image type hint when PIL is not available (DeepSeek OCR disabled)
  apps/api/app/ocr/deepseek_ocr.py
Owners: @backend-team, @security-team

fix: replace all Image.Image type hints with Any to handle missing PIL
  apps/api/app/ocr/deepseek_ocr.py
Owners: @backend-team, @security-team

fix: add stub queue module to fix missing app.core.queue import
  apps/api/app/core/queue.py
Owners: @backend-team, @security-team

fix: add missing aiohttp dependency
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: add missing markdown and bleach dependencies
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: add missing prometheus-client dependency
  apps/api/requirements.txt
Owners: @backend-team, @security-team

fix: add missing app.core.events module for notification system
  apps/api/app/core/events.py
Owners: @backend-team, @security-team

fix: add NotificationSubscription and NotificationDigest aliases
  apps/api/app/models/notifications.py
Owners: @backend-team, @security-team

fix: correct app.core.database imports to app.database
  apps/api/app/routers/admin/audit.py
  apps/api/app/routers/admin/dr.py
  apps/api/app/routers/admin/governance.py
  apps/api/app/routers/admin/jobs.py
  apps/api/app/routers/admin/ops.py
  apps/api/app/services/governance_service.py
  apps/api/app/services/notification_service.py
Owners: @backend-team, @security-team

fix: add notification_service singleton and update methods to accept db parameter
  apps/api/app/services/bulk_processor.py
  apps/api/app/services/notification_service.py
Owners: @backend-team, @security-team

fix: update notification_service calls to use emit_event_simple with db parameter
  apps/api/app/services/bulk_processor.py
  apps/api/app/services/collaboration_service.py
Owners: @backend-team, @security-team

fix: add EventSeverity import and fix remaining notification_service call
  apps/api/app/services/collaboration_service.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
