Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix(day3): add 429 resilience, resume-safe runs, pass quality gate, and smoke20 preset
  tools/day3_pipeline/README_DAY3_AUTOPILOT.md
  tools/day3_pipeline/day3_pipeline_core.py
  tools/day3_pipeline/forge_x_manifest_tools.py
  tools/day3_pipeline/run_batch_day3.py
  tools/day3_pipeline/run_day3_pipeline.py
  tools/day3_pipeline/smoke20_day3.ps1
Owners: @documentation-team, @admin-team

fix(option-e/day3): harden extractor list-dict parsing and enforce pass-bucket demotion gate
  apps/api/app/services/extraction/structured_lc_builder.py
  tools/day3_pipeline/forge_x_manifest_tools.py
Owners: @backend-team, @security-team, @admin-team

fix(api/validate): guard lc payload/doc type parsing to prevent AttributeError 500
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

chore(phase5+lcopilot): lock GO signoff and hardening batch updates
  Data/day3/results/phase5_go_signoff_2026-03-02.md
  apps/api/app/config.py
  apps/api/app/database.py
  apps/api/app/ocr/google_documentai.py
  apps/api/app/services/__init__.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tmp_collect_warnings.py
Owners: @documentation-team, @backend-team, @security-team

fix(lcopilot): resolve P0 consistency issues and stabilize date/status mapping
  apps/api/app/routers/validate.py
  apps/api/app/schemas/user.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

refactor(ui): separate extraction quality from compliance outcome
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(issues): suppress placeholder evidence cards and align visible counters
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat(validation): add dual-track decision trace fields to response payload
  apps/api/app/routers/validate.py
  apps/api/tests/validation_decision_trace_phase1_test.py
Owners: @backend-team, @security-team, @qa-team

feat(validation): add shadow arbitration engine and decision mode switch
  apps/api/app/config.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/arbitration.py
  apps/api/tests/validation_arbitration_phase2_test.py
Owners: @backend-team, @security-team, @qa-team

feat(dataset): add LCopilot Dataset v1 (200 cases) with manifests and validation tooling
  datasets/lcopilot_v1/README.md
  datasets/lcopilot_v1/manifests/master_manifest.csv
  datasets/lcopilot_v1/manifests/master_manifest.jsonl
  datasets/lcopilot_v1/reports/quality_report.md
  scripts/build_lcopilot_dataset_v1.py
  scripts/validate_lcopilot_dataset_v1.py
Owners: @documentation-team, @admin-team

feat(ai): add Phase A layered model router with telemetry
  apps/api/.env.example
  apps/api/app/config.py
  apps/api/app/services/ai/__init__.py
  apps/api/app/services/ai/model_router.py
  apps/api/app/services/llm_assist.py
  apps/api/app/services/llm_provider.py
  apps/api/env.example
  apps/api/tests/test_model_router_phase_a.py
Owners: @backend-team, @security-team, @qa-team

chore: checkpoint recent validation pipeline and result updates
  Data/day3/results/DAY3_SIGNOFF.md
  Data/day3/results/confusion_matrix.csv
  Data/day3/results/day3_results.jsonl
  apps/api/app/routers/validate.py
  tools/day3_pipeline/day3_pipeline_core.py
Owners: @documentation-team, @admin-team, @backend-team, @security-team

fix(api): unblock Render build on Python 3.13 by updating binary deps
  apps/api/requirements.txt
Owners: @backend-team, @security-team

enforce hybrid arbitration path for final verdict in hybrid_enforced
  apps/api/app/config.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/arbitration.py
Owners: @backend-team, @security-team

add enforcement mode tests and before-after evidence generator
  apps/api/tests/validation_arbitration_phase2_test.py
  apps/api/tests/validation_mode_alias_test.py
  apps/api/tools/validation_enforcement_report.py
Owners: @backend-team, @qa-team, @security-team

feat(tbml): add deterministic TBML v1 seed rulepack (50 rules)
  RulSets/tbml/README.md
  RulSets/tbml/tbml_counterparty_network_risk.json
  RulSets/tbml/tbml_document_behavioral_signals.json
  RulSets/tbml/tbml_pricing_anomaly.json
  RulSets/tbml/tbml_quantity_weight_mismatch.json
  RulSets/tbml/tbml_route_logistics_anomaly.json
  RulSets/tbml/tbml_sanctions_pep_enhanced.json
Owners: @documentation-team, @admin-team

feat(validation): expose runtime router transport and layer calls in decision_trace
  apps/api/app/routers/validate.py
  apps/api/app/services/ai/model_router.py
  apps/api/tests/validation_arbitration_phase2_test.py
Owners: @backend-team, @security-team, @qa-team

fix(validation): enforce OpenRouter-routed L1-L3 audit trail and bank-grade verdict fields
  apps/api/app/routers/validate.py
  apps/api/app/services/ai/model_router.py
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

Add backend pipeline verification gate for validation payloads
  apps/api/app/routers/validate.py
  apps/api/tests/validation_arbitration_phase2_test.py
Owners: @backend-team, @security-team, @qa-team

feat(web): show pipeline verification trust badge on results summary
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
Owners: @frontend-team

fix(lcopilot): sync verdict counters with visible issues set
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/BankVerdictCard.tsx
  apps/web/src/pages/exporter/results/__tests__/BankVerdictCard.test.tsx
Owners: @frontend-team

fix(lcopilot): correct issue date source, normalize ISBP citation, and unify customs manifest state
  apps/web/src/__tests__/ExporterIssueCard.citation.test.tsx
  apps/web/src/__tests__/resultCorrections.test.ts
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultCorrections.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(web): canonicalize exporter results issue date rendering
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultCorrections.test.ts
  apps/web/src/lib/exporter/resultCorrections.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(p0): enforce lcopilot integrity invariants and hard submit gate
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(validation): align extraction summary with canonical doc status
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/response_builder.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/option_e_document_status_contract_test.py
Owners: @backend-team, @security-team, @qa-team

fix(summary-strip): apply audited top-block safety and CTA mapping
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(validate): align extraction summary with canonical document status
  apps/api/app/routers/validate.py
  apps/api/tests/option_e_document_status_contract_test.py
Owners: @backend-team, @security-team, @qa-team

M1: add canonical extraction/compliance/pipeline semantics contract
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/response_builder.py
  apps/api/app/routers/validation/semantics.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/lcopilotSemantics.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

M2: separate extraction quality vs compliance findings in documents UI
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

M3: enforce contradiction invariants and align block-vs-allow language
  apps/api/app/routers/validate.py
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

M4: add issue-level explanations and explicit reject blocking reasons
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

M5: add trust restoration audit package and reliability check record
  docs/LCOPILOT_TRUST_RESTORATION_AUDIT.md
Owners: @documentation-team

feat(exporter): add affected documents extraction status section
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/__tests__/extractionStatus.test.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/extractionStatus.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Fix lcopilot issue count consistency and remove UI double attribution
  apps/api/app/routers/validation/issue_resolver.py
  apps/api/tests/routers/validation/issue_resolver_regression.py
  apps/web/src/lib/exporter/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

Fix issue-count invariant and UNVERIFIED fail-closed path
  apps/api/app/routers/validate.py
  apps/api/tests/routers/validation/issue_resolver_regression.py
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/lib/exporter/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

Unify canonical issue count lineage
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/routers/validation/issue_resolver_regression.py
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.test.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

fix(lcopilot): stabilize exporter results tab/state invariants and canonicalize gate decision
  apps/web/src/__tests__/ExporterResults.consistency.test.tsx
  apps/web/src/__tests__/SummaryStrip.pipelineVerification.test.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/__tests__/exporterSections.test.ts
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(exporter): align document issue badges with visible issues and harden LC issue date resolution
  apps/web/src/lib/exporter/resultCorrections.ts
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @frontend-team

fix(exporter): normalize 47A conditions and harden issue-date parsing
  apps/web/src/__tests__/resultCorrections.test.ts
  apps/web/src/lib/exporter/resultCorrections.ts
  apps/web/src/lib/exporter/resultsMapper.test.ts
  apps/web/src/pages/exporter/results/__tests__/utils.test.ts
  apps/web/src/pages/exporter/results/utils.ts
Owners: @frontend-team

fix(exporter): align unmatched issue attribution and date precedence
  apps/web/src/__tests__/resultCorrections.test.ts
  apps/web/src/lib/exporter/resultCorrections.ts
  apps/web/src/lib/exporter/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @frontend-team
