Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Fix RulHub rules field name + placement
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Stop injecting domain/jurisdiction into rulhub document body
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Fix ISO 20022 LC extraction — XML wrapper + flat schema support
  apps/api/app/services/extraction/iso20022_lc_extractor.py
Owners: @backend-team, @security-team

Update CLAUDE.md — ISO 20022 gap fixed, current status refreshed
  CLAUDE.md
Owners: @documentation-team

Fix severity normalization — map 'discrepancy' to major, not minor
  apps/api/app/routers/validation/utilities.py
Owners: @backend-team, @security-team

Fix ISO verdict page — copy amount/currency/incoterm to extractor outputs
  apps/api/app/routers/validation/lc_intake.py
Owners: @backend-team, @security-team

Remove extraction_resolution 2-tab dead branch from results page
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Stop extraction-core from judging at extraction time
  apps/api/app/services/extraction_core/review_metadata.py
Owners: @backend-team, @security-team

Globalize BIN/TIN tax ID validator — remove Bangladesh hardcoding
  apps/api/app/config/extraction_profiles/bill_of_lading.yaml
  apps/api/app/config/extraction_profiles/commercial_invoice.yaml
  apps/api/app/services/extraction_core/review_metadata.py
Owners: @backend-team, @security-team

Fix #1 — Residency GLOBAL policy no longer silently routes to BD bucket
  apps/api/app/core/residency/policies.py
Owners: @backend-team, @security-team

Fix #3 — Default currency changed from BDT to USD
  apps/api/app/models/invoice.py
  apps/api/app/schemas/billing.py
  apps/api/app/services/billing_service.py
Owners: @backend-team, @security-team

Fix #4 — SSLCommerz no longer fabricates Dhaka address when metadata missing
  apps/api/app/providers/payments/sslcommerz.py
Owners: @backend-team, @security-team

Fix #5 — Doc generator refuses to fabricate country_of_origin
  apps/api/app/routers/doc_generator_advanced.py
Owners: @backend-team, @security-team

Fix #6 — Globalize port/country normalization in rules extractor
  apps/api/app/rules/extractors.py
Owners: @backend-team, @security-team

Fix #7 — Add extraction locale profiles for TR/IN/PK/VN
  apps/api/app/config/extraction_profiles/locale/in.yaml
  apps/api/app/config/extraction_profiles/locale/pk.yaml
  apps/api/app/config/extraction_profiles/locale/tr.yaml
  apps/api/app/config/extraction_profiles/locale/vn.yaml
Owners: @backend-team, @security-team

Fix #8 — Globalize port registry, add missing major trade ports
  apps/api/app/reference_data/ports.py
Owners: @backend-team, @security-team

Fix #9 — Remove hardcoded BDT→USD exchange rate
  apps/api/app/core/pricing.py
Owners: @backend-team, @security-team

Fix #10 — Balance LC clause library regional coverage
  apps/api/app/services/lc_clause_library.py
Owners: @backend-team, @security-team

Fix false-positive goods description "inconsistency" on B/L boilerplate
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

Update CLAUDE.md — end-of-day 2026-04-16 (19 commits)
  CLAUDE.md
Owners: @documentation-team

Update NEXT_SESSION_PROMPT for validator false-positive cluster session
  NEXT_SESSION_PROMPT.md
Owners: @documentation-team

Fix validator Cluster A — feed supporting docs into AI/veto prompts
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/tiered_validation.py
Owners: @backend-team, @security-team

Fix validator Cluster C — resolve port aliases via UN/LOCODE registry
  apps/api/app/services/validation/doc_matcher.py
Owners: @backend-team, @security-team

Fix validator Cluster B — alias + case-insensitive + line-item drilling
  apps/api/app/services/validation/doc_matcher.py
Owners: @backend-team, @security-team

Fix validator Cluster D — insurance coverage math + Incoterm + pct trap
  apps/api/app/services/validation/doc_matcher.py
Owners: @backend-team, @security-team

Rewrite Cluster D — drop Incoterm shortcut and hardcoded amount floor
  apps/api/app/services/validation/doc_matcher.py
Owners: @backend-team, @security-team

C1 — Kill-switch: one spine, no AI inventing findings
  apps/api/app/config.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/tiered_validation.py
Owners: @backend-team, @security-team

C2 — Clause parser + text-evidence + HS-code correspondence
  apps/api/app/services/validation/clause_parser.py
  apps/api/app/services/validation/doc_matcher.py
Owners: @backend-team, @security-team

C2-spine: AI reads the LC, deterministic engine produces findings
  apps/api/app/config.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/doc_matcher.py
  apps/api/app/services/validation/llm_clause_graph.py
Owners: @backend-team, @security-team

C2-spine refinement: cap fan-out, exclude LC, drop process rules
  apps/api/app/services/validation/doc_matcher.py
  apps/api/app/services/validation/llm_clause_graph.py
Owners: @backend-team, @security-team

Revert "C2-spine: AI reads the LC, deterministic engine produces findings"
  apps/api/app/config.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/doc_matcher.py
  apps/api/app/services/validation/llm_clause_graph.py
Owners: @backend-team, @security-team

Revert "C2-spine refinement: cap fan-out, exclude LC, drop process rules"
  apps/api/app/services/validation/doc_matcher.py
  apps/api/app/services/validation/llm_clause_graph.py
Owners: @backend-team, @security-team

Pivot: RulHub is the validation engine, trdrhub is the consumer
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Fix RulHub /v1/validate/set wiring: 422 on payload-key mismatch
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Align trdrhub payload with RulHub's rule-reference conventions
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Update CLAUDE.md + NEXT_SESSION_PROMPT for RulHub pivot
  CLAUDE.md
  NEXT_SESSION_PROMPT.md
Owners: @documentation-team

Update NEXT_SESSION_PROMPT with RulHub payload audit findings
  NEXT_SESSION_PROMPT.md
Owners: @documentation-team

Align RulHub payload: dual prefixes + _name/_code + derived booleans
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Log raw RulHub /v1/validate/set response
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Read RulHub cross_document_discrepancies; log 20KB not 5KB
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team
