Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Fix SummaryStrip padding + 85% confidence + actionable bank/amendments
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/VerdictTab.tsx
Owners: @frontend-team

Fix 85% confidence — read _extraction_confidence from sessionStorage
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Move bank badge to header, amendments to Findings tab with download
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/FindingsTab.tsx
  apps/web/src/pages/exporter/results/tabs/VerdictTab.tsx
Owners: @frontend-team

Move BankProfileBadge into Findings tab — shows strictness context
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/FindingsTab.tsx
Owners: @frontend-team

Doc preview + full-featured amendments (MT707+ISO20022, preview, fees)
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/DocumentsTab.tsx
  apps/web/src/pages/exporter/results/tabs/FindingsTab.tsx
Owners: @frontend-team

Add document preview endpoint + wire Eye icon to open actual PDF
  apps/api/app/routers/validate.py
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/DocumentsTab.tsx
Owners: @backend-team, @security-team, @frontend-team

Fix NameError: move document preview endpoint after get_user_optional
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Fix RulHub not activating — settings was unbound in validation_execution
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Fix RulHub serialization crash — extract .value from FieldResult objects
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Fix 3 pipeline issues: L1 extraction, RulHub fallback, Opus veto
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Revert extraction tier chain — keep L2-first as intentional
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Update CLAUDE.md — Part 2 unfrozen, new key files, validation backlog
  CLAUDE.md
Owners: @documentation-team

Fix extraction tier chain — start at L1 to match env config
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Fix RulHub 500 — flatten payload to {field: value} shape
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

Add deterministic validation checks + AI false-positive filter + cross-layer dedup
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/doc_matcher.py
Owners: @backend-team, @security-team

Fix extraction model defaults + enforce verbatim transcription
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Add two-stage extraction: cheap model + Sonnet review
  apps/api/app/services/extraction/ai_first_extractor.py
Owners: @backend-team, @security-team

Clear stale extraction payload when new LC is uploaded
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Revert two-stage extraction, LC uses Opus directly
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Stop port normalization from overwriting extracted values
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/launch_pipeline.py
Owners: @backend-team, @security-team

Disable ensemble for LC extraction, use single Opus call
  apps/api/app/services/extraction/ai_lc_extractor.py
Owners: @backend-team, @security-team

Fix port name overwrite in two-stage validator + BL/Ocean BL doc-type alias
  apps/api/app/services/extraction/two_stage_extractor.py
  apps/web/src/pages/ExportLCUpload.tsx
  packages/shared-types/src/document-types.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

Fix PDF preview — blob URL revoked too early (1s → 60s)
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Unify Extract button — "Extract Anyway" when docs missing, no dialog
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Fix LC intake card — handle flat scalars from shaped payload
  apps/api/app/routers/validation/lc_intake.py
Owners: @backend-team, @security-team

Fix LC intake card — snapshot lc_context before fact-graph projection
  apps/api/app/routers/validation/session_setup.py
Owners: @backend-team, @security-team

TEMP: Add debug keys to intake response for lc_context diagnosis
  apps/api/app/routers/validation/session_setup.py
Owners: @backend-team, @security-team

Fix LC intake empty on real PDFs — NameError in _tier_chain_for_document
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Speed + re-extraction waste fixes
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

Structurally itemize Documents Required + Special Conditions blobs
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Fix re-extraction cache path + add missing-docs warning banner
  apps/api/app/routers/validation/session_setup.py
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

Fix Special Conditions blob — add period-comma split pattern
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Parallelize supporting doc vision LLM extraction (~200s → ~75s)
  apps/api/app/config.py
  apps/api/app/routers/validate.py
  apps/api/tests/test_build_document_context_boundary.py
Owners: @backend-team, @security-team, @qa-team

Fix missing-doc UX: remove premature warning, fix scroll target
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Add missing-doc confirmation dialog on Extract & Review click
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Incremental extraction + structured Documents Required rendering
  apps/api/app/routers/validation/session_setup.py
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

Skip no-LC-found gate for incremental extraction with reuse_job_id
  apps/api/app/routers/validation/session_setup.py
Owners: @backend-team, @security-team

Fix progress indicator file count for incremental extraction
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Frontend merge for incremental extraction — carry previous docs
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

Fix RulHub source filter + post-veto false-positive filter
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
