Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

auth: complete supabase-only backend path and align usage router auth dependency
  apps/api/app/routers/usage.py
Owners: @backend-team, @security-team

auth: add /auth/me fallback user bootstrap for supabase token claims
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

fix: apply JWT fallback profile on any profile-fetch failure to stop lcopilot logout loops
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

auth: bootstrap default company on supabase user upsert to unblock onboarding/usage
  apps/api/app/core/security.py
Owners: @backend-team, @security-team

style: align hub dashboard palette with landing brand direction
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

fix: prevent lcopilot logout loop by honoring Supabase session auth in exporter dashboard
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: route hub lcopilot links to exporter dashboard to prevent login bounce
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

fix: prevent premature exporter dashboard redirect by waiting for core auth load
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: disable exporter dashboard hard login redirect during auth unification
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix: preserve supabase session on non-admin API 401 during auth unification
  apps/web/src/api/client.ts
Owners: @frontend-team

docs: add auth E2E checklist and smoke test script
  apps/api/auth_smoke.py
  docs/AUTH_E2E_CHECKLIST.md
Owners: @backend-team, @security-team, @documentation-team

fix(auth): resolve Hub->LCopilot->ExporterDashboard bounce/logout loops
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/hooks/use-user-role.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/hub/HubLayout.tsx
Owners: @frontend-team

fix(auth): stabilise Supabase-only JWT auth for /auth/me, onboarding, and usage endpoints
  apps/api/app/core/jwt_verifier.py
  apps/api/app/core/security.py
  apps/api/app/routers/usage.py
Owners: @backend-team, @security-team

fix(frontend): resolve CSS MIME mismatch on exporter-dashboard
  apps/web/vercel.json
  apps/web/vite.config.ts
  vercel.json
Owners: @frontend-team, @admin-team

fix(validate): resolve 500 on POST /api/validate/ for exporter with 6 docs
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

wave1: harden auth guard, disable placeholder customs pack, require auth for validate, and truthfully flag settings persistence
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix(api): map DB outage failures to 503 across auth usage validate lc
  apps/api/app/routers/auth.py
  apps/api/app/routers/lc_versions.py
  apps/api/app/routers/usage.py
  apps/api/app/routers/validate.py
  apps/api/app/utils/db_resilience.py
  apps/api/main.py
Owners: @backend-team, @security-team

fix(api): register DB exception handlers per-class for FastAPI
  apps/api/main.py
Owners: @backend-team, @security-team

fix(db): prefer DIRECT_DATABASE_URL when pooled 6543 endpoint is unreachable
  apps/api/app/database.py
Owners: @backend-team, @security-team

fix(api): catch NoReferencedTableError from create_all to prevent startup crash
  apps/api/main.py
Owners: @backend-team, @security-team

fix(csp): allow supabase/render connects and swagger CDN assets
  apps/api/app/middleware/security_headers.py
  apps/web/vercel.json
  vercel.json
Owners: @backend-team, @security-team, @frontend-team, @admin-team

fix(lcopilot): align results status, sanctions score, amendment mapping and date normalization
  apps/api/app/rules/extractors.py
  apps/api/app/services/sanctions_lcopilot.py
  apps/api/app/services/validation/amendment_generator.py
  apps/web/src/pages/ExporterResults.tsx
  docs/CTO_BUG_PACKET_8e2114e5.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

fix(lcopilot): P1 data integrity - canonical document status source-of-truth
  apps/web/src/__tests__/dataIntegrityGuards.test.ts
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(lcopilot): unify document status source across summary overview and documents
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/components/lcopilot/SummaryStrip.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(api): unify document status contract between docs and summary payload
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/option_e_document_status_contract_test.py
Owners: @backend-team, @security-team, @qa-team

feat(day1): enforce fail-closed DB rules with provenance and ruleset hygiene migration
  apps/api/alembic/versions/20260227_day1_p0_failclosed_ruleset_hygiene.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validator.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
  docs/BANK_GRADE_4DAY_WARPLAN.md
  docs/BANK_GRADE_READINESS_CHECKLIST_V1.md
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team, @documentation-team

feat(day2): lock Option-E canonical contract and mapper drift guards
  apps/api/app/services/extraction/structured_lc_builder.py
  apps/api/tests/option_e_document_status_contract_test.py
  apps/web/src/__tests__/resultsMapper.test.ts
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team

fix(web): guard BankVerdictCard against missing issue_summary/action_items
  apps/web/src/pages/exporter/results/BankVerdictCard.tsx
Owners: @frontend-team

fix(api): keep fail-closed for primary ruleset and tolerate missing supplements
  apps/api/app/services/validator.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
Owners: @backend-team, @security-team, @qa-team

refactor(validator): phase A extract rules loader and provenance with parity tests
  apps/api/VALIDATOR_DECOMPOSITION_PHASEA.md
  apps/api/app/services/validator.py
  apps/api/app/services/validator_rules_loader.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

refactor(validator): phase B extract rule executor with semantic parity tests
  apps/api/VALIDATOR_DECOMPOSITION_PHASEA.md
  apps/api/app/services/validator.py
  apps/api/app/services/validator_rule_executor.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

refactor(validator): phase C extract supplement router and verdict builder
  apps/api/VALIDATOR_DECOMPOSITION_PHASEA.md
  apps/api/app/services/validator.py
  apps/api/app/services/validator_rule_executor.py
  apps/api/app/services/validator_supplement_router.py
  apps/api/app/services/validator_verdict_builder.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

refactor(validator): phase D extract audit writer and finalize decomposition
  apps/api/VALIDATOR_DECOMPOSITION_PHASEA.md
  apps/api/app/services/validator.py
  apps/api/app/services/validator_audit_writer.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
Owners: @documentation-team, @backend-team, @security-team, @qa-team

fix(api): fallback icc rulesets to global jurisdiction when country-specific missing
  apps/api/app/services/validator_rules_loader.py
Owners: @backend-team, @security-team

fix(api): handle icc global fallback on missing-ruleset exceptions in loader
  apps/api/app/services/validator_rules_loader.py
Owners: @backend-team, @security-team

fix(api): robust icc jurisdiction fallback and preserve extracted docs in blocked responses
  apps/api/app/routers/validate.py
  apps/api/app/services/validator_rules_loader.py
Owners: @backend-team, @security-team

fix(api): resolve icc rulesets with built-in global jurisdiction fallback
  apps/api/app/services/rules_service.py
Owners: @backend-team, @security-team

fix(api): recover primary rules when document-type filtered fetch returns empty
  apps/api/app/services/validator_rules_loader.py
  apps/api/tests/day1_p0_failclosed_provenance_test.py
Owners: @backend-team, @security-team, @qa-team

feat(day3): add local end-to-end day3 automation pipeline
  README.md
  package.json
  tools/day3_pipeline/README_DAY3_AUTOPILOT.md
  tools/day3_pipeline/bootstrap_day3.py
  tools/day3_pipeline/day3_pipeline_core.py
  tools/day3_pipeline/discover_day3.py
  tools/day3_pipeline/metrics_day3.py
  tools/day3_pipeline/preprocess_day3.py
  tools/day3_pipeline/run_batch_day3.py
  tools/day3_pipeline/run_day3.ps1
  tools/day3_pipeline/run_day3_pipeline.py
  tools/day3_pipeline/synthesize_day3.py
Owners: @documentation-team, @admin-team

fix(day3): align batch runner request schema, verdict parsing, metrics, and smoke mode
  tools/day3_pipeline/day3_pipeline_core.py
  tools/day3_pipeline/run_batch_day3.py
  tools/day3_pipeline/run_day3_pipeline.py
Owners: @admin-team
