Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Phase 3/6 + 3/7: DraftLcActions + SupplierDocActions components
  apps/web/src/pages/importer/actions/DraftLcActions.tsx
  apps/web/src/pages/importer/actions/NotifySupplierDialog.tsx
  apps/web/src/pages/importer/actions/SupplierDocActions.tsx
Owners: @frontend-team

Phase 3/8: wire moment-aware action slots into ImportResults
  apps/web/src/pages/ImportResults.tsx
Owners: @frontend-team

Phase 4/1: slim ExporterSidebar to 4 items
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/lib/exporter/exporterSections.ts
Owners: @frontend-team

Phase 4/2: rewrite ImporterSidebar to the 5-item minimum
  apps/web/src/components/importer/ImporterSidebar.tsx
Owners: @frontend-team

Phase 4/3: invalidate dashboard queries on validate + resume success
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

Phase 4/4: rewrite ImporterDashboardV2 to the shared skeleton
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Phase 4/5: exporter dashboard — useQuery + View-all link
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

Phase 4/6: redirect /importer-analytics to the dashboard
  apps/web/src/App.tsx
Owners: @frontend-team

Capture importer-parity spec + phase plans + session notes
  .gitignore
  IMPORTER_RESUME_PROMPT.md
  NEXT_SESSION_PROMPT.md
  docs/superpowers/plans/2026-04-21-phase-1-shared-extraction.md
  docs/superpowers/plans/2026-04-21-phase-2-importer-flows.md
  docs/superpowers/plans/2026-04-21-phase-3-importer-actions.md
  docs/superpowers/plans/2026-04-21-phase-4-shell-wireup.md
  docs/superpowers/specs/2026-04-21-importer-parity-design.md
  scripts/RULHUB_STATUS_NOTE.md
  scripts/RULHUB_STATUS_NOTE_2.md
  scripts/rulhub_probe_sources.py
Owners: @admin-team, @documentation-team

Fix insurance_doc.issuer_type vocab to match RulHub UCP600-28 enum
  apps/api/app/routers/validation/validation_execution.py
  scripts/rulhub_probe.py
Owners: @backend-team, @security-team, @admin-team

Fix importer UX: sidebar on moment pages, action-verb labels, drop dashboard Start New
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/importer/ImporterValidationPage.tsx
Owners: @frontend-team

Add policy_number to probe insurance_doc — unblocks EXTRANEOUS-INSURANCE
  scripts/rulhub_probe.py
Owners: @admin-team

Add /health/db-schema check + move alembic to preDeployCommand
  apps/api/app/routes/health.py
  render.yaml
Owners: @backend-team, @security-team, @admin-team

Update NEXT_SESSION_PROMPT with 2026-04-22 shipped state
  NEXT_SESSION_PROMPT.md
Owners: @documentation-team

NEXT_SESSION_PROMPT: note preDeployCommand fix landed in 07f449a8
  NEXT_SESSION_PROMPT.md
Owners: @documentation-team

Onboarding refactor Day 1: backend schema + /onboarding/complete
  ONBOARDING_REFACTOR_RESUME.md
  apps/api/alembic/versions/20260423_add_company_onboarding_fields.py
  apps/api/app/models.py
  apps/api/app/models/__init__.py
  apps/api/app/models/company.py
  apps/api/app/routers/onboarding.py
  apps/api/app/schemas/onboarding.py
  apps/api/app/services/onboarding_service.py
  packages/shared-types/src/api.ts
Owners: @documentation-team, @backend-team, @database-team, @dba-team, @security-team, @admin-team

Onboarding refactor Day 2: rewrite wizard as 3-question form
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/api/onboarding.ts
  apps/web/src/components/onboarding/OnboardingProvider.tsx
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/lib/lcopilot/routing.ts
Owners: @frontend-team

Onboarding refactor Day 3: workspace switcher + retire combined/enterprise dashboards
  apps/web/src/App.tsx
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/components/combined/CombinedTasks.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/lcopilot/ExporterDashboardLayout.tsx
  apps/web/src/components/lcopilot/WorkspaceSwitcher.tsx
  apps/web/src/lib/lcopilot/activeWorkspace.ts
  apps/web/src/lib/lcopilot/routing.ts
  apps/web/src/pages/CombinedDashboard.tsx
  apps/web/src/pages/EnterpriseDashboard.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Onboarding refactor Day 4: agency dashboard + tier-gated group overview
  apps/api/app/routers/agency.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/lcopilot/EnterpriseGroupLink.tsx
  apps/web/src/components/lcopilot/ExporterDashboardLayout.tsx
  apps/web/src/lib/lcopilot/activeWorkspace.ts
  apps/web/src/lib/lcopilot/routing.ts
  apps/web/src/lib/lcopilot/tier.ts
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
  apps/web/src/pages/lcopilot/GroupOverview.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(alembic): use TEXT[] not VARCHAR[] for business_activities
  apps/api/alembic/versions/20260423_add_company_onboarding_fields.py
  apps/api/app/models/company.py
Owners: @backend-team, @database-team, @dba-team, @security-team

docs: file Register.tsx wizard alignment as Day 2 follow-up
  REGISTER_WIZARD_ALIGNMENT.md
Owners: @documentation-team

Align Register.tsx wizard with Day 2 onboarding shape
  REGISTER_WIZARD_ALIGNMENT.md
  apps/web/src/pages/Register.tsx
Owners: @documentation-team, @frontend-team

Sort activities by canonical priority before persisting
  apps/api/app/services/onboarding_service.py
  apps/web/src/__tests__/onboarding-scenario-matrix.test.ts
  apps/web/src/api/onboarding.ts
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/lib/lcopilot/activities.ts
  apps/web/src/pages/Register.tsx
Owners: @backend-team, @security-team, @frontend-team

cleanup: drop ImporterAnalytics dangling import + fix onboarding type re-export
  apps/web/src/App.tsx
  apps/web/src/__tests__/onboarding-scenario-matrix.test.ts
  apps/web/src/api/onboarding.ts
Owners: @frontend-team

fix: Agent signups land on wrong dashboard + onboarding status auto-completes
  apps/api/app/routers/onboarding.py
  apps/web/src/pages/Register.tsx
Owners: @backend-team, @security-team, @frontend-team

chore: delete orphaned ImporterAnalytics.tsx + api/importer.ts
  apps/web/src/api/importer.ts
  apps/web/src/pages/ImporterAnalytics.tsx
Owners: @frontend-team

docs: onboarding refactor handoff + end-of-session continuity
  ONBOARDING_HANDOFF_2026_04_23.md
Owners: @documentation-team

Phase 1: route /auth/register through axios + explicit CSRF prefetch
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

Phase 2: scope onboarding to exporter+importer for launch, rip placeholders
  apps/api/app/models/company.py
  apps/api/app/routers/agency.py
  apps/api/app/services/onboarding_service.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/__tests__/onboarding-scenario-matrix.test.ts
  apps/web/src/components/lcopilot/EnterpriseGroupLink.tsx
  apps/web/src/components/lcopilot/ExporterDashboardLayout.tsx
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/lib/lcopilot/activeWorkspace.ts
  apps/web/src/lib/lcopilot/activities.ts
  apps/web/src/lib/lcopilot/routing.ts
  apps/web/src/lib/lcopilot/tier.ts
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
  apps/web/src/pages/lcopilot/GroupOverview.tsx
Owners: @backend-team, @security-team, @frontend-team

Phase 3a: fall back to Company.country for RulHub jurisdiction
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Revert "Phase 2: scope onboarding to exporter+importer for launch, rip placeholders"
  apps/api/app/models/company.py
  apps/api/app/routers/agency.py
  apps/api/app/services/onboarding_service.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/__tests__/onboarding-scenario-matrix.test.ts
  apps/web/src/components/lcopilot/EnterpriseGroupLink.tsx
  apps/web/src/components/lcopilot/ExporterDashboardLayout.tsx
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/lib/lcopilot/activeWorkspace.ts
  apps/web/src/lib/lcopilot/activities.ts
  apps/web/src/lib/lcopilot/routing.ts
  apps/web/src/lib/lcopilot/tier.ts
  apps/web/src/pages/ImporterDashboardV2.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/lcopilot/AgencyDashboard.tsx
  apps/web/src/pages/lcopilot/GroupOverview.tsx
Owners: @backend-team, @security-team, @frontend-team

docs: Path A product build plan + 13-week execution plan (signed off)
  EXECUTION_PLAN_PATH_A_2026_04_25.md
  PRODUCT_BUILD_PLAN_2026_04_25.md
Owners: @documentation-team

Phase A1 (part 1): LC lifecycle state machine
  apps/api/alembic/versions/20260425_add_lc_lifecycle.py
  apps/api/app/models.py
  apps/api/app/models/lc_lifecycle.py
  apps/api/app/routers/lc_lifecycle.py
  apps/api/app/services/lc_lifecycle.py
  apps/api/main.py
  apps/api/tests/test_lc_lifecycle.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team

docs: SESSION_RESUME continuity prompt at 75% context handoff
  SESSION_RESUME.md
Owners: @documentation-team

docs: A1.2 integration audit findings — re-shape the bulk plan
  SESSION_RESUME.md
Owners: @documentation-team

Phase A1 (part 2): Bulk LC validation infra
  SESSION_RESUME.md
  apps/api/alembic/versions/20260426_add_validation_session_bulk_link.py
  apps/api/app/models.py
  apps/api/app/models/bulk_jobs.py
  apps/api/app/routers/bulk_validate.py
  apps/api/app/services/bulk_progress_broker.py
  apps/api/app/services/bulk_validate_processor.py
  apps/api/main.py
  apps/api/tests/test_bulk_validate.py
  apps/api/tests/test_lc_lifecycle.py
  apps/web/src/App.tsx
  apps/web/src/lib/lcopilot/featureFlags.ts
  apps/web/src/pages/lcopilot/BulkValidateTest.tsx
  scripts/smoke_bulk_validate.sh
Owners: @documentation-team, @backend-team, @database-team, @dba-team, @security-team, @qa-team, @frontend-team, @admin-team

docs: stamp SESSION_RESUME with A1.2 commit hash
  SESSION_RESUME.md
Owners: @documentation-team

fix(bulk): correct lifecycle target + result-summary key paths
  apps/api/app/services/bulk_validate_processor.py
  apps/api/tests/test_bulk_validate.py
Owners: @backend-team, @security-team, @qa-team

docs(smoke): replace UTF-8 emoji with ASCII for Windows cp1252
  scripts/smoke_bulk_validate.sh
Owners: @admin-team

Phase A2 (backend): Discrepancy resolution workflow + re-papering loop
  SESSION_RESUME.md
  apps/api/alembic/versions/20260427_add_discrepancy_workflow.py
  apps/api/app/models.py
  apps/api/app/models/discrepancy_workflow.py
  apps/api/app/routers/discrepancy_workflow.py
  apps/api/app/services/discrepancy_workflow.py
  apps/api/main.py
  apps/api/tests/test_discrepancy_workflow.py
Owners: @documentation-team, @backend-team, @database-team, @dba-team, @security-team, @qa-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
