Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

fix(v2): Use basic validation only to prevent 2000+ false positives
  apps/api/app/v2/validation/engine.py
Owners: @backend-team, @security-team

fix(v1): Disable full rule execution to restore V1 to working state
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(v2): Wire V2 results display to ExporterResults
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(v2): Use sessionStorage marker for V2 detection in embedded mode
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(v2): Normalize snake_case to camelCase in V2 response
  apps/web/src/hooks/use-lcopilot-v2.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

fix(v2): Replace require() with static import for ValidationResultsV2
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(v1): Add LC expiry check (CROSSDOC-LC-001)
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(v1): Enhance ExporterIssueCard with V2 bank-grade features
  apps/web/src/components/exporter/ExporterIssueCard.tsx
Owners: @frontend-team

chore: Remove V2 pipeline entirely - continuing with enhanced V1
  apps/api/app/v2/__init__.py
  apps/api/app/v2/core/__init__.py
  apps/api/app/v2/core/config.py
  apps/api/app/v2/core/types.py
  apps/api/app/v2/extraction/__init__.py
  apps/api/app/v2/extraction/intake.py
  apps/api/app/v2/extraction/smart_extractor.py
  apps/api/app/v2/preprocessing/__init__.py
  apps/api/app/v2/preprocessing/pipeline.py
  apps/api/app/v2/routers/__init__.py
  apps/api/app/v2/routers/validate.py
  apps/api/app/v2/validation/__init__.py
  apps/api/app/v2/validation/citations.py
  apps/api/app/v2/validation/engine.py
  apps/api/app/v2/validation/verdict.py
  apps/api/main.py
  apps/web/src/components/v2/IssueCardV2.tsx
  apps/web/src/components/v2/ValidationResultsV2.tsx
  apps/web/src/components/v2/VerdictBannerV2.tsx
  apps/web/src/components/v2/index.ts
  apps/web/src/config/features-v2.ts
  apps/web/src/hooks/use-lcopilot-v2.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterResults.tsx
  packages/shared-types/src/index.ts
  packages/shared-types/src/lcopilot-v2.ts
Owners: @backend-team, @security-team, @frontend-team, @devops-team, @admin-team

fix(ux): Wire real data to Importer and Combined dashboards
  apps/web/src/pages/CombinedDashboard.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

fix(ux): Remove ALL mock data from tools - wire to real APIs
  apps/web/src/pages/CombinedDashboard.tsx
  apps/web/src/pages/tools/sanctions/SanctionsCertificates.tsx
  apps/web/src/pages/tools/sanctions/SanctionsHistory.tsx
  apps/web/src/pages/tools/sanctions/SanctionsWatchlist.tsx
  apps/web/src/pages/tools/tracking/ContainerTrackPage.tsx
  apps/web/src/pages/tools/tracking/TrackingDashboard.tsx
  apps/web/src/pages/tools/tracking/TrackingOverview.tsx
  apps/web/src/pages/tools/tracking/VesselTrackPage.tsx
Owners: @frontend-team

refactor(code-quality): Priority 1 cleanup - Remove debug logs & extract magic numbers
  apps/api/app/config/__init__.py
  apps/api/app/config/thresholds.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/logger.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(api): Rename config/ to constants/ to avoid shadowing app/config.py
  apps/api/app/constants/__init__.py
  apps/api/app/constants/thresholds.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

refactor(api): Extract validation utilities into modular files - Priority 2 Step 1
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/__init__.py
  apps/api/app/routers/validation/document_builder.py
  apps/api/app/routers/validation/issue_resolver.py
  apps/api/app/routers/validation/response_builder.py
  apps/api/app/routers/validation/utilities.py
Owners: @backend-team, @security-team

refactor(web): Extract ExporterResults sub-components - Priority 2 Step 2
  apps/web/src/pages/exporter/results/AmendmentCard.tsx
  apps/web/src/pages/exporter/results/BankProfileBadge.tsx
  apps/web/src/pages/exporter/results/BankVerdictCard.tsx
  apps/web/src/pages/exporter/results/OCRConfidenceWarning.tsx
  apps/web/src/pages/exporter/results/SubmissionHistoryCard.tsx
  apps/web/src/pages/exporter/results/index.ts
Owners: @frontend-team

refactor(web): Create shared dashboard utilities - Priority 2 Step 3
  apps/web/src/components/dashboard/DashboardLoading.tsx
  apps/web/src/components/dashboard/DashboardStatCards.tsx
  apps/web/src/components/dashboard/RecentValidationsCard.tsx
  apps/web/src/components/dashboard/index.ts
  apps/web/src/components/dashboard/useDashboardBase.ts
  apps/web/src/components/dashboard/utils.ts
Owners: @frontend-team

test(web): Add unit tests for Priority 2 components - Priority 3
  apps/web/src/__tests__/logger.test.ts
  apps/web/src/components/dashboard/__tests__/utils.test.ts
  apps/web/src/components/dashboard/utils.ts
  apps/web/src/pages/exporter/results/__tests__/BankVerdictCard.test.tsx
Owners: @frontend-team

fix(dashboards): Remove mock data fallbacks and wire real data - P0 Fixes
  apps/web/src/pages/ExporterAnalytics.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/ImporterAnalytics.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

feat(validation): Enhance amendment generation for discrepancies
  apps/api/app/services/validation/amendment_generator.py
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/BankProfileBadge.tsx
  apps/web/src/types/lcopilot.ts
Owners: @backend-team, @security-team, @frontend-team

refactor(dashboard): Remove ImporterDashboard and calculate average processing time
  apps/web/src/App.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/ImporterDashboard.tsx
Owners: @frontend-team

feat(validation): Enhance issue descriptions with compliance references
  apps/api/app/constants/compliance_references.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/issue_engine.py
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
Owners: @backend-team, @security-team, @frontend-team

refactor(validation): Replace compliance reference imports with new service methods
  apps/api/app/constants/compliance_references.py
  apps/api/app/routers/validate.py
  apps/api/app/services/rules_service.py
  apps/api/app/services/validation/issue_engine.py
Owners: @backend-team, @security-team

refactor(exporter): Extract and reorganize components from ExporterResults
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

refactor(exporter): Extract utilities and components from ExporterResults
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/index.ts
  apps/web/src/pages/exporter/results/utils.ts
Owners: @frontend-team

refactor(exporter): Integrate tab components into ExporterResults
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/tabs/AnalyticsTab.tsx
  apps/web/src/pages/exporter/results/tabs/HistoryTab.tsx
  apps/web/src/pages/exporter/results/tabs/IssuesTab.tsx
  apps/web/src/pages/exporter/results/tabs/index.ts
Owners: @frontend-team

feat(validation): Enhance date extraction with legacy fallback support
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(validation): Implement schema-first validation for LCopilot responses
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/types/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @frontend-team, @admin-team

refactor(featureFlags): Consolidate feature flag management into a unified service
  apps/web/src/config/exporterFeatureFlags.ts
  apps/web/src/config/featureFlagService.ts
  apps/web/src/config/featureFlags.ts
  apps/web/src/config/importerFeatureFlags.ts
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team, @devops-team, @security-team

refactor(featureFlags): Update resetFeatureFlags to handle specific domain defaults
  apps/web/src/config/featureFlagService.ts
Owners: @frontend-team, @devops-team, @security-team

feat(validation): Add timing telemetry to validate_doc function
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validation): Add timing telemetry to useValidate and useResults hooks
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

feat(validation): Add additional checkpoints for timing telemetry in validate_doc function
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(caching): Enhance AI and OCR caches with Redis support and in-memory fallback
  apps/api/app/cache/ai_cache.py
  apps/api/app/cache/ocr_cache.py
  apps/api/app/routers/validate.py
  apps/api/app/services/rules_service.py
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ImportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(tests): Add Playwright end-to-end testing scripts to package.json
  apps/web/package.json
  apps/web/playwright.smoke.config.ts
  apps/web/tests/e2e/lcopilot/exporter-validation.spec.ts
  apps/web/tests/e2e/lcopilot/importer-validation.spec.ts
  apps/web/tests/e2e/smoke.spec.ts
Owners: @frontend-team, @security-team, @qa-team

chore(dependencies): Upgrade Playwright to version 1.57.0 in package.json and package-lock.json
  apps/web/package.json
  apps/web/tests/tsconfig.json
  package-lock.json
Owners: @frontend-team, @security-team, @qa-team, @admin-team

feat(ocr): Enhance OCR processing with increased timeout and concurrency settings
  apps/api/app/config.py
  apps/api/app/routers/documents.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat(validation): Implement document set validation and analytics for UCP600 compliance
  apps/api/app/config.py
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/crossdoc_validator.py
Owners: @backend-team, @security-team

feat(validation): Enhance LC type detection with AI integration and dashboard validation checks
  apps/api/app/routers/validate.py
  apps/api/app/services/document_intelligence/__init__.py
  apps/api/app/services/document_intelligence/ai_classifier.py
Owners: @backend-team, @security-team

feat(validation): Implement early blocking for missing Letter of Credit in document validation
  apps/api/app/routers/validate.py
  apps/web/src/components/validation/BlockedUploadModal.tsx
  apps/web/src/components/validation/index.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(upload): Enhance document upload with auto-detection and expanded document types
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
