Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

Fix JSX syntax error: Add missing closing div tag in BankQuickStats component
  apps/web/src/components/bank/BankQuickStats.tsx
Owners: @frontend-team

Fix TypeScript errors in ImporterDashboardV2: remove duplicate useNavigate, add billing sections to Section type, fix UsageStats properties, fix useInvoices status type
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

Fix useAuth import path: change from @/hooks/useAuth to @/hooks/use-auth
  apps/web/src/pages/BillingInvoicesPage.tsx
  apps/web/src/pages/BillingOverviewPage.tsx
Owners: @frontend-team

Fix BillingInvoicesPage: remove RoleType import, fix useInvoice call to use single argument, use string literal for role check
  apps/web/src/pages/BillingInvoicesPage.tsx
Owners: @frontend-team

Fix all billing components: correct useAuth import path, remove RoleType imports, fix enum usage, stub missing useGovernance hooks
  apps/web/src/components/billing/BillingNav.tsx
  apps/web/src/components/billing/bank/BankComplianceView.tsx
  apps/web/src/components/billing/governance/GovernancePanel.tsx
  apps/web/src/components/billing/monitoring/MonitoringPanel.tsx
  apps/web/src/components/billing/notifications/NotificationsPanel.tsx
Owners: @frontend-team, @billing-team, @financial-team

Fix GovernancePanel stubs: add mutateAsync and accept arguments in mutate functions
  apps/web/src/components/billing/governance/GovernancePanel.tsx
Owners: @frontend-team, @billing-team, @financial-team

Remove unused useInvoices import from ResultsTable.tsx
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Fix ResultsTable: replace ReceiptText (not in lucide-react) with Receipt icon
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Fix all ReceiptText imports: replace with Receipt icon (ReceiptText doesn't exist in lucide-react)
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
Owners: @frontend-team

Consolidate lucide-react imports in ResultsTable.tsx
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Restore missing imports in ResultsTable.tsx
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Restore missing interface declaration in ResultsTable.tsx
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

Fix ExporterDashboardV2: remove duplicate imports, fix useInvoices call (single status), fix usageStats property access
  apps/web/src/pages/ExporterDashboardV2.tsx
Owners: @frontend-team

Fix billing page: add fallback data when API unavailable, improve error handling, fix type errors
  apps/web/src/hooks/useBilling.ts
  apps/web/src/pages/BillingOverviewPage.tsx
Owners: @frontend-team

Fix billing API: add automatic mock fallback for all endpoints, remove error screen when using mock data
  apps/web/src/api/billing.ts
  apps/web/src/pages/BillingOverviewPage.tsx
Owners: @frontend-team

Fix BankQuickStats: use quota_used/quota_limit instead of used/limit, fix useInvoices call to use single status
  apps/web/src/components/bank/BankQuickStats.tsx
Owners: @frontend-team

Fix billing tabs navigation in Exporter, Importer, and Bank dashboards - add Usage tab and proper tab change handlers
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/BillingInvoicesPage.tsx
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/pages/BillingUsagePage.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

feat: differentiate Bank billing dashboard from SME billing
  apps/web/src/api/billing.ts
  apps/web/src/components/billing/BillingNav.tsx
  apps/web/src/components/billing/ContractCard.tsx
  apps/web/src/components/billing/InvoicesTable.tsx
  apps/web/src/components/billing/UsageTable.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/BillingAllocationsPage.tsx
  apps/web/src/pages/BillingInvoicesPage.tsx
  apps/web/src/pages/BillingOverviewPage.tsx
  apps/web/src/pages/BillingUsagePage.tsx
  apps/web/src/types/billing.ts
Owners: @frontend-team, @billing-team, @financial-team

feat: enhance dashboards with new AI tools and components
  apps/web/src/components/bank/HealthLatencyBanner.tsx
  apps/web/src/components/bank/ResultsTable.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
  apps/web/src/components/security/MFAEnforcement.tsx
  apps/web/src/components/security/SessionTimeout.tsx
  apps/web/src/components/shared/InAppTutorials.tsx
  apps/web/src/components/shared/SavedViewsManager.tsx
  apps/web/src/components/sme/AIAssistance.tsx
  apps/web/src/components/sme/ContentLibrary.tsx
  apps/web/src/components/sme/ShipmentTimeline.tsx
  apps/web/src/lib/personalization.ts
  apps/web/src/lib/savedViews.ts
  apps/web/src/main.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImportResults.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

feat: Add remaining P2 features for SME dashboards - AI Assistance, Content Library, and Shipment Timeline
  apps/web/src/components/sme/ContentLibrary.tsx
Owners: @frontend-team

fix: Change conditional Card rendering from ternary to && operator in ContentLibrary
  apps/web/src/components/sme/ContentLibrary.tsx
Owners: @frontend-team

fix: Use ternary operator for conditional Card rendering in ContentLibrary
  apps/web/src/components/sme/ContentLibrary.tsx
Owners: @frontend-team

fix: Change conditional Card rendering from && to ternary operators in StatGrid functions
  apps/web/src/pages/ExporterDashboardV2.tsx
  apps/web/src/pages/ImporterDashboardV2.tsx
Owners: @frontend-team

fix: Move LCResultDetailModal outside Card component in ResultsTable
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

fix: Wrap Card and LCResultDetailModal in fragment in ResultsTable
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

fix: Use React.Fragment instead of shorthand fragment syntax in ResultsTable
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

fix: Fix indentation in ResultsTable return statement
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

fix: Wrap Card and modal in div instead of React.Fragment in ResultsTable
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

fix: Add missing closing div tag for flex container in ResultsTable
  apps/web/src/components/bank/ResultsTable.tsx
Owners: @frontend-team

fix: Replace effectiveTimeoutMinutes with timeoutMinutes in SessionTimeout dependency array
  apps/web/src/components/security/SessionTimeout.tsx
Owners: @frontend-team

fix: Show HealthLatencyBanner only on dashboard tab in BankDashboardV2
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

refactor: Separate Billing & Finance into its own sidebar group in Exporter and Importer dashboards
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/importer/ImporterSidebar.tsx
Owners: @frontend-team

feat: Add AI & Tools section to Bank Dashboard with AI Assistance (discrepancy explanations, letter generation, document summarization, translation)
  apps/web/src/components/bank/AIAssistance.tsx
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

refactor: Reorganize Bank Dashboard sidebar into logical sections (Main Navigation, Analytics & Reporting, Operations, Billing & Finance, AI & Tools, Settings & Help)
  apps/web/src/components/bank/BankSidebar.tsx
Owners: @frontend-team

feat: Complete System AI Integration for LC Checking
  apps/api/app/config.py
  apps/api/app/core/prompt_library.py
  apps/api/app/routers/validate.py
  apps/api/app/routes/ai.py
  apps/api/app/services/ai_usage_tracker.py
  apps/api/app/services/llm_assist.py
  apps/api/app/services/llm_provider.py
  apps/api/app/services/text_guard.py
  apps/api/app/services/validator.py
  apps/web/src/components/ai/AIAmendmentFlow.tsx
  apps/web/src/components/ai/AISummaryPanel.tsx
  migrations/env.py
Owners: @backend-team, @security-team, @frontend-team, @admin-team

feat: Add bank user management and policy enforcement
  apps/api/alembic/versions/20250121_add_bank_policy_overlays.py
  apps/api/app/models.py
  apps/api/app/models/bank_policy.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/bank_policy.py
  apps/api/app/routers/bank_users.py
  apps/api/app/routers/validate.py
  apps/api/app/schemas/user.py
  apps/api/app/services/validator.py
  apps/api/main.py
  apps/web/src/api/bank.ts
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/bank/BankUsersPage.tsx
  apps/web/src/pages/bank/PolicySurface.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix: Update BankDashboardV2 to include useNavigate and useAuth hooks
  apps/web/src/pages/BankDashboardV2.tsx
Owners: @frontend-team

feat: Add mock bank users and fallback mechanism for user listing API
  apps/web/src/api/bank.ts
Owners: @frontend-team

fix: Add useAuth import to BankUsersPage and add mock bank users
  apps/web/src/pages/bank/BankUsersPage.tsx
Owners: @frontend-team

feat: Add Bank Dashboard login with predefined credentials
  apps/web/src/App.tsx
  apps/web/src/components/bank/BankSidebar.tsx
  apps/web/src/lib/bank/auth.tsx
  apps/web/src/pages/BankDashboardV2.tsx
  apps/web/src/pages/bank/BankLogin.tsx
Owners: @frontend-team
