Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix: correct indentation error in validate.py line 1362 - Fix IndentationError that was causing deployment failures by removing extra indentation from logger.log statement
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Fix: Add missing _normalize_issue_severity function in validate.py
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Fix React error #310: Move all hooks before conditional returns
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat: implement semantic_check operator for AI-powered cross-document comparisons
  apps/api/app/config.py
  apps/api/app/services/ai_usage_tracker.py
  apps/api/app/services/crossdoc.py
  apps/api/app/services/semantic_compare.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

feat: add AI and semantic AI configuration options to environment files
  apps/api/env.example
  docs/APPLY_AI_USAGE_MIGRATION.md
  docs/RENDER_PRODUCTION_ENV.md
  docs/SEMANTIC_AI_DEPLOYMENT.md
  docs/SEMANTIC_AI_ENV_QUICK_REF.md
Owners: @backend-team, @security-team, @documentation-team

fix: repair broken Alembic migration chain
  apps/api/alembic/versions/20250916_170000_add_billing_system.py
  apps/api/alembic/versions/20250916_170100_seed_default_companies.py
  apps/api/alembic/versions/20251116_add_ai_usage_and_events.py
Owners: @backend-team, @database-team, @dba-team

feat: enhance ExporterResults tests and update mock data structure
  apps/api/scripts/create_ai_tables_direct.sql
  apps/api/scripts/fix_migration_and_create_ai_tables.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/fixtures/lcopilot.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

feat: update shared types and schemas for structured results
  apps/api/tests/test_validate_endpoint.py
  apps/web/package.json
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/types/lcopilot.ts
  apps/web/vitest.config.ts
  package-lock.json
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @qa-team, @frontend-team, @security-team, @admin-team

feat: implement async processing pipeline for document validation
  apps/api/app/database.py
  apps/api/app/models/integrations.py
  apps/api/app/reports/generator.py
  apps/api/app/seeds/seed_versions.py
  apps/api/app/services/llm_assist.py
  apps/api/async_tasks/__init__.py
  apps/api/async_tasks/api_integration.py
  apps/api/async_tasks/job_status.py
  apps/api/async_tasks/lambda_worker.py
  apps/api/async_tasks/queue_producer.py
  apps/api/async_tasks/rate_limiter.py
  apps/api/docs/REGRESSION_TEST_PLAN.md
  apps/api/sme_portal/app.py
  apps/api/tests/async/test_async_pipeline.py
  apps/api/tests/security/test_s3_encryption.py
Owners: @backend-team, @security-team, @documentation-team, @qa-team

fix: update ExporterResults to handle AI summary and loading states
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/fixtures/lcopilot.ts
  apps/web/src/components/exporter/AISummaryCard.tsx
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
Owners: @frontend-team

refactor: enhance database table creation logic and update Alembic migration identifiers
  apps/api/alembic/versions/20250917_add_integration_models.py
  apps/api/alembic/versions/20250917_add_preferred_language_to_company.py
  apps/api/alembic/versions/20251029_add_rules_registry.py
  apps/api/docs/REGRESSION_TEST_PLAN.md
  apps/api/main.py
  apps/api/pytest.ini
  apps/api/scripts/bootstrap_test_db.py
  apps/web/package.json
  apps/web/src/pages/ExporterResults.tsx
  package-lock.json
Owners: @backend-team, @database-team, @dba-team, @documentation-team, @security-team, @frontend-team, @admin-team

fix: add --legacy-peer-deps to Vercel install command
  apps/web/vercel.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
Owners: @frontend-team

fix: set NODE_PATH for Vercel build to resolve workspace dependencies
  apps/web/vercel.json
Owners: @frontend-team

fix: add tailwindcss to root package.json for Vercel build
  apps/web/vercel.json
  package.json
Owners: @frontend-team, @admin-team

fix: add react-is dependency for recharts
  apps/web/package.json
Owners: @frontend-team, @security-team

fix: update package dependencies and configurations for improved build stability
  .npmrc
  apps/web/.npmrc
  apps/web/package.json
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/fixtures/lcopilot.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/test/setup.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
  package-lock.json
  packages/shared-types/package.json
Owners: @admin-team, @frontend-team, @security-team

fix: use file path for @shared/types in Vercel build
  apps/web/package.json
Owners: @frontend-team, @security-team

fix: remove duplicate line in validate_document_async
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

fix: resolve alembic ConfigParser interpolation error and logger undefined error
  apps/api/main.py
Owners: @backend-team, @security-team

fix: resolve successCount initialization error in ExporterResults
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: prevent AI usage truncation and exporter crash
  apps/api/alembic/versions/20251118_extend_ai_cost_precision.py
  apps/api/app/services/ai_usage_tracker.py
  apps/api/app/services/llm_assist.py
  apps/api/migrations/versions/20251118_extend_ai_cost_precision.py
  apps/api/scripts/create_ai_tables_direct.sql
  apps/api/scripts/fix_migration_and_create_ai_tables.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @frontend-team

fix: update subproject commit to indicate dirty state
  apps/api/find_missing_down_refs.py
  apps/api/list_heads.py
Owners: @backend-team, @security-team

fix: merge Alembic heads for phase 7 migrations
  apps/api/alembic/versions/20250121_add_bank_policy_overlays.py
  apps/api/alembic/versions/20251119_merge_phase7_heads.py
  apps/api/list_heads.py
  apps/api/migrations/versions/20251119_merge_phase7_heads.py
Owners: @backend-team, @database-team, @dba-team, @security-team

fix: make migrations idempotent - check for existing enums/tables before creating
  apps/api/alembic/versions/20250115_add_rulesets_and_audit_tables.py
  apps/api/alembic/versions/20251118_extend_ai_cost_precision.py
Owners: @backend-team, @database-team, @dba-team

fix: make company profile migration idempotent - check for existing enums/tables
  apps/api/alembic/versions/20250120_add_company_profile.py
Owners: @backend-team, @database-team, @dba-team

fix: make bank policy overlays migration idempotent - check for existing tables
  apps/api/alembic/versions/20250121_add_bank_policy_overlays.py
Owners: @backend-team, @database-team, @dba-team

fix: make bank policy application events migration idempotent
  apps/api/alembic/versions/20250122_add_bank_policy_application_events.py
Owners: @backend-team, @database-team, @dba-team

fix: wrap additional computed variables in useMemo to prevent initialization order errors
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix: set default theme to light for consistent appearance across deployments
  apps/web/src/providers/ThemeProvider.tsx
Owners: @frontend-team

fix: ensure light theme default is deployed to production
  apps/web/src/providers/ThemeProvider.tsx
Owners: @frontend-team

chore: update package-lock.json for shared types path, enable sourcemaps in Vite config, and refactor NotificationPreferences and ExporterResults components for improved readability
  apps/web/src/components/bank/NotificationPreferences.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/vite.config.ts
  package-lock.json
  tmp_index.js
Owners: @frontend-team, @admin-team

refactor: clean up ExporterResults component by removing redundant useMemo calculations and improving performance insights
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat: enhance document field extraction for Letters of Credit by adding support for applicant and beneficiary details, goods description, and incoterms
  apps/api/app/routers/validate.py
  apps/api/app/rules/extractors.py
Owners: @backend-team, @security-team

feat: improve document field extraction by preventing duplicate entries for LC details and enhancing MT700 block parsing
  apps/api/app/rules/extractors.py
Owners: @backend-team, @security-team

feat: enhance shipment context resolution by extracting port of loading and discharge details, and increase AI timeout for improved response handling
  apps/api/app/routers/validate.py
  apps/api/app/services/ai_crossdoc_engine.py
  apps/api/app/services/lc_classifier.py
  apps/api/app/services/llm_provider.py
Owners: @backend-team, @security-team

feat: enhance LC type detection by adding auto-detection logic for export and import flows, and improve issue reporting with priority and reference fields
  apps/api/app/core/lc_types.py
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate.py
  apps/api/app/rules/extractors.py
  apps/api/app/services/ai_crossdoc_engine.py
  apps/api/app/services/lc_classifier.py
  apps/api/app/services/semantic_compare.py
  apps/web/src/lib/exporter/resultsMapper.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @frontend-team, @admin-team

feat: refactor issue handling by integrating AI insights and priority management, while removing deprecated AI summary components
  apps/api/app/routers/validate.py
  apps/api/app/rules/extractors.py
  apps/api/app/services/ai_issue_rewriter.py
  apps/api/app/services/validator.py
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/__tests__/fixtures/lcopilot.ts
  apps/web/src/components/exporter/AISummaryCard.tsx
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
Owners: @backend-team, @security-team, @frontend-team

feat: enhance document context building for Letters of Credit by adding ISO 20022 parsing support and improving format detection logic
  apps/api/app/routers/validate.py
  apps/api/app/rules/extractors.py
  apps/api/app/services/lc_classifier.py
Owners: @backend-team, @security-team

feat: enhance AI issue rewriter functionality by introducing environment-based enabling and credential checks, and add informational rule filtering in the validator
  apps/api/app/services/ai_issue_rewriter.py
  apps/api/app/services/validator.py
Owners: @backend-team, @security-team

fix: update AI issue rewriter to handle JSON output more robustly and prevent empty responses
  apps/api/app/services/ai_issue_rewriter.py
Owners: @backend-team, @security-team
