Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix(pricing): lock to USD across all surfaces — Stripe handles local-currency at checkout
  apps/web/src/App.tsx
  apps/web/src/components/sections/trdr-pricing-section.tsx
  apps/web/src/components/tools/ToolPricingSection.tsx
  apps/web/src/hooks/use-currency.ts
  apps/web/src/lib/pricing.ts
  apps/web/src/pages/Index.tsx
  apps/web/src/pages/LcopilotLanding.tsx
  apps/web/src/pages/Pricing.tsx
  apps/web/src/pages/PricingPage.tsx
  apps/web/src/pages/WelcomePage.tsx
  apps/web/src/pages/hub/HubBilling.tsx
  apps/web/src/pages/hub/HubHome.tsx
  apps/web/src/pages/hub/HubLayout.tsx
  apps/web/src/pages/hub/HubSettings.tsx
  apps/web/src/pages/hub/HubTeam.tsx
  apps/web/src/pages/hub/HubUsage.tsx
  apps/web/src/pages/hub/index.ts
Owners: @frontend-team

fix(health): /health/ready now actually returns 503 when unhealthy
  apps/api/app/routes/health.py
Owners: @backend-team, @security-team

chore(web): correct stale /hub comment — page files were deleted in 607a1705
  apps/web/src/App.tsx
Owners: @frontend-team

feat(storage): migrate object storage AWS S3 -> Supabase Storage (S3 protocol)
  apps/api/app/core/residency/storage_backends.py
  apps/api/app/ocr/deepseek_ocr.py
  apps/api/app/ocr/google_documentai.py
  apps/api/app/reports/generator.py
  apps/api/app/routers/importer.py
  apps/api/app/routers/validate.py
  apps/api/app/routes/health.py
  apps/api/app/services.py
  apps/api/app/services/bulk_processor.py
  apps/api/app/services/document_storage.py
  apps/api/app/services/export_service.py
  apps/api/app/utils/s3_client.py
Owners: @backend-team, @security-team

feat(monitoring): 15-min prod health probe on /health/ready via GitHub Actions
  .github/workflows/prod-health-monitor.yml
Owners: @devops-team

fix(rulhub): align payload with validate-request v1.0.0 — re-lights the deterministic layer
  apps/api/app/routers/validation/validation_execution.py
  scripts/rulhub_probe.py
Owners: @backend-team, @security-team, @admin-team

feat(validation): authority-matrix items 1+2 — veto asymmetry + disagreement log
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/tiered_validation.py
  apps/api/tests/authority_matrix_veto_test.py
Owners: @backend-team, @security-team, @qa-team

feat(validation): authority-matrix item 3 — reconciliation pass, deterministic wins arithmetic/dates
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/authority_matrix.py
  apps/api/tests/authority_matrix_reconcile_test.py
Owners: @backend-team, @security-team, @qa-team

feat(validation): authority-matrix items 4+5 — presence screen + semantic routing
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/authority_matrix.py
  apps/api/tests/authority_matrix_screens_test.py
Owners: @backend-team, @security-team, @qa-team

fix(validation): presence screen — raw-extraction lookup union + doc-scoped aliases
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/authority_matrix.py
  apps/api/tests/authority_matrix_screens_test.py
Owners: @backend-team, @security-team, @qa-team

fix(validation): insurance rebuild no longer drops raw extracted fields
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_insurance_rule_context_test.py
Owners: @backend-team, @security-team, @qa-team

chore(validation): diagnostic — expose resolved insurance keys + per-doc RulHub field names
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

fix(validation): insurance rebuild — real insurance docs outrank beneficiary certs
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_insurance_rule_context_test.py
Owners: @backend-team, @security-team, @qa-team

docs: SESSION_RESUME — 2026-06-12 outage recovery + AWS exit + authority matrix complete
  SESSION_RESUME.md
Owners: @documentation-team

chore(validation): strip the insurance-chimera diagnostic from _db_rules_debug
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

fix(validation): incoterm code-prefix relation in the semantic screen
  apps/api/app/services/validation/authority_matrix.py
  apps/api/tests/authority_matrix_screens_test.py
Owners: @backend-team, @security-team, @qa-team

fix(validation): parse conditional_logic message values + numeric-equivalence demotion
  apps/api/app/services/validation/authority_matrix.py
  apps/api/tests/authority_matrix_screens_test.py
Owners: @backend-team, @security-team, @qa-team

fix(validation): raise examiner timeout 45→90s + lower bulk concurrency 4→2
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/bulk_validate_processor.py
Owners: @backend-team, @security-team

feat(lcopilot): concierge review-queue backend spine (Phase 1)
  apps/api/alembic/versions/20260703_add_report_review.py
  apps/api/app/config.py
  apps/api/app/models.py
  apps/api/app/models/__init__.py
  apps/api/app/models/report_review.py
  apps/api/app/models/user_notifications.py
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/lcopilot_review.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/services/lc_report.py
  apps/api/app/services/report_review.py
  apps/api/app/services/rulhub_client.py
  apps/api/main.py
Owners: @backend-team, @database-team, @dba-team, @security-team

docs: SESSION_RESUME — Phase 0 done + Phase 1 backend spine (2026-07-03)
  SESSION_RESUME.md
Owners: @documentation-team

feat(lcopilot): concierge frontend — review queue UI, status page, landing rewrite (Phase 1)
  apps/api/app/routers/lcopilot_review.py
  apps/web/public/samples/lcopilot-sample-report.html
  apps/web/src/App.tsx
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/pricing.ts
  apps/web/src/pages/Index.tsx
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
  apps/web/src/pages/lcopilot/ReviewStatusPage.tsx
  scripts/gen_sample_report.py
Owners: @backend-team, @security-team, @frontend-team, @admin-team

fix(landing): commit the sample report PDF — gitignore *.pdf exception
  .gitignore
  apps/web/public/samples/lcopilot-sample-report.pdf
Owners: @admin-team, @frontend-team

feat(validation): prefer RulHub /v1/compliance/check bundle over /v1/validate/set
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rulhub_client.py
Owners: @backend-team, @security-team

docs: SESSION_RESUME — Phase 1 code complete (frontend + compliance wire)
  SESSION_RESUME.md
Owners: @documentation-team

feat(sanctions): wire screener to RulHub /v1/screen/sanctions, fail-closed (Phase 2)
  apps/api/app/routers/sanctions.py
  apps/api/app/services/rulhub_client.py
  apps/api/app/services/sanctions_rulhub.py
  apps/api/tests/sanctions_rulhub_mapping_test.py
  apps/web/src/pages/tools/sanctions/SanctionsBatchUpload.tsx
  apps/web/src/pages/tools/sanctions/SanctionsScreenGoods.tsx
  apps/web/src/pages/tools/sanctions/SanctionsScreenParty.tsx
  apps/web/src/pages/tools/sanctions/SanctionsScreenVessel.tsx
  apps/web/src/pages/tools/sanctions/screeningShared.tsx
  scripts/sanctions_sentinel_e2e.py
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

docs: SESSION_RESUME — Phases 1+2 code complete
  SESSION_RESUME.md
Owners: @documentation-team

feat(readiness): CBAM + EUDR readiness tools — scope check, paid intake, m13 engine (Phase 3)
  apps/api/app/models.py
  apps/api/app/routers/lcopilot_review.py
  apps/api/app/routers/readiness.py
  apps/api/app/services/lc_report.py
  apps/api/app/services/readiness.py
  apps/api/app/services/rulhub_client.py
  apps/api/main.py
  apps/api/tests/readiness_scope_test.py
  apps/web/src/App.tsx
  apps/web/src/lib/pricing.ts
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
  apps/web/src/pages/lcopilot/ReviewStatusPage.tsx
  apps/web/src/pages/tools/readiness/CbamReadinessLanding.tsx
  apps/web/src/pages/tools/readiness/EudrReadinessLanding.tsx
  apps/web/src/pages/tools/readiness/ReadinessApply.tsx
  apps/web/src/pages/tools/readiness/ReadinessLanding.tsx
  apps/web/src/pages/tools/readiness/useSeoMeta.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team

docs: SESSION_RESUME — Phase 3 code complete (CBAM/EUDR readiness tools)
  SESSION_RESUME.md
Owners: @documentation-team

feat(launch): park unfit tools + service-first homepage rebuild (Phase 4)
  apps/web/src/App.tsx
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/components/handhold/FirstSessionCoachmark.tsx
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/sections/cta-section.tsx
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/features-section.tsx
  apps/web/src/components/sections/partners-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/technology-section.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/components/validation/IssueCard.tsx
  apps/web/src/pages/CheckPage.tsx
  apps/web/src/pages/ImportLCUpload.tsx
  apps/web/src/pages/ParkedToolPage.tsx
  apps/web/src/pages/Support.tsx
  apps/web/src/pages/TechnologyPage.tsx
  apps/web/src/pages/ToolsPage.tsx
  apps/web/src/pages/exporter/results/BankProfileBadge.tsx
  apps/web/src/pages/landing/LandingPage.tsx
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
Owners: @frontend-team

docs: SESSION_RESUME — Phase 4 code complete (Phases 1-4 done)
  SESSION_RESUME.md
Owners: @documentation-team

fix(models): disambiguate User/Report relationships + drop dangling organizations FKs
  apps/api/app/models.py
  apps/api/app/models/admin.py
Owners: @backend-team, @security-team

feat(payments): Stripe Checkout at intake — pay first, then the queue (Phase 5)
  LAUNCH-NOTES.md
  apps/api/.env.example
  apps/api/alembic/versions/20260703_add_payment_fields.py
  apps/api/app/config.py
  apps/api/app/routers/billing.py
  apps/api/app/routers/checkout.py
  apps/api/app/routers/lcopilot_review.py
  apps/api/app/routers/readiness.py
  apps/api/app/routers/validation/result_finalization.py
  apps/api/app/services/checkout.py
  apps/api/main.py
  apps/api/tests/checkout_webhook_test.py
  apps/web/src/pages/lcopilot/ReviewStatusPage.tsx
  apps/web/src/pages/tools/readiness/ReadinessApply.tsx
  scripts/stripe_setup_products.py
Owners: @documentation-team, @backend-team, @security-team, @database-team, @dba-team, @qa-team, @frontend-team, @admin-team

docs: SESSION_RESUME — all build phases 0-5 code complete
  SESSION_RESUME.md
Owners: @documentation-team

fix(launch): honesty sweep on auth screens — last stragglers of the old framing
  apps/web/src/api/client.ts
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

fix(sanctions): honest landing rewrite + dashboard sweep — old build caught up with Phase 2
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
  apps/web/src/pages/tools/sanctions/SanctionsAPIAccess.tsx
  apps/web/src/pages/tools/sanctions/SanctionsOverview.tsx
Owners: @frontend-team

feat(landings): align LCopilot + Sanctions to the readiness split-hero design; cap anonymous screening
  apps/api/app/routers/sanctions.py
  apps/web/src/pages/Index.tsx
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(intake): concierge signup fast-path + live-fetched rule count
  apps/api/app/routers/public_stats.py
  apps/api/main.py
  apps/web/src/App.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/lib/useRuleCount.ts
  apps/web/src/pages/Index.tsx
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/TechnologyPage.tsx
  apps/web/src/pages/lcopilot/StartReview.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(intake): concierge signups skip the wizard; header Get Started → concierge entry
  apps/web/src/components/layout/trdr-header.tsx
  apps/web/src/pages/Register.tsx
Owners: @frontend-team

feat(operator): offline-payment path — mark-paid, awaiting-payment view, admin uploads skip the hold
  apps/api/app/routers/lcopilot_review.py
  apps/api/app/routers/validation/result_finalization.py
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(api): mount sanctions under /api + CSRF-exempt public screening/scope POSTs
  apps/api/main.py
Owners: @backend-team, @security-team
