Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Fix CSP: Use specific avatar.vercel.sh domain (CSP doesn't support wildcards)
  apps/api/app/middleware/security_headers.py
Owners: @backend-team, @security-team

Fix: Switch rules admin from mock to real API service
  apps/web/src/lib/admin/services/api/apiAdminService.ts
  apps/web/src/lib/admin/services/index.ts
Owners: @frontend-team

Fix CSRF token handling for cross-origin requests
  apps/web/src/api/client.ts
  apps/web/vercel.json
Owners: @frontend-team

Fix admin authentication - dual login for Supabase and backend JWT
  apps/web/src/api/client.ts
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix admin authentication token priority and getSettings
  apps/web/src/api/client.ts
  apps/web/src/lib/admin/services/api/apiAdminService.ts
Owners: @frontend-team

Add Auth0 authentication support via Supabase
  apps/web/src/hooks/use-auth.tsx
  docs/AUTH0_SETUP.md
Owners: @frontend-team, @documentation-team

Update Auth0 config with actual Supabase and Auth0 values
  docs/AUTH0_QUICK_CONFIG.md
  docs/AUTH0_SETUP.md
Owners: @documentation-team

Implement direct Auth0 authentication (bypass Supabase)
  apps/api/app/routers/auth.py
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/auth0.ts
  apps/web/src/pages/auth/Callback.tsx
  docs/AUTH0_SETUP.md
  package-lock.json
Owners: @backend-team, @security-team, @frontend-team, @documentation-team, @admin-team

Make authenticate_external_token public for Auth0 endpoint
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

Update Auth0 quick config for direct integration
  docs/AUTH0_QUICK_CONFIG.md
Owners: @documentation-team

Simplify Auth0 integration to use Supabase Third Party Auth
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/auth0.ts
  apps/web/src/pages/auth/Callback.tsx
  docs/AUTH0_QUICK_CONFIG.md
  docs/AUTH0_SETUP.md
Owners: @frontend-team, @documentation-team

Remove @auth0/auth0-spa-js - not needed with Supabase Third Party Auth
  apps/web/package.json
  package-lock.json
Owners: @frontend-team, @security-team, @admin-team

Add comprehensive user onboarding flow audit
  docs/ONBOARDING_AUDIT.md
Owners: @documentation-team

Add comprehensive user type flow design and gap analysis
  docs/USER_TYPE_FLOWS.md
Owners: @documentation-team

Update user type flows with decisions and implementation plan
  docs/USER_TYPE_FLOWS.md
  docs/USER_TYPE_IMPLEMENTATION_PLAN.md
Owners: @documentation-team

Update user type flows: correct company sizes, add combined dashboard requirement, clarify FI decision
  docs/USER_TYPE_FLOWS.md
  docs/USER_TYPE_IMPLEMENTATION_PLAN.md
Owners: @documentation-team

Finalize user type flows: remove FI option, recommend unified dashboard for SME
  docs/USER_TYPE_FLOWS.md
  docs/USER_TYPE_IMPLEMENTATION_PLAN.md
Owners: @documentation-team

Add backend user registration during authentication flow
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Add backend user creation and handle Supabase signup_disabled error
  apps/web/src/hooks/use-auth.tsx
  docs/SUPABASE_SIGNUP_ENABLE.md
Owners: @frontend-team, @documentation-team

Implement Auth0-only registration with post-signup onboarding wizard
  apps/web/src/App.tsx
  apps/web/src/components/onboarding/OnboardingWizard.tsx
  apps/web/src/pages/Onboarding.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/auth/Callback.tsx
Owners: @frontend-team

Fix: Switch to direct Auth0 integration (bypass Supabase OAuth)
  apps/web/package.json
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/auth0.ts
  apps/web/src/pages/auth/Callback.tsx
  docs/AUTH0_QUICK_CONFIG.md
  docs/AUTH0_SETUP.md
  package-lock.json
Owners: @frontend-team, @security-team, @documentation-team, @admin-team

Fix: Handle Auth0 organization requirement error
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/auth0.ts
  apps/web/src/pages/auth/Callback.tsx
  docs/AUTH0_ORGANIZATION_FIX.md
  docs/AUTH0_QUICK_CONFIG.md
Owners: @frontend-team, @documentation-team

Fix: Improve Auth0 configuration and error handling for 400 errors
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/auth0.ts
  docs/AUTH0_400_ERROR_FIX.md
Owners: @frontend-team, @documentation-team

Remove Auth0 integration and restore Supabase email/password registration
  apps/api/app/routers/auth.py
  apps/web/package.json
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/auth0.ts
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/auth/Callback.tsx
  docs/AUTH0_400_ERROR_FIX.md
  docs/AUTH0_ORGANIZATION_FIX.md
  docs/AUTH0_QUICK_CONFIG.md
  docs/AUTH0_SETUP.md
  package-lock.json
Owners: @backend-team, @security-team, @frontend-team, @documentation-team, @admin-team

Remove Google OAuth authentication - email/password only
  apps/web/src/api/auth.ts
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/pages/Login.tsx
Owners: @frontend-team

Fix: Save company info during registration (not just onboarding)
  apps/api/app/routers/auth.py
  apps/api/app/schemas/user.py
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/pages/Register.tsx
  docs/USER_DATABASE_STRUCTURE.md
Owners: @backend-team, @security-team, @frontend-team, @documentation-team

Fix: Resolve 500 error in /auth/me endpoint and support Supabase users
  apps/api/app/core/security.py
  apps/api/app/models.py
  apps/api/app/routers/auth.py
  docs/DATABASE_MIGRATION_HASHED_PASSWORD_NULLABLE.md
Owners: @backend-team, @security-team, @documentation-team

Fix: Handle database constraint for NULL passwords (pre-migration fallback)
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

Fix: Correct exception handling logic in _upsert_external_user
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

CRITICAL FIX: Correct function name typo preventing Supabase authentication
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
Owners: @backend-team, @security-team

Fix: Improve Supabase authentication with better error handling and auto-detection
  apps/api/app/config.py
  apps/api/app/core/security.py
  apps/api/app/routers/auth.py
  docs/SUPABASE_ENV_VARS.md
Owners: @backend-team, @security-team, @documentation-team

Fix: Remove HS256 attempt - Supabase uses ES256 via JWKS only
  apps/api/app/core/security.py
  docs/SUPABASE_ENV_VARS.md
Owners: @backend-team, @security-team, @documentation-team

Fix: Remove duplicate import, add backend timeout debugging guide
  apps/api/app/core/security.py
  docs/BACKEND_TIMEOUT_DEBUG.md
  docs/SUPABASE_ENV_VARS.md
Owners: @backend-team, @security-team, @documentation-team

Fix: Ensure API base URL falls back to production backend
  apps/web/src/api/client.ts
Owners: @frontend-team

Fix: Stop axios interceptor from awaiting Supabase during /auth/me
  apps/web/src/api/client.ts
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Increase timeouts to prevent spurious sign-in/profile timeouts
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: wait for Supabase session before calling /auth/me
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Add debug logging to trace /auth/me request flow
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Add comprehensive logging to login flow to debug timeout issue
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

Fix: Wait for session instead of racing sign-in promise
  apps/web/src/hooks/use-auth.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
