Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Add second edge-case batch to gold corpus
  apps/api/tests/gold_corpus/documents/set_011_invoice_issuer_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_011_invoice_issuer_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_011_invoice_issuer_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_011_invoice_issuer_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_011_invoice_issuer_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_011_invoice_issuer_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_012_bl_shipper_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_012_bl_shipper_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_012_bl_shipper_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_012_bl_shipper_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_012_bl_shipper_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_012_bl_shipper_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_013_bl_consignee_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_013_bl_consignee_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_013_bl_consignee_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_013_bl_consignee_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_013_bl_consignee_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_013_bl_consignee_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_014_insurance_currency_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_014_insurance_currency_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_014_insurance_currency_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_014_insurance_currency_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_014_insurance_currency_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_014_insurance_currency_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_011_invoice_issuer_mismatch.json
  apps/api/tests/gold_corpus/expected/set_012_bl_shipper_mismatch.json
  apps/api/tests/gold_corpus/expected/set_013_bl_consignee_mismatch.json
  apps/api/tests/gold_corpus/expected/set_014_insurance_currency_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Add gold corpus release gate to workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  apps/api/tests/workflow_release_gate_continuity_test.py
Owners: @devops-team, @admin-team, @backend-team, @qa-team

Add 47A identifier edge cases to gold corpus
  apps/api/tests/gold_corpus/documents/set_015_po_number_missing/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_015_po_number_missing/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_015_po_number_missing/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_015_po_number_missing/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_015_po_number_missing/LC.pdf
  apps/api/tests/gold_corpus/documents/set_015_po_number_missing/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_016_exporter_bin_missing/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_016_exporter_bin_missing/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_016_exporter_bin_missing/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_016_exporter_bin_missing/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_016_exporter_bin_missing/LC.pdf
  apps/api/tests/gold_corpus/documents/set_016_exporter_bin_missing/Packing_List.pdf
  apps/api/tests/gold_corpus/documents/set_017_exporter_tin_missing/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_017_exporter_tin_missing/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_017_exporter_tin_missing/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_017_exporter_tin_missing/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_017_exporter_tin_missing/LC.pdf
  apps/api/tests/gold_corpus/documents/set_017_exporter_tin_missing/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_015_po_number_missing.json
  apps/api/tests/gold_corpus/expected/set_016_exporter_bin_missing.json
  apps/api/tests/gold_corpus/expected/set_017_exporter_tin_missing.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Align 47A corpus verdicts with live results
  apps/api/tests/gold_corpus/expected/set_015_po_number_missing.json
  apps/api/tests/gold_corpus/expected/set_016_exporter_bin_missing.json
  apps/api/tests/gold_corpus/expected/set_017_exporter_tin_missing.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Add invoice exact wording edge case to gold corpus
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Track set 018 gold corpus fixtures
  apps/api/tests/gold_corpus/documents/set_018_invoice_exact_wording_missing/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_018_invoice_exact_wording_missing/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_018_invoice_exact_wording_missing/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_018_invoice_exact_wording_missing/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_018_invoice_exact_wording_missing/LC.pdf
  apps/api/tests/gold_corpus/documents/set_018_invoice_exact_wording_missing/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_018_invoice_exact_wording_missing.json
Owners: @backend-team, @qa-team

Project insurance originals into validation context
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/insurance_facts.py
  apps/api/tests/insurance_facts_test.py
  apps/api/tests/insurance_validation_context_test.py
Owners: @backend-team, @security-team, @qa-team

Load full rulesets before document scoping
  apps/api/app/services/validator.py
  apps/api/tests/validator_ruleset_query_scope_test.py
Owners: @backend-team, @security-team, @qa-team

Expose insurance rule aliases in validation payload
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_insurance_facts_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Fix applies-if rule evaluation indexing
  apps/api/app/services/rule_evaluator.py
  apps/api/tests/rule_evaluator_applies_if_runtime_test.py
Owners: @backend-team, @security-team, @qa-team

Rebuild insurance rule context from documents
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_insurance_facts_continuity_test.py
  apps/api/tests/validation_execution_insurance_rule_context_test.py
Owners: @backend-team, @security-team, @qa-team

Rebuild incomplete insurance aliases for rules
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_insurance_facts_continuity_test.py
  apps/api/tests/validation_execution_insurance_rule_context_test.py
Owners: @backend-team, @security-team, @qa-team

Fallback ICC rulesets to global jurisdiction
  apps/api/app/services/validator.py
  apps/api/tests/validator_ruleset_query_scope_test.py
Owners: @backend-team, @security-team, @qa-team

Prefer specific ICC letter rules over umbrella articles
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Bridge insurance originals issued alias from LC requirements
  apps/api/app/services/facts/document_facts.py
  apps/api/tests/insurance_validation_context_test.py
Owners: @backend-team, @security-team, @qa-team

Add staged ICC rule evaluator compatibility
  apps/api/app/services/rule_evaluator.py
  apps/api/app/services/validator.py
  apps/api/tests/rule_evaluator_lc_ops_compatibility_test.py
  apps/api/tests/validator_lc_ops_rule_path_compatibility_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Project staged rule metadata and tighten doc targeting
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rules_service.py
  apps/api/app/services/validator.py
  apps/api/tests/rules_service_rule_metadata_projection_test.py
  apps/api/tests/validator_lc_ops_rule_path_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Preserve staged runtime metadata during rules import
  apps/api/app/services/rules_importer.py
  apps/api/tests/rules_importer_metadata_bridge_test.py
Owners: @backend-team, @security-team, @qa-team

Treat staged lc_ops letter rules as discrepancy triggers
  apps/api/app/services/rule_evaluator.py
  apps/api/tests/rule_evaluator_lc_ops_compatibility_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Reject duplicate rule ids on rules upload
  apps/api/app/routers/rules_admin.py
  apps/api/app/services/rules_importer.py
  apps/api/tests/rules_admin_duplicate_rule_ids_test.py
  apps/api/tests/rules_importer_duplicate_payload_test.py
Owners: @backend-team, @security-team, @qa-team

Keep lc_ops insurance rules through package activation
  apps/api/app/services/validator.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
  apps/api/tests/validator_ruleset_query_scope_test.py
Owners: @backend-team, @security-team, @qa-team

Add DB rule watch breadcrumbs for live probes
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_db_rule_watch_test.py
Owners: @backend-team, @security-team, @qa-team

Fallback DB rule watch to global ICC rulesets
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_db_rule_watch_test.py
Owners: @backend-team, @security-team, @qa-team

Guard ruleset publish against empty runtime imports
  apps/api/app/routers/rules_admin.py
  apps/api/app/services/rules_importer.py
  apps/api/tests/rules_admin_import_guardrail_test.py
Owners: @backend-team, @security-team, @qa-team

Tighten ICC rule activation for package context
  apps/api/app/services/validator.py
  apps/api/tests/validator_lc_ops_rule_path_compatibility_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
  apps/api/tests/validator_requirements_graph_test.py
Owners: @backend-team, @security-team, @qa-team

Project LC aliases and hide passed DB rules
  apps/api/app/services/facts/bl_facts.py
  apps/api/app/services/facts/document_facts.py
  apps/api/app/services/facts/lc_facts.py
  apps/api/app/services/facts/normalization.py
  apps/api/app/services/validator.py
  apps/api/tests/bl_facts_test.py
  apps/api/tests/lc_facts_test.py
  apps/api/tests/lc_validation_context_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Project invoice aliases for staged UCP rules
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/document_facts.py
  apps/api/tests/invoice_validation_context_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Bridge staged UCP credit aliases and port matching
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/rule_evaluator.py
  apps/api/tests/rule_evaluator_lc_ops_compatibility_test.py
  apps/api/tests/validation_execution_db_rule_watch_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Suppress fallback ICC umbrellas when child rules exist
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validator.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Preserve DB rule metadata through issue conversion
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_db_issue_metadata_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Promote documentary contract findings into readiness
  apps/api/app/routers/validation/presentation_contract.py
  apps/api/tests/presentation_contract_continuity_test.py
Owners: @backend-team, @security-team, @qa-team

Lock persisted results contract parity
  apps/api/tests/test_jobs_public_results_payload_shape.py
Owners: @backend-team, @qa-team

Add Q28A insurance originals gold corpus case
  apps/api/tests/gold_corpus/documents/set_019_insurance_originals_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_019_insurance_originals_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_019_insurance_originals_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_019_insurance_originals_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_019_insurance_originals_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_019_insurance_originals_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_019_insurance_originals_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Add UCP600-20D gold corpus case
  apps/api/tests/gold_corpus/documents/set_020_bl_port_of_loading_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_020_bl_port_of_loading_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_020_bl_port_of_loading_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_020_bl_port_of_loading_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_020_bl_port_of_loading_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_020_bl_port_of_loading_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_020_bl_port_of_loading_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Suppress UCP600-20D duplicate live noise
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/gold_corpus/expected/set_020_bl_port_of_loading_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Promote UCP600-28D over legacy insurance mismatch
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/gold_corpus/expected/set_014_insurance_currency_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Add UCP600-18C gold corpus case
  apps/api/tests/gold_corpus/documents/set_021_invoice_currency_mismatch/Bill_of_Lading.pdf
  apps/api/tests/gold_corpus/documents/set_021_invoice_currency_mismatch/Certificate_of_Origin.pdf
  apps/api/tests/gold_corpus/documents/set_021_invoice_currency_mismatch/Insurance_Certificate.pdf
  apps/api/tests/gold_corpus/documents/set_021_invoice_currency_mismatch/Invoice.pdf
  apps/api/tests/gold_corpus/documents/set_021_invoice_currency_mismatch/LC.pdf
  apps/api/tests/gold_corpus/documents/set_021_invoice_currency_mismatch/Packing_List.pdf
  apps/api/tests/gold_corpus/expected/set_021_invoice_currency_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
Owners: @backend-team, @qa-team

Project LC transferability for staged UCP18A
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/facts/document_facts.py
  apps/api/tests/lc_validation_context_test.py
  apps/api/tests/validation_execution_db_rule_watch_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

Promote UCP600-18A over legacy invoice mismatch
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/gold_corpus/expected/set_011_invoice_issuer_mismatch.json
  apps/api/tests/gold_corpus/generate_synthetic.py
  apps/api/tests/gold_corpus_matrix_baseline_test.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Replace legacy ICC suppression map with overlap dedup
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validator.py
  apps/api/tests/validation_execution_icc_precedence_test.py
  apps/api/tests/validator_lc_ops_runtime_compatibility_test.py
  docs/architecture/exporter-freeze-ai-first-directive.md
Owners: @backend-team, @security-team, @qa-team, @documentation-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
