Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

feat(cutover): concierge queue ON by default + LLM defaults → GLM 5.2 (cost directive)
  apps/api/app/config.py
  apps/api/app/services/extraction/ai_first_extractor.py
  apps/api/app/services/extraction/ai_lc_extractor.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

fix(pipeline): survive client disconnects, close the concierge gate leak, route to status page
  apps/api/app/routers/jobs_public.py
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/result_finalization.py
  apps/web/src/components/lcopilot/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(findings): semantic dedup, severity calibration, evidence orientation, arithmetic guard
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/tests/semantic_dedup_test.py
Owners: @backend-team, @security-team, @qa-team

fix(concierge): review-step button says Submit for Review, honest toast copy
  apps/web/src/components/lcopilot/ExtractionReview.tsx
Owners: @frontend-team

feat(ux): status tracker lives inside the dashboard shell; kill inconsistent standalone pages
  apps/api/app/routers/validation/result_finalization.py
  apps/web/src/App.tsx
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/lcopilot/ReviewStatusPage.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(theme): results-page colors no longer vanish in light mode
  apps/web/src/components/lcopilot/results/tabs/DocumentsTab.tsx
  apps/web/src/components/lcopilot/results/tabs/FindingsTab.tsx
  apps/web/src/components/lcopilot/results/tabs/VerdictTab.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

fix(perf): run validation pipelines in a dedicated thread; revert 2-worker OOM band-aid
  apps/api/app/routers/validate_run.py
Owners: @backend-team, @security-team

fix(dashboard): 'View all' pointed at /reviews — a route that doesn't exist
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

fix(perf): sessions list no longer hydrates full validation payloads — dashboard feed was timing out
  apps/api/app/routers/sessions.py
Owners: @backend-team, @security-team

feat(review-queue): operator trust kit — source documents + AI-drafted annotations and summary note
  apps/api/app/routers/lcopilot_review.py
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
Owners: @backend-team, @security-team, @frontend-team

feat(review-queue): email intake — operator runs the engine on customer-emailed documents
  apps/api/app/routers/lcopilot_review.py
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(review-queue): AI draft returned empty — reasoning model ate the token budget
  apps/api/app/routers/lcopilot_review.py
Owners: @backend-team, @security-team

fix(admin): audit fixes — customer identity, dead Review button, parked scaffolding, palette, user chip
  apps/api/app/routers/lcopilot_review.py
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(review-queue): restyle operator surface to the product design language
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
Owners: @frontend-team

fix(intake): ISO LC amount dropped from the intake card — reader key mismatch
  apps/api/app/routers/validation/lc_intake.py
  apps/api/tests/lc_intake_summary_test.py
Owners: @backend-team, @security-team, @qa-team

fix(review-queue): uploaded documents were never stored — View 404'd on every job
  apps/api/app/routers/lcopilot_review.py
  apps/api/app/routers/validation/session_setup.py
  apps/web/src/pages/admin/sections/review/ReviewQueue.tsx
Owners: @backend-team, @security-team, @frontend-team

fix(intake): intake-only sessions rotted in status='processing' forever
  apps/api/app/routers/validation/session_setup.py
Owners: @backend-team, @security-team

docs: session handoff 2026-07-07 — verification checklist + working-style guide for next session
  SESSION_RESUME.md
Owners: @documentation-team

docs: define Proofline architecture
  docs/audits/2026-07-16-proofline-repository-audit.md
  docs/superpowers/specs/2026-07-16-proofline-design.md
Owners: @documentation-team

docs: plan Proofline internal alpha
  docs/superpowers/plans/2026-07-16-proofline-internal-alpha.md
Owners: @documentation-team

feat(proofline): add shared trade-case contracts
  apps/api/tests/proofline_contract_test.py
  apps/web/src/lib/proofline/__tests__/contracts.test.ts
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @qa-team, @frontend-team, @admin-team

feat(proofline): add trade-case persistence
  apps/api/alembic/versions/20260716_add_proofline_trade_cases.py
  apps/api/app/models/__init__.py
  apps/api/app/models/proofline.py
  apps/api/tests/proofline_models_test.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team

feat(proofline): enforce review lifecycle and decisions
  apps/api/alembic/versions/20260716_add_proofline_trade_cases.py
  apps/api/app/models/proofline.py
  apps/api/app/services/proofline/__init__.py
  apps/api/app/services/proofline/decisions.py
  apps/api/app/services/proofline/state.py
  apps/api/tests/proofline_decision_test.py
  apps/api/tests/proofline_state_test.py
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team

feat(proofline): add tenant-safe case APIs
  apps/api/app/repositories/__init__.py
  apps/api/app/repositories/proofline.py
  apps/api/app/routers/__init__.py
  apps/api/app/routers/proofline.py
  apps/api/app/schemas/proofline.py
  apps/api/main.py
  apps/api/tests/proofline_api_test.py
  apps/api/tests/proofline_tenant_isolation_test.py
Owners: @backend-team, @security-team, @qa-team

feat(proofline): route open-account trade clearance
  apps/api/app/services/proofline/applicability.py
  apps/api/app/services/proofline/open_account.py
  apps/api/tests/proofline_applicability_test.py
  apps/api/tests/proofline_open_account_test.py
Owners: @backend-team, @security-team, @qa-team

feat(proofline): version trade-case evidence
  apps/api/app/routers/proofline.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/proofline/documents.py
  apps/api/tests/proofline_documents_test.py
Owners: @backend-team, @security-team, @qa-team

feat(proofline): orchestrate reusable checks
  apps/api/app/integrations/proofline/__init__.py
  apps/api/app/integrations/proofline/base.py
  apps/api/app/integrations/proofline/open_account.py
  apps/api/app/services/proofline/findings.py
  apps/api/app/services/proofline/orchestrator.py
  apps/api/tests/proofline_findings_test.py
  apps/api/tests/proofline_orchestrator_test.py
Owners: @backend-team, @security-team, @qa-team

feat(proofline): add customer trade case workspace
  apps/api/app/repositories/proofline.py
  apps/api/app/routers/proofline.py
  apps/api/app/schemas/proofline.py
  apps/api/tests/proofline_api_test.py
  apps/web/src/App.tsx
  apps/web/src/api/client.ts
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/lib/proofline/presentation.ts
  apps/web/src/pages/ToolsPage.tsx
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  apps/web/src/pages/proofline/ProoflineCases.tsx
  apps/web/src/pages/proofline/ProoflineLanding.tsx
  apps/web/src/pages/proofline/ProoflineNewCase.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineCaseWorkspace.test.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineLanding.test.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineNewCase.test.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineToolPlacement.test.tsx
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

feat(proofline): add trade case intake
  apps/api/alembic/versions/20260716_add_proofline_document_session.py
  apps/api/app/models.py
  apps/api/app/models/proofline.py
  apps/api/app/repositories/proofline.py
  apps/api/app/routers/proofline.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/document_intelligence/__init__.py
  apps/api/app/services/proofline/uploads.py
  apps/api/tests/proofline_api_test.py
  apps/api/tests/proofline_models_test.py
  apps/api/tests/proofline_upload_test.py
  apps/web/src/components/proofline/ProoflineDocumentUpload.tsx
  apps/web/src/components/proofline/ProoflinePartyForm.tsx
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team, @frontend-team

feat(proofline): submit and orchestrate trade cases
  apps/api/app/integrations/proofline/__init__.py
  apps/api/app/integrations/proofline/document_review.py
  apps/api/app/integrations/proofline/lcopilot.py
  apps/api/app/integrations/proofline/registry.py
  apps/api/app/integrations/proofline/regulatory.py
  apps/api/app/integrations/proofline/rulhub.py
  apps/api/app/integrations/proofline/sanctions.py
  apps/api/app/routers/proofline.py
  apps/api/app/services/proofline/processing.py
  apps/api/tests/proofline_api_test.py
  apps/api/tests/proofline_processing_test.py
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineCaseWorkspace.test.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

feat(proofline): add analyst review workspace
  apps/api/app/routers/proofline_review.py
  apps/api/app/schemas/proofline_review.py
  apps/api/app/services/proofline/review.py
  apps/api/main.py
  apps/api/tests/proofline_review_test.py
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/pages/admin/AdminShell.tsx
  apps/web/src/pages/admin/sections/review/ProoflineReviewQueue.tsx
  apps/web/src/pages/admin/sections/review/__tests__/ProoflineReviewQueue.test.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team

feat(proofline): close customer remediation loop
  apps/api/app/routers/proofline.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/proofline/processing.py
  apps/api/app/services/proofline/remediation.py
  apps/api/tests/proofline_remediation_test.py
  apps/web/src/components/proofline/ProoflineRemediationResponse.tsx
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineCaseWorkspace.test.tsx
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

feat(proofline): add configurable case checkout
  apps/api/alembic/versions/20260716_add_proofline_pricing.py
  apps/api/app/config.py
  apps/api/app/models/__init__.py
  apps/api/app/models/proofline.py
  apps/api/app/routers/billing.py
  apps/api/app/routers/proofline.py
  apps/api/app/routers/proofline_billing.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/proofline/billing.py
  apps/api/main.py
  apps/api/tests/proofline_api_test.py
  apps/api/tests/proofline_billing_test.py
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/__tests__/contracts.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  apps/web/src/pages/proofline/ProoflineNewCase.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineCaseWorkspace.test.tsx
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @database-team, @dba-team, @security-team, @qa-team, @frontend-team, @admin-team

feat(proofline): upgrade completed LC reviews
  apps/api/app/routers/proofline_billing.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/proofline/upgrade.py
  apps/api/tests/proofline_upgrade_test.py
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/lcopilot/ReviewStatusPage.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

feat(proofline): generate verified clearance reports
  apps/api/app/routers/proofline.py
  apps/api/app/routers/proofline_review.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/proofline/reports.py
  apps/api/tests/proofline_api_test.py
  apps/api/tests/proofline_report_test.py
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @backend-team, @security-team, @qa-team, @frontend-team, @admin-team

feat(proofline): verify credentials and buyer policies
  apps/api/app/config.py
  apps/api/app/integrations/proofline/buyer_requirements.py
  apps/api/app/integrations/proofline/ein.py
  apps/api/app/integrations/proofline/registry.py
  apps/api/app/integrations/proofline/rulhub.py
  apps/api/app/routers/proofline.py
  apps/api/app/routers/proofline_billing.py
  apps/api/app/routers/proofline_review.py
  apps/api/app/schemas/proofline_review.py
  apps/api/app/services/ein_client.py
  apps/api/app/services/proofline/feature_flags.py
  apps/api/app/services/proofline/processing.py
  apps/api/tests/proofline_buyer_requirement_schema_test.py
  apps/api/tests/proofline_buyer_requirements_test.py
  apps/api/tests/proofline_ein_adapter_test.py
  apps/api/tests/proofline_feature_flag_test.py
  apps/api/tests/proofline_processing_test.py
  apps/api/tests/proofline_rulhub_adapter_test.py
  apps/web/src/App.tsx
  apps/web/src/components/proofline/ProoflinePartyForm.test.tsx
  apps/web/src/components/proofline/ProoflinePartyForm.tsx
  apps/web/src/lib/proofline/__tests__/featureFlags.test.ts
  apps/web/src/lib/proofline/featureFlags.ts
  apps/web/src/pages/ToolsPage.tsx
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineCaseWorkspace.test.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineEvidenceCapture.test.tsx
Owners: @backend-team, @security-team, @qa-team, @frontend-team

feat(proofline): add outcomes analytics and notifications
  .env.example
  apps/api/alembic/versions/20260716_add_proofline_outcomes.py
  apps/api/app/models/__init__.py
  apps/api/app/models/proofline.py
  apps/api/app/models/user_notifications.py
  apps/api/app/routers/proofline.py
  apps/api/app/routers/proofline_review.py
  apps/api/app/schemas/proofline.py
  apps/api/app/services/proofline/analytics.py
  apps/api/app/services/proofline/notifications.py
  apps/api/app/services/proofline/processing.py
  apps/api/tests/proofline_analytics_test.py
  apps/api/tests/proofline_api_test.py
  apps/api/tests/proofline_models_test.py
  apps/api/tests/proofline_notifications_test.py
  apps/web/.env.example
  apps/web/src/components/proofline/ProoflineOutcomeFeedback.test.tsx
  apps/web/src/components/proofline/ProoflineOutcomeFeedback.tsx
  apps/web/src/lib/proofline/__tests__/api.test.ts
  apps/web/src/lib/proofline/api.ts
  apps/web/src/pages/proofline/ProoflineCaseDetail.tsx
  apps/web/src/pages/proofline/__tests__/ProoflineNewCase.test.tsx
  docs/PROOFLINE_SETUP.md
  docs/audits/2026-07-16-proofline-repository-audit.md
  docs/superpowers/plans/2026-07-16-proofline-internal-alpha.md
  packages/shared-types/python/schemas.py
  packages/shared-types/src/api.ts
Owners: @devops-team, @security-team, @backend-team, @database-team, @dba-team, @qa-team, @frontend-team, @documentation-team, @admin-team

docs(memory): record Proofline implementation handoff
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Owners: @documentation-team

fix(proofline): resolve production schema forward reference
  apps/api/app/schemas/proofline.py
  apps/api/tests/proofline_schema_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team

fix(proofline): keep no-content route bodyless
  apps/api/app/routers/proofline.py
  apps/api/tests/proofline_schema_compatibility_test.py
Owners: @backend-team, @security-team, @qa-team
