Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team

fix: Improve AI validator - better LC parsing, robust regex fallback for inspection/beneficiary certs, B/L field requirements
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

Fix: Remove duplicate issues, fix empty Found/UCP fields
  apps/api/app/routers/validate.py
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/lib/exporter/resultsMapper.ts
Owners: @backend-team, @security-team, @frontend-team

fix: crossdoc issue cards now correctly read found field - fixes empty FOUND values in Issues tab
  apps/api/app/services/crossdoc.py
Owners: @backend-team, @security-team

fix: add UCP600/ISBP references back to issue cards
  apps/api/app/services/crossdoc.py
Owners: @backend-team, @security-team

fix: missing document issues no longer flag the LC document - improves document status accuracy
  apps/api/app/services/validation/ai_validator.py
Owners: @backend-team, @security-team

fix: Add Document Type label to file upload cards in Bank Dashboard
  apps/web/src/components/bank/BulkLCUpload.tsx
Owners: @frontend-team

fix: disable false positive extraction issues - only generate for CRITICAL fields
  apps/api/app/services/validation/issue_engine.py
Owners: @backend-team, @security-team

fix: Use pre-computed password hash for demo users to avoid bcrypt backend issues
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

fix: read discrepancyCount key from backend - fixes document verified/warning status mismatch
  apps/web/src/lib/exporter/resultsMapper.ts
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

feat: Implement bank submission verdict logic and UI component for displaying verdicts
  apps/api/app/routers/validate.py
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/crossdoc_validator.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

fix: Enhance AI validation suggestions and compliance scoring logic for better user guidance
  apps/api/app/services/validation/ai_validator.py
  apps/api/app/services/validation/compliance_scorer.py
Owners: @backend-team, @security-team

feat: Introduce new hybrid validation components including LLM requirement parser, party matcher, amendment generator, bank profiles, and confidence weighting
  apps/api/app/services/validation/__init__.py
  apps/api/app/services/validation/amendment_generator.py
  apps/api/app/services/validation/bank_profiles.py
  apps/api/app/services/validation/confidence_weighting.py
  apps/api/app/services/validation/llm_requirement_parser.py
  apps/api/app/services/validation/party_matcher.py
Owners: @backend-team, @security-team

feat: Integrate hybrid validation pipeline into main flow
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

feat: UI components for hybrid validation pipeline
  apps/web/src/components/exporter/ExporterIssueCard.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/types/lcopilot.ts
Owners: @frontend-team

feat: Add ISO20022 XML support for LC amendments
  apps/api/app/services/validation/amendment_generator.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Full ISO20022 support for LC uploads
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/iso20022_parser.py
  apps/api/app/services/extraction/smart_lc_extractor.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Electronic Bill of Lading (eBL) parser
  apps/api/app/services/extraction/__init__.py
  apps/api/app/services/extraction/ebl_parser.py
  apps/api/app/services/extraction/smart_bl_extractor.py
  apps/web/src/pages/ExporterResults.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Wire database rules to validation engine
  apps/api/app/routers/validate.py
  apps/api/app/rules/external/rule_loader.py
Owners: @backend-team, @security-team

refactor: Database-only rules, remove YAML fallback
  apps/api/app/rules/external/definitions/extraction_rules.yaml
  apps/api/app/rules/external/definitions/ucp600_core.yaml
  apps/api/app/rules/external/rule_loader.py
Owners: @backend-team, @security-team

feat: Add archive/delete rulesets + database-only rules
  apps/api/app/routers/rules_admin.py
  apps/web/src/lib/admin/services/api/apiAdminService.ts
  apps/web/src/lib/admin/types.ts
  apps/web/src/pages/admin/sections/rules/List.tsx
Owners: @backend-team, @security-team, @frontend-team

feat: Auto-normalize rules on upload - fix format issues automatically
  apps/api/app/routers/rules_admin.py
Owners: @backend-team, @security-team

fix: Update file validation to provide warnings for missing fields
  apps/web/src/pages/admin/sections/rules/Upload.tsx
Owners: @frontend-team

feat: Add SWIFT and ISO 20022 options to rulebook constants
  apps/web/src/pages/admin/sections/rules/constants.ts
Owners: @frontend-team

feat: Optimize rules import process by reducing database queries
  apps/api/app/services/rules_importer.py
  apps/web/src/api/client.ts
Owners: @backend-team, @security-team, @frontend-team

feat: Enhance rule import process with improved error handling and validation
  Data/_UPLOAD_GUIDE.md
Owners: @documentation-team

feat: Update upload guide and organize file structure
  Data/_UPLOAD_GUIDE.md
  Data/organize_rules.py
Owners: @documentation-team, @admin-team

feat: Revamp TRDR platform sections with updated content and new tools
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
  docs/product_specs/00_roadmap_summary.md
  docs/product_specs/01_sanctions_screener.md
  docs/product_specs/02_ebl_manager.md
  docs/product_specs/03_trade_finance_calculator.md
  docs/product_specs/04_swift_decoder.md
  docs/product_specs/05_lc_application_builder.md
  docs/product_specs/06_export_control_checker.md
  docs/product_specs/07_shipping_doc_generator.md
  docs/product_specs/08_bank_fee_comparator.md
  docs/product_specs/09_vat_duty_manager.md
  docs/product_specs/10_trade_analytics.md
  docs/product_specs/11_hs_code_calculator.md
  docs/product_specs/12_customsmate.md
  docs/product_specs/13_container_tracker.md
  docs/product_specs/14_counterparty_risk.md
  docs/product_specs/15_audit_trail_locker.md
Owners: @frontend-team, @documentation-team

feat: Update tools section icons for improved clarity
  apps/web/src/components/sections/tools-section.tsx
Owners: @frontend-team

feat: Revamp TRDR Hero Section with enhanced messaging and new components
  apps/web/src/components/sections/cta-section.tsx
  apps/web/src/components/sections/features-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/components/sections/trdr-testimonials-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
Owners: @frontend-team

feat: Refactor landing page to CargoKite-style design
  apps/web/src/components/layout/trdr-footer.tsx
  apps/web/src/components/layout/trdr-header.tsx
  apps/web/src/components/sections/cta-section.tsx
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/partners-section.tsx
  apps/web/src/components/sections/problems-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/technology-section.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
  apps/web/src/index.css
  apps/web/src/pages/landing/LandingPage.tsx
Owners: @frontend-team

feat: Revise Problems and Solutions sections for clarity and impact
  apps/web/src/components/sections/problems-section.tsx
  apps/web/src/components/sections/solution-section.tsx
  apps/web/src/components/sections/trdr-hero-section.tsx
Owners: @frontend-team

feat: Update sections for improved visual consistency and user engagement
  apps/web/src/components/sections/faq-section.tsx
  apps/web/src/components/sections/partners-section.tsx
  apps/web/src/components/sections/problems-section.tsx
  apps/web/src/components/sections/technology-section.tsx
  apps/web/src/components/sections/tools-section.tsx
  apps/web/src/components/sections/why-trdr-section.tsx
Owners: @frontend-team

feat: Revamp LcopilotLanding page for enhanced user experience and visual appeal
  apps/web/src/pages/LcopilotLanding.tsx
Owners: @frontend-team

feat: Refactor LCopilot page to match dark theme landing
  apps/web/src/pages/Index.tsx
Owners: @frontend-team

feat: Add new tool landing pages and enhance ToolsPage design
  apps/web/src/App.tsx
  apps/web/src/pages/ToolsPage.tsx
  apps/web/src/pages/tools/ComingSoonTool.tsx
  apps/web/src/pages/tools/HSCodeFinderLanding.tsx
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
Owners: @frontend-team

feat: Add full landing pages for all major tools - Sanctions Screener, HS Code Finder, Doc Generator, LC Builder, Container Tracker, Trade Analytics - with proper copy, features, pricing, FAQs
  apps/web/src/App.tsx
  apps/web/src/pages/tools/ContainerTrackerLanding.tsx
  apps/web/src/pages/tools/DocGeneratorLanding.tsx
  apps/web/src/pages/tools/HSCodeFinderLanding.tsx
  apps/web/src/pages/tools/LCBuilderLanding.tsx
  apps/web/src/pages/tools/SanctionsScreenerLanding.tsx
  apps/web/src/pages/tools/TradeAnalyticsLanding.tsx
Owners: @frontend-team

feat: Add full landing pages for all 14 tools with proper copy, features, pricing, FAQs
  apps/web/src/App.tsx
  apps/web/src/pages/tools/BankFeeComparatorLanding.tsx
  apps/web/src/pages/tools/CounterpartyRiskLanding.tsx
  apps/web/src/pages/tools/CustomsMateLanding.tsx
  apps/web/src/pages/tools/DualUseCheckerLanding.tsx
  apps/web/src/pages/tools/DutyCalculatorLanding.tsx
  apps/web/src/pages/tools/InsuranceQuoteLanding.tsx
  apps/web/src/pages/tools/RouteOptimizerLanding.tsx
  apps/web/src/pages/tools/TradeFinanceLanding.tsx
Owners: @frontend-team

fix: Change Sanctions Screener and HS Code Finder status to Coming Soon - only LCopilot is live
  apps/web/src/components/sections/tools-section.tsx
Owners: @frontend-team

feat: Redesign tool cards - square shape, taglines, descriptions, feature highlights with color-coded hover states
  apps/web/src/components/sections/tools-section.tsx
Owners: @frontend-team

feat: Complete redesign of LCopilot landing page - killer hero, before/after comparison, pricing, better testimonials, stronger CTAs
  apps/web/src/pages/Index.tsx
Owners: @frontend-team
