Repository ripclass/trdrhub.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @security-team, @billing-team, @compliance-team, @frontend-team, @devops-team, @infrastructure-team, @database-team, @qa-team, @documentation-team, @financial-team, @legal-team, @integration-team, @performance-team, @localization-team, @executive-team, @dba-team, @financial-controls-team, @ciso-team, @cco-team

Suppress empty ICC umbrella fallbacks when family rules exist
  apps/api/app/routers/validation/validation_execution.py
  apps/api/tests/validation_execution_icc_precedence_test.py
Owners: @backend-team, @security-team, @qa-team

Infer validation user type from authenticated role
  apps/api/app/routers/validation/session_setup.py
  apps/api/tests/session_setup_job_persistence_test.py
Owners: @backend-team, @security-team, @qa-team

Honor canonical pass truth in exporter checklist
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Fix exporter results finalizing handoff
  apps/web/src/__tests__/useCanonicalJobResult.test.tsx
  apps/web/src/hooks/use-lcopilot.ts
Owners: @frontend-team

Keep clean exporter customs state from stale checklist review
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Fix exporter submission audit action drift
  apps/api/app/models/audit_log.py
  apps/api/app/routers/exporter.py
  apps/api/tests/exporter_submission_route_test.py
Owners: @backend-team, @security-team, @qa-team

Harden auth guards, clean sidebar to 5 items, add RequireAuth
  CLAUDE.md
  apps/web/src/App.tsx
  apps/web/src/components/exporter/ExporterSidebar.tsx
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/components/lcopilot/RequireAuth.tsx
  apps/web/src/components/onboarding/OnboardingProvider.tsx
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/lib/lcopilot/routing.ts
Owners: @documentation-team, @frontend-team

Strip exporter dashboard to 5 reachable sections
  apps/web/src/pages/ExporterDashboard.tsx
Owners: @frontend-team

Convert exporter results to single scrollable report
  RESUME_HERE.md
  apps/web/src/__tests__/DocumentCard.test.tsx
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/components/lcopilot/SectionNav.tsx
  apps/web/src/pages/ExporterResults.tsx
  apps/web/src/pages/exporter/results/ExporterResultsReport.tsx
Owners: @documentation-team, @frontend-team

Stream real validation progress over SSE
  RESUME_HERE.md
  apps/api/app/routers/validate.py
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validate_stream.py
  apps/api/app/utils/validation_progress.py
  apps/web/src/__tests__/ExportLCUploadTyping.test.tsx
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/hooks/useValidationProgress.ts
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @documentation-team, @backend-team, @security-team, @frontend-team

Allow X-Client-Request-ID in CORS and wire SSE into LC intake
  apps/api/main.py
  apps/web/src/pages/ExportLCUpload.tsx
Owners: @backend-team, @security-team, @frontend-team

Unblock route guards when onboarding API fails
  apps/web/src/components/onboarding/OnboardingProvider.tsx
Owners: @frontend-team

Fix three state disagreements in the results page
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Revert exporter results layout to 4-tab format
  apps/web/src/__tests__/DocumentCard.test.tsx
  apps/web/src/__tests__/ExporterResults.test.tsx
  apps/web/src/pages/ExporterResults.tsx
Owners: @frontend-team

Stop surfacing model_suggested fields as unresolved
  apps/web/src/components/lcopilot/DocumentDetailsDrawer.tsx
Owners: @frontend-team

Make extraction vision-first with L1->L2->L3 tier escalation
  apps/api/app/config.py
  apps/api/app/routers/validation/ocr_runtime.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Add three-pass validation pipeline (tiered AI -> rules -> Opus veto)
  apps/api/app/config.py
  apps/api/app/routers/validation/validation_execution.py
  apps/api/app/services/validation/tiered_validation.py
Owners: @backend-team, @security-team

Let tiered AI pipeline run through extraction_resolution gate
  apps/api/app/config.py
  apps/api/app/routers/validation/validation_execution.py
Owners: @backend-team, @security-team

Fail open to user dashboard when onboarding status is unavailable
  apps/web/src/__tests__/lcopilotRouting.test.ts
  apps/web/src/lib/lcopilot/routing.ts
Owners: @frontend-team

Stop locking results UI on extraction_resolution when tiered AI ran
  apps/api/app/routers/validation/presentation_contract.py
Owners: @backend-team, @security-team

Add extract_only mode and resume endpoint to validation pipeline
  apps/api/app/routers/validate_run.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/request_parsing.py
  apps/api/tests/validate_run_failure_breadcrumbs_test.py
Owners: @backend-team, @security-team, @qa-team

Route upload flow through extract → review → validate
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Derive required fields from LC clauses (MT700-aligned)
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/api/app/services/extraction/required_fields_derivation.py
  apps/api/tests/required_fields_derivation_test.py
Owners: @backend-team, @security-team, @qa-team

Add canonical LCDocument model (step 1 of 3 — format-agnostic LC shape)
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_document.py
  apps/api/tests/lc_document_test.py
Owners: @backend-team, @security-team, @qa-team

Wire swift_mt700_full into fallback + fill ISO 20022 mandatory gaps (steps 2 & 3)
  apps/api/app/services/extraction/iso20022_lc_extractor.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_document.py
  apps/api/tests/lc_document_test.py
Owners: @backend-team, @security-team, @qa-team

Inline extraction review + fix 36-missing-fields bug batch (A-E)
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/api/app/services/extraction/required_fields_derivation.py
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/lib/exporter/exporterSections.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/ExporterDashboard.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

Add LC field aliases and value-level splits for 41a and 31D
  apps/api/app/services/extraction/launch_pipeline.py
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

Render long-form fields as readable textareas in extraction review
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Stop micromanaging the vision LLM, give it text + cross-doc context
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

Use Sonnet L2 for all docs + deterministic cross-doc backfill
  apps/api/app/routers/validate.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Stop clobbering LC user_facing_fields with sparse extractor sub-dict
  apps/api/app/routers/validate.py
Owners: @backend-team, @security-team

Strip inlined SWIFT field labels from LC extracted values
  apps/api/app/services/extraction/launch_pipeline.py
Owners: @backend-team, @security-team

Also clean SWIFT labels on lc_number alias keys (number/reference)
  apps/api/app/services/extraction/launch_pipeline.py
Owners: @backend-team, @security-team

Backend pass: ISO dates, 43P/43T surfacing, generic cross-doc mesh, missing-docs API
  apps/api/app/routers/validate.py
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_document.py
  apps/api/app/services/extraction/swift_mt700_full.py
Owners: @backend-team, @security-team

Frontend: render missing required docs warning on Extract & Review
  apps/web/src/hooks/use-lcopilot.ts
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

Filter cross-doc required fields through each doc's schema + insurance family
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/services/extraction/required_fields_derivation.py
Owners: @backend-team, @security-team

Q1/Q2/Q5/Q6 polish: subtype labels, strict OBL, UX wording, CARTON N-M heuristic
  apps/api/app/routers/validation/pipeline_runner.py
  apps/api/app/routers/validation/session_setup.py
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/lc_classifier.py
  apps/web/src/lib/exporter/workflowDetection.ts
  apps/web/src/pages/ExportLCUpload.tsx
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @backend-team, @security-team, @frontend-team

Bug fixes from 5-set test: decimal-comma, over-strip, L2 env, tier diagnostics
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/lc_document.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
  apps/api/app/services/extraction/swift_mt700_full.py
Owners: @backend-team, @security-team

Surface tier_attempts via ContextVar even when multimodal returns None
  apps/api/app/services/extraction/launch_pipeline.py
  apps/api/app/services/extraction/multimodal_document_extractor.py
Owners: @backend-team, @security-team

Fix contradictory missing-field wording on the LC review section
  apps/web/src/pages/exporter/ExtractionReview.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code owners for LCopilot
# This file defines who should review changes to specific parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these people are responsible for everything unless overridden
* @admin-team

# Backend API and core services
/apps/api/ @backend-team @security-team
/apps/api/src/auth/ @backend-team @security-team
/apps/api/src/billing/ @backend-team @billing-team
/apps/api/src/compliance/ @backend-team @compliance-team
/apps/api/src/governance/ @backend-team @security-team @compliance-team

# Frontend application
/apps/web/ @frontend-team
/apps/web/src/components/billing/ @frontend-team @billing-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team
/apps/web/src/components/governance/ @frontend-team @security-team

# Infrastructure and deployment
/deploy/ @devops-team @infrastructure-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
/terraform/ @devops-team @infrastructure-team

# Security-critical files
/apps/api/src/auth/ @security-team
/apps/api/src/middleware/security.py @security-team
/apps/web/src/lib/auth.ts @security-team
/.github/workflows/security-scan.yml @security-team

# Database and migrations
/apps/api/alembic/ @backend-team @database-team
/apps/api/src/models/ @backend-team @database-team
/.github/workflows/database-maintenance.yml @database-team @devops-team

# Testing
/apps/api/tests/ @backend-team @qa-team
/apps/web/tests/ @frontend-team @qa-team
/tests/e2e/ @qa-team
/tests/performance/ @qa-team @devops-team

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
/CHANGELOG.md @admin-team
*.md @documentation-team

# Configuration files
/apps/api/requirements*.txt @backend-team @security-team
/apps/web/package*.json @frontend-team @security-team
/apps/api/pyproject.toml @backend-team
/apps/web/tsconfig.json @frontend-team
/apps/web/vite.config.ts @frontend-team
/apps/api/alembic.ini @backend-team @database-team

# Environment and secrets
/.env* @devops-team @security-team
/config/ @devops-team @security-team

# Billing and financial code (requires extra scrutiny)
/apps/api/src/billing/ @backend-team @billing-team @financial-team
/apps/api/src/payments/ @backend-team @billing-team @financial-team @security-team
/apps/web/src/components/billing/ @frontend-team @billing-team @financial-team

# Compliance and governance (requires compliance team approval)
/apps/api/src/compliance/ @backend-team @compliance-team @legal-team
/apps/api/src/governance/ @backend-team @compliance-team @legal-team @security-team
/apps/web/src/components/compliance/ @frontend-team @compliance-team @legal-team
/apps/web/src/components/governance/ @frontend-team @compliance-team @legal-team

# Monitoring and observability
/apps/api/src/monitoring/ @backend-team @devops-team
/apps/web/src/components/monitoring/ @frontend-team @devops-team
/observability/ @devops-team
/.github/workflows/performance-monitoring.yml @devops-team @qa-team

# API endpoints that handle sensitive operations
/apps/api/src/routes/admin.py @backend-team @security-team @admin-team
/apps/api/src/routes/billing.py @backend-team @billing-team @financial-team
/apps/api/src/routes/compliance.py @backend-team @compliance-team @legal-team
/apps/api/src/routes/governance.py @backend-team @compliance-team @legal-team @security-team

# Critical configuration files
/apps/api/src/config/ @backend-team @devops-team @security-team
/apps/web/src/config/ @frontend-team @devops-team @security-team

# External integrations
/apps/api/src/integrations/ @backend-team @integration-team
/apps/api/src/integrations/payments/ @backend-team @integration-team @billing-team @financial-team
/apps/api/src/integrations/notifications/ @backend-team @integration-team

# Performance critical code
/apps/api/src/middleware/rate_limiting.py @backend-team @performance-team
/apps/api/src/core/cache.py @backend-team @performance-team
/apps/web/src/lib/performance/ @frontend-team @performance-team

# Multi-region and internationalization
/apps/api/src/localization/ @backend-team @localization-team
/apps/web/src/locales/ @frontend-team @localization-team
/apps/api/src/regions/ @backend-team @devops-team @compliance-team

# Backup and disaster recovery
/.github/workflows/database-maintenance.yml @database-team @devops-team @admin-team
/scripts/backup/ @database-team @devops-team
/scripts/restore/ @database-team @devops-team @admin-team

# Release and versioning
/.github/workflows/release.yml @devops-team @admin-team
/CHANGELOG.md @admin-team @documentation-team
/VERSION @admin-team

# License and legal
/LICENSE @legal-team @admin-team
/NOTICE @legal-team @admin-team
/TERMS.md @legal-team @admin-team
/PRIVACY.md @legal-team @admin-team

# Branch-specific requirements
# These patterns require additional approvals for specific branches

# Production releases require executive approval
/production-release.yml @admin-team @executive-team

# Database schema changes require DBA approval
/apps/api/alembic/versions/ @backend-team @database-team @dba-team

# Payment processing changes require financial controls approval
/apps/api/src/payments/ @backend-team @billing-team @financial-team @financial-controls-team

# Security policy changes require CISO approval
/SECURITY.md @security-team @ciso-team
/.github/workflows/security-scan.yml @security-team @ciso-team

# Compliance policy changes require Chief Compliance Officer approval
/COMPLIANCE.md @compliance-team @legal-team @cco-team
